<div class="row backLeyCard">
  <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3 p-0">
    <div class="backLeyCard_title1">
      Stake Limit :
      <span class="red">{{MinStake(GameDetails)}}</span>&nbsp;-&nbsp;
      <span class="text-bold red">
        {{MaxStake(GameDetails)}}
      </span>
    </div>
    <div class="backLeyCard_title1">
      Max Profit :
      <span class="red">{{MaxProfit(GameDetails)}}</span>
    </div>
  </div>
  <div class="col-sm-4 col-md-5 col-lg-5 p-0 dis-none">
    <div class="backLeyCard_title2">
      {{constant.GameName[GameCode]}} - {{DisplayID}}
    </div>
  </div>


  <ng-container *ngIf="isLay">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 p-0">
      <div class="backLeyCard_title3">
        {{backLayName?.back}}
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 p-0">
      <div class="backLeyCard_title3">
        {{backLayName?.lay}}
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLay">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-0">
      <div class="backLeyCard_title3">
        {{backLayName?.back}}
      </div>
    </div>
  </ng-container>
</div>
<!--  {{(GameDetails?.MaxStakePerBet==-1)? 'No limit':GameDetails?.MaxStakePerBet}} -->