<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
          <img src="assets/images/logo/supernowa-logo-bk.png" alt="Supernowa" title="Supernowa" class="logo-web">
          <img src="assets/images/logo/supernowa-logo-bk.png" alt="Supernowa" title="Supernowa" class="logo-mobile">
          <!-- <img src="assets/images/victor-logo.png" alt="Supernowa" title="Supernowa" class="logo-web"> -->
          <!-- <img src="assets/images/victor-logo-star.png" alt="Supernowa" title="Supernowa" class="logo-mobile"> -->
          <span>Supernowa</span></a>
      </div>
    </div>
  </nav>
</header>
<div class="game-list">
  <div class="container">
    <div class="row">
      <p class="invalid"> Coming Soon </p>
    </div>
  </div>
</div>
