<!-- <div class="fp-remoteVideo">
  <div class="display" id="remoteVideo" >
    <i id="preloader" class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"
      style="position:absolute;top:43%;left:47.5%;color:#fff"></i>
  </div>
  <div class="text-center">
    <form id="form" class="form-horizontal" role="form">
      <div class="form-group">
        <div>
          <button id="playBtn" type="button" class="btn btn-default fa fa-play"></button>
        </div>
      </div>
    </form>
  </div>
</div> -->
<ng-container *ngIf="GameCode != 'TP' && GameCode != 'AB'">
  <div id="playerDiv"></div>
</ng-container>
<ng-container *ngIf="GameCode == 'TP' || GameCode == 'AB'">
  <video id="vplayer"></video>
</ng-container>
