::ng-deep #playerDiv {
  width: 100% !important;
  // height: 570px !important;
  overflow: hidden !important;
  position: relative !important;
  background-color: black !important;
  padding: 0;
  padding-bottom: 56.25%;
  display: block;
}

::ng-deep #controls-playerDiv {
  width: auto !important;
  display: flex !important;
  height: 8% !important;
  max-height: 96.875px !important;
  position: absolute !important;
  left: 0px !important;
  bottom: 0px !important;
  z-index: 1 !important;
  background-color: rgba(255, 255, 255, 0.7) !important;

  #playpause-controls-playerDiv,
  #time-controls-playerDiv {
    display: none !important;
  }
}

@media (min-width: 2000px) {
  #playerDiv {
    // height: 1200px !important;
  }
}

@media (max-width: 767px) {
  #playerDiv {
    // height: 300px !important;
  }
}
