<!-- <div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true"> -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        x
      </button>
      <h4 class="modal-title">Rules</h4>
    </div>
    <div class="modal-body text-left white ">
      <div [innerHtml]="rules"></div>
    </div>
  </div>
</div>
<!-- </div> -->
