<!-- <div class="timer"> -->
  <div class="countdown">
    <div class="countdown-number">{{second}}</div>
    <svg width="100%" height="100%">
      <circle class="countdown-animation" r="47%" cy="50%" cx="50%" stroke-width="8%" fill="none">
      </circle>
    </svg>
  </div>
<!-- </div> -->