// Countdown Timer
.countdown {
  position: relative;
  display: block;
  font-size: 3em;
  text-align: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  // color: #000;
  // background-color: #a3ff12;
  color: #FFF;
  background-color: transparent;
  z-index: 1010;
  line-height: 48px;
  margin-left: auto;

  .countdown-number {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
  }

  svg {
    transform: rotate(-90deg) scale(1, -1);

    circle {
      stroke: #fff;
    }
  }

  .countdown-animation {
    stroke-dasharray: 141;
    stroke-dashoffset: 141;
    transition: stroke-dashoffset 1s linear;
  }

  .ending {
    animation-name: timer-blinker;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }

  @keyframes timer-blinker {
    0% {
      stroke: white;
    }

    50% {
      stroke: transparent;
    }

    100% {
      stroke: white;
    }
  }
}
