.carousel-control {
  width: 4%;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  padding-top: 14px;
  z-index: 1;
  color: darkgoldenrod;
}

.carousel-control.left {
  margin-left: 8px;
}

.carousel-control.right {
  margin-right: -20px;
}

.carousel-inner {
  margin-bottom: 0px;
  padding: 0 20px 0 50px;
}

@media (max-width: 767px) {
  .carousel-inner .active.left {
    left: -100%;
  }

  .carousel-inner .next {
    left: 100%;
  }

  .carousel-inner .prev {
    left: -100%;
  }

  .active>div {
    display: none;
  }

  .active>div:first-child {
    display: block;
  }

}

@media (min-width: 767px) and (max-width: 992px) {
  .carousel-inner .active.left {
    left: -50%;
  }

  .carousel-inner .next {
    left: 50%;
  }

  .carousel-inner .prev {
    left: -50%;
  }

  .active>div {
    display: none;
  }

  .active>div:first-child {
    display: block;
  }

  .active>div:first-child+div {
    display: block;
  }
}

@media (min-width: 992px) {
  .carousel-inner .active.left {
    left: -16.7%;
  }

  .carousel-inner .next {
    left: 16.7%;
  }

  .carousel-inner .prev {
    left: -16.7%;
  }
}

.slide-game {
  background-color: #1a1a1a;
  border-radius: 10px;
  //   border: 1px solid goldenrod;
  border: 1px solid var(--light-bg-color);
  padding: 3px 5px;
  text-align: left;
  color: var(--primary-font-color);
  //   height: 35px;
  height: 50px;
  overflow: hidden;
  //   box-shadow: 0 0 11px 4px rgb(255 255 255 / 0.1) inset;
  box-shadow: 0px 0px 2px 2px rgba(252, 208, 49, 0.1) inset;
  cursor: pointer;
  margin: 0px 2px;
  display: flex;
  align-items: center;

  .game-img {
    background: linear-gradient(52.76deg, #f69e31 18.82%, #fcd031 77.36%);
    // box-shadow: 0em 0em 1.875em rgba(252, 208, 49, 0.35);
    box-shadow: 0px 0px 4px 2px #fcd031;
    border-radius: 50%;
    padding: 0px;
    width: 25px;
    height: 25px;
    float: left;
    text-align: center;
    overflow: hidden;
    margin-top: 8px;
    margin-left: 5px;

    img {
      max-height: 30px;
      max-width: 40px;
      margin-left: -3px;
      margin-top: -2px;
    }
  }

  .slide-game-name {
    width: calc(100% - 30px);
    float: left;
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
    display: table;
    height: 38px;

    span {
      padding: 0;
      margin: 0;
      font-weight: bold;
      display: table-cell;
      vertical-align: middle;
      // text-align: center;
    }
  }
}

.p-2 {
  padding: 0 2px;
}

.m-0 {
  margin: 0;
  border-color: rgba(218, 165, 32, 0.4);
}

.img-box {
  background: linear-gradient(52.76deg, #f69e31 18.82%, #fcd031 77.36%);
  box-shadow: 0em 0em 1.875em rgba(252, 208, 49, 0.35);
  border-radius: 50%;
  padding: 2px;
}



.slider-row {
  background: rgba(0, 0, 0, 0.75);
  padding: 5px 28px;
  z-index: 1;
}

.slide:hover,
.selected-game {
  .slide-game {
    background: var(--bg-liniar);
    color: #fff;

    .game-img {
      background: black;
      // box-shadow: 0em 0em 1.875em rgba(252, 208, 49, 0.35);
      box-shadow: 0px 0px 4px 2px #000000;
    }
  }
}

.news-scroll {
  margin: 2px 0 1px 0;
}

@media (max-width: 991px) {
  .victor-logo img {
    max-width: 40px;
    margin-top: 0px;
  }
}

.user-options {
  position: absolute;
  z-index: 11;
  top: 3px;
  right: 30px;
  display: block;
}

.user-options button {
  font-size: 14px;
  width: 30px;
  height: 30px;
}
