<div class="news-scroll">
  <div class="victor-logo">
    <img src="assets/images/logo/supernowa-logo.png" alt="Supernowa" title="Supernowa" class="logo-web">
    <img src="assets/images/logo/supernowa-circle.png" alt="Supernowa" title="Supernowa" class="logo-mobile">
    <!-- <img src="assets/images/victor-logo.png" alt="Supernowa" title="Supernowa" class="logo-web">
    <img src="assets/images/victor-logo-star.png" alt="Supernowa" title="Supernowa" class="logo-mobile"> -->
    <!-- <h5 class="game-title visible-xs">{{constant.GameName[GameCode]}}</h5> -->
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-4 hidden-xs">
      <h5 class="game-title text-left">{{constant.GameName[GameCode]}}</h5>
    </div>
    <div class="col-md-8 col-sm-7 col-xs-10 overflow-hidden" style="position: static;">
      <div class="marquee">
        <h1 *ngIf="News">
          <span *ngFor="let news of News"> &nbsp;&nbsp;&nbsp;&nbsp;✺ {{news}} </span>
        </h1>
      </div>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-2 text-center">
      <div class="user-options">
        <div class="my-account">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-user" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <li class="dropdown-header"><i class="fa fa-user" aria-hidden="true"></i> Welcome, {{userName}}</li>
              <li role="separator" class="divider"></li>
              <li><a class="pointer" (click)="GetMarketHistory()"><i class="fa fa-calculator"></i> Transaction
                  Report</a></li>
              <li>
                <a href="#ChipsSettingPopup" data-toggle="modal" (click)="constant.SetGameChips();">
                  <i class="fa fa-cog"></i> Chips Setting
                </a>
              </li>
              <li>
                <app-one-click [isHeader]="true" [IsOneClick]="IsOneClick"></app-one-click>
              </li>
              <li>
                <a class="pointer" (click)="OpenCurrentGameRule()">
                  <i class="fa fa-info" style="width: 14px;text-align: center;"></i> Game Rules
                </a>
              </li>
              <li><a class="pointer" (click)="Logout()"><i class="fa fa-power-off"></i> Back to lobby</a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="volume">
          <button class="btn btn-default" (click)="constant.toggleSound()">
            <i class="fa fa-volume-up" *ngIf="constant.IsSound"></i>
            <i class="fa fa-volume-off" *ngIf="!constant.IsSound"></i>
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="user-assets">
    <span class="bal">
      <i class="fa fa-credit-card"></i> Balance : <i class="fa fa-inr"></i>
      {{balance | number:'1.2-2'}}
    </span>
    <span class="lia">
      <i class="fa fa-credit-card"></i> Liability : <i class="fa fa-inr"></i>
      {{liability | number:'1.2-2'}}
    </span>
  </div> -->
</div>

<div class="col-md-12 slider-row">
  <div class="col-md-12" *ngIf="GameList.length">
    <ngx-slick-carousel class="carousel carousel-a" id="slickAModal" #slickAModal="slick-carousel"
      [config]="slideConfig">
      <div ngxSlickItem class="slide" *ngFor="let game of GameList;let i=index"
        [ngClass]="{'selected-game': GameCode == game.GameCode.trim() }" (click)="OpenGameRule(game,i)">
        <div class="slide-game">
          <div class="game-img">
            <img src="{{constant.GameIcon[game.GameCode.trim()]}}" alt="{{game.Name}}"
              onerror="this.src='assets/images/teen-patti.jpg';">
            <!-- <img src="{{game.ImagePath}}" alt="{{game.Name}}" onerror="this.src='assets/images/teen-patti.jpg';"> -->
          </div>
          <div class="slide-game-name">
            <span>{{game.Name}}</span>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>

<div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">Rules</h4>
      </div>
      <div class="modal-body text-left">
        <div [innerHtml]="CurrentGame.Rules"></div>
      </div>
    </div>
  </div>
</div>
<!-- Rules Pop Up Start -->
<div id="AgreeRulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">Rules</h4>
      </div>
      <div class="modal-body text-left">
        <div [innerHtml]="SelectedGame?.Rules"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md alert-success" data-dismiss="modal" aria-hidden="true"
          (click)="NavigatoToGame()">I Agree
        </button>
        <button type="button" class="btn btn-md alert-danger" data-dismiss="modal" aria-hidden="true"> Disagree
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Rules Pop Up End -->
