.flipcard {
  width: 40px;
  height: 60px;
  margin: 0 3px;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.historycard.flipcard {
  width: 28px;
  height: 45px;
}

[hidden] {
  display: none !important;
}

.cut-run a.active {
  color: black;
  background-color: var(--primary-font-color);
  transition: all 0.5s;
}

.cut-run a {
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid black;
  font-weight: bold;
  color: white;
  display: block;
  transition: all 0.5s;
  cursor: pointer;
}

.cut-run a:hover {
  color: black;
  background-color: var(--primary-font-color);
  transition: all 0.5s;
}

.cut-run-info {
  a {
    color: var(--primary-font-color);
  }

  font-weight : bold;
  text-align : center;
  vertical-align: middle;
  font-size : 15px;
}

.cut-run-pos {
  color: var(--primary-font-color);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

.game-status {
  width: calc(100%) !important;
  height: calc(100% - 98px);
}

.chips-container {
  padding-top: 8px;
}

.md-chip-closed a.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--primary-font-color);
}

.card-item {
  background: var(--primary-font-color);
  padding: 5px 20px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.playera,
.playerb {
  width: 100%;
  text-align-last: center;

  h6 {
    span {
      color: var(--primary-font-color);
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid var(--primary-font-color);
      padding: 2px 10px;
      letter-spacing: 0;
      border-radius: 20px;
      font-weight: bold;
      width: auto;
      height: auto;
    }
  }
}

.playera {
  text-align: right;

  h6 {
    text-align: right;
    padding-right: 30px;

    span {
      float: right;
    }
  }
}

.m-t-215 {
  margin-top: 250px;
}

.player-cards {
  // background-image: url("/assets/images/full-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 428px;
}

@media (max-width: 991px) {

  .playera,
  .playerb {
    text-align: center;
    padding: 0;

    h6 {
      padding: 0;
      text-align: center;

      span {
        float: none;
        margin: 0;
      }
    }
  }

  .modal-body {
    .player-cards {
      width: 100%;
    }
  }

  .player-cards {
    height: 480px;
  }

  .m-t-215 {
    margin-top: 280px;
  }
}

@media (max-width: 767px) {
  .flipcard {
    height: 60px;
  }

  .player-cards {
    height: 400px;
  }

  .retro-button .trade-button {
    max-width: 16.5rem;
  }

  .m-t-215 {
    margin-top: 230px;
  }

  .game-status {
    height: calc(100% - 129px);
  }
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 180px;
    padding-top: 15px;
  }
}


.player-cards.andar-bahar h6 {
  font-size: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}


.winning-message-video {
  top: -10%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   z-index: 1;
// }


.w-100 {
  width: 100%;
}

@media (max-width: 482px) {
  .cut-run-pos {
    font-size: 13px;
    padding-left: 2px !important;
    padding-right: 0 !important;
  }

  .game-status {
    height: calc(100% - 136px);
  }
}

.game-timer {
  left: 5px;
}
