<!-- <app-news-header [News]="GameDetails.News" [GameCode]="GameCode" [hidden]="!IsVerified" [balance]="GameBalance"
  [liability]="GameLiability" [gameId]="GameID" [IsOneClick]="IsOneClick" (PlayerDes)="PlayerDes($event)" [userName]="UserName">
</app-news-header> -->
<div class="container-fluid">
  <div class="row gutters-5" [hidden]="!IsVerified">
    <div class="col-md-8 p-0">
      <div class="virtual-card-box">
        <div class="winning-message-video" *ngIf="GameWinningHand !== ''">
          <div class="who-wins">
            WINNER {{GameWinningHand}} ({{GameWinner}})
          </div>
        </div>
        <div class="second-left-part" (click)="constant.getGameRule(GameID)">
          <a href="#RulesPopup" data-toggle="modal"> <i class="fa fa-info-circle" title="Rule"></i></a>
        </div>
        <div class="game-timer virtual-game-timer">
          <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
        </div>
        <app-virtual-card-view [GameCard]="GameCard" [GameCode]="GameCode" [GameID]="GameID"></app-virtual-card-view>
        <div class="agent-logo">
          <img src="{{GameDetails.LogoPath}}" alt="">
        </div>
      </div>

      <div class="match-odds">
        <div class="marketborder">
          <div class="col-md-6 col-sm-12 dis-show nopadding">
            <h3 class="markettitle"><span>{{constant.GameName[GameCode]}} - {{DisplayID}}</span></h3>
          </div>
          <div class="marketdivcontent">
            <div class="nopadding" posr>
              <div class="posr">
                <table class="table table-market noMarginBottom">
                  <thead>
                    <tr class="row">
                      <th colspan="3" class="col-xs-12 text-left bettitle runnertitle stackvalue">
                        <div class="col-md-4 col-sm-4 col-xs-12 nopadding text-left white" style="line-height:1.2;">
                          <app-stake-limit [GameDetails]="GameDetails"></app-stake-limit>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 dis-none nopadding">
                          <h3 class="markettitle text-center"><span>{{constant.GameName[GameCode]}} -
                              {{DisplayID}}</span></h3>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row">
                      <td class="col-xs-2 cut-run-pos">1 Ka {{stringToNumber(GameRate[CurrentRunner][1])+1}}<br>(Rate
                        {{stringToNumber(GameRate[CurrentRunner][1])}})</td>
                      <td class="col-xs-9 nopadding">
                        <div class="col-xs-6 col-sm-3 col-md-3 cut-run nopadding">
                          <a [class.active]="CurrentRunner=='Single'" (click)="ChangeRunner('Single')">Single</a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 cut-run nopadding">
                          <a [class.active]="CurrentRunner=='SP'" (click)="ChangeRunner('SP')">SP</a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 cut-run nopadding">
                          <a [class.active]="CurrentRunner=='DP'" (click)="ChangeRunner('DP')">DP</a>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 cut-run nopadding">
                          <a [class.active]="CurrentRunner=='TP'" (click)="ChangeRunner('TP')">TP</a>
                        </div>
                      </td>
                      <td class="col-xs-1 cut-run-info">
                        <a [hidden]="(CurrentRunner=='SP' || CurrentRunner=='DP') && PlayerNum==null" href="#total-pana"
                          data-toggle="modal" class="card-seq">
                          <i class="fa fa-info-circle"></i>
                        </a>
                      </td>
                    </tr>
                    <tr class="row">
                      <td colspan="3" class="col-xs-12">
                        <div class="chips-container">
                          <div class="md-chip-closed" [hidden]="CurrentRunner == 'TP'"
                            *ngFor="let item of TotalPana.Single;">
                            <a class="btn orange" [class.active]="PlayerNum==item"
                              (click)="AddBet(CurrentRunner,item,1)">
                              {{item}}
                            </a>
                          </div>
                          <div class="md-chip-closed" [hidden]="CurrentRunner != 'TP'">
                            <a class="btn orange" [class.active]="PlayerNum==0" (click)="AddBet(CurrentRunner,0,1)"> All
                              {{PlayerNum}}
                            </a>
                          </div>
                        </div>
                        <div *ngIf="GameStatus !== 1" class="game-status">
                          <span>{{constant.GameStatus[GameStatus]}}</span>
                        </div>
                      </td>
                    </tr>
                    <tr class="row mob-bet-slip" *ngIf="ShowBetSlip">
                      <td class="col-xs-12" colspan="3">
                        <div class="bet-slip-player">
                          <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                            [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                            [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                            (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                          </app-bet-slip>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn" data-toggle="modal"
        data-target="#matchbetsPopup">
        Bet List ({{GameBetList.length}})
      </button>
      <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn green pull-right" data-toggle="modal"
        data-target="#matchresultPopup">
        Game Result
      </button>
    </div>

    <div class="col-md-4">
      <div class="col-xs-12 betslip-web p-0">
        <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
          [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus" [GameID]="GameID"
          [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
        </app-bet-slip>
      </div>

      <div class="marketborder one-click-bet">
        <app-one-click [isHeader]="false" [IsOneClick]="IsOneClick" (oneClick)="oneClick($event)"></app-one-click>

        <div *ngIf="IsOneClick && !IsEdit" class="one-click-value">
          <div class="btn-group mr-5" data-toggle="buttons">
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip1}"
              (click)="DefaultChip=GameDetails.Chip1;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip1}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip2}"
              (click)="DefaultChip=GameDetails.Chip2;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip2}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip3}"
              (click)="DefaultChip=GameDetails.Chip3;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip3}}
            </label>
          </div>
          <button type="button" class="btn btn-success one-click-edit-btn" (click)="EditOneClickChips(0)">Edit
          </button>
        </div>
        <div *ngIf="IsOneClick && IsEdit" class="one-click-edit">
          <div class="form-inline">
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip1"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip2"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip3"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <button type="submit" class="btn btn-success one-click-save"
              (click)="AddUpdateOneClickChips()">Save</button>
            <button type="reset" class="btn btn-danger one-click-cancel" (click)="IsEdit=false">Cancel</button>
          </div>
        </div>
      </div>
      <div class="betslip-container matchedbet">
        <app-bet-list [isModal]="false" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
          [betList]="GameBetList"></app-bet-list>
      </div>
      <!-- History Result Start -->
      <div class="marketborder hidden-xs matchedbet" style="margin-top: 10px;">
        <div class="col-md-12 col-sm-12 nopadding">
          <h3 class="markettitle text-center"><span>Game Result</span></h3>
        </div>
        <div class="marketdivcontent">
          <div class="nopadding text-center" posr>
            <div class="title-list green" *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="overlay"></div>

<!-- <app-rules *ngIf="GameCode" [code]="GameCode"></app-rules> -->

<app-chips-setting [minStack]="GameDetails.MinStakePerBet" [maxStack]="GameDetails.MaxStakePerBet">
</app-chips-setting>

<app-error *ngIf="!IsVerified" [errorMessage]="DisplayMessage"></app-error>

<app-bet-list [isModal]="true" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
  [betList]="GameBetList"></app-bet-list>

<!-- Round History Pop Up Start -->
<div id="RhistoryPopup" class="modal fade modal-scroll" style="z-index: 1054;" tabindex="-1" data-replace="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">{{constant.GameName[GameCode]}} (ID -
          {{GameHistoryDetails.DisplayID}})</h4>
      </div>
      <div class="modal-body">
        <div class="player-cards">
          <div class="playera" style="text-align: center;">
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[2]]}}"> </div>
            </div>
            <div class="game-result win">Winner {{GameHistoryDetails.Winner}} ({{GameHistoryDetails.WinningHand}})
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Round History Pop Up End -->

<div id="total-pana" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x </button>
        <h4 class="modal-title">{{CurrentRunner}} - Total Pana ({{TotalPana[PanaRunner].length}})</h4>
      </div>
      <div class="modal-body">
        <div class="card-sequence">
          <div class="card-item" *ngFor="let pana of TotalPana[PanaRunner]">{{pana}}</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Game Result Popup Start-->
<div id="matchresultPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">Game Result</h4>
      </div>
      <div class="modal-body result-background">
        <div class="marketdivcontent">
          <div class="nopadding text-align" posr>
            <div class="title-list green" *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Game Result Popup End-->
<!-- Game Rule -->
<div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <app-rules [rules]="constant.gameRule"></app-rules>
</div>
