.flipcard {
  width: 40px;
  height: 60px;
  margin: 0 3px;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.historycard.flipcard {
  width: 28px;
  height: 45px;
}

@media (max-width: 991px) {
  .player-cards {
    text-align: center;
  }
}

// Retro Button
.st0 {
  display: none;
  fill: #FFC959;
}

.st1 {
  fill: none;
  stroke: #FFC959;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
}

.trade-name span.value {
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 2px;
}

.trade-name .green,
.trade-name .red {
  display: block;
  font-size: 11px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 2px;
}

.trade-name {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  pointer-events: all;
  background-color: #070737;
  color: #FFC959;
  text-decoration: none;
  border-radius: 0.5rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .6);
  transition: all 0.4s ease-in-out;
}

.trade-background {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border: 1px solid #8E6F2D;
  padding: 3px 0;
  border-radius: 0.5rem;
}

.trade-button {
  width: 100%;
  height: 7.5rem;
  font-size: 1.85rem;
  display: table;
  position: relative;
  padding: 5px 0;
}

@media (max-width: 767px) {
  .trade-background {
    padding: 3px;
  }

  .flipcard {
    height: 60px;
  }

  .trade-button {
    width: 100%;
    min-width: 49%;
  }
}

.dark-blue {
  background-color: #070737;
}

.dark-blue:hover {
  background: #0e0e66;
}

.dark-green {
  background-color: #092e13;
}

.dark-green:hover {
  background: #0f461e;
}

.dark-red {
  background-color: #510c14;
}

.dark-red:hover {
  background: #7d1824;
}

.dark-gray {
  background-color: #004747;
}

.dark-gray:hover {
  background: #1a5f5f;
}

.table-market thead tr {
  background-color: #191c29;
}

// New Design 15 May 2020
.table-market>thead>tr>th {
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  vertical-align: middle;
}

.mobile-cashout.stackvalue .col-md-12 {
  background: #13151c;
  border: 1px dashed rgba(255, 255, 255, .25);
  font-size: 15px;
  padding: 5px 5px;
  border-radius: 30px;
  text-align: center !important;
  margin-top: 10px;
  /* width: 49%; */
}

.mobile-cashout.stackvalue .col-md-12+.col-md-12 {
  margin-bottom: 10px;
}

.table-market {
  /* background-color: rgba(0,0,0,.87); */
  background-color: #191c29;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.table-market.custom-market tr th,
.table-market.custom-market tr td {
  font-weight: 600;
  line-height: 1.2 !important;
  padding: 5px !important;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.table-market>thead>tr>th,
.table-market>thead>tr>td {
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  vertical-align: middle;
  padding: 7px 5px;
}

.table-market>tbody>tr>td {
  border-color: rgba(255, 255, 255, 0.15);
}

.table-market.custom-market tr td a {
  color: #fff;
  text-decoration: none !important;
}

.game-status-ex {
  width: calc(100% - 15px) !important;
  height: 100%;
}

@media (max-width: 991px) {
  .table-market>thead>tr>th {
    border-bottom: 0;
  }

  .game-status {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .mobile-cashout.stackvalue {
    position: relative;
    transform: none;
    margin-top: 0;
  }

  .mobile-cashout.stackvalue .col-md-12:first-child {
    margin-right: 3px;
  }

  .mobile-cashout.stackvalue .col-md-12:last-child {
    margin-left: 3px;
  }

  .mobile-cashout.stackvalue .col-md-12 {
    width: 49%;
    margin-top: 0;
  }

  .game-status {
    height: calc(100%);
    width: calc(100% - 30px) !important;
    right: 15px;
  }
}

.game-status-no-bets {
  bottom: 1px;
  right: 0px;
}

@media (max-width: 450px) {
  .stake-title {
    display: block;
    padding-bottom: 5px;
  }

  .trade-button {
    font-size: 1.25rem;
  }
}

.winner-hand {
  color: #f7ac25;
  font-weight: bold;
}

.dragon-color {
  background-color: #092e13;
}

.dragon-color:hover {
  background-color: #0f461e;
}

.tiger-color {
  background-color: #510c14;
}

.tiger-color:hover {
  background-color: #7d1824;
}

.tie-color {
  background-color: #004747;
}

.tie-color:hover {
  background-color: #1a5f5f;
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}

.player-cards {
  // background-image: url("/assets/images/full-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 428px;
}

.player-cards.andar-bahar h6 {
  font-size: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.winning-message-video {
  top: 3%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   z-index: 1;
// }

.playera,
.playerb {
  width: 50%;
  float: left;
  padding-right: 25px;

  h6 {
    span {
      color: var(--primary-font-color);
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid var(--primary-font-color);
      padding: 2px 10px;
      letter-spacing: 0;
      border-radius: 20px;
      font-weight: bold;
      width: auto;
      height: auto;

    }
  }
}

.playera {
  text-align: center;

  h6 {
    text-align: center;

    span {
      float: none;
    }
  }
}

.playerb {
  text-align: center;

  h6 {
    text-align: center;

    span {
      float: none;
    }
  }
}

.teen-patti {
  margin: auto;
  width: 40%;
  margin-top: 245px;
}

@media (max-width: 991px) {
  .player-cards {
    height: 480px;
  }

  .pl-crd {
    position: absolute !important;
  }

  .teen-patti {
    margin-top: 280px;
    width: 60%;
  }

  .playera,
  .playerb {
    text-align: center;
    padding: 0;

    h6 {
      padding: 0;
      text-align: center;

      span {
        float: none;
        margin: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .player-cards {
    height: 400px;
  }

  .teen-patti {
    width: 60%;
    margin-top: 215px;
  }
}

@media (max-width: 550px) {
  // .player-cards {
  //   background-image: url("/assets/images/mobile-background.jpg");
  //   background-position-x: 55%;
  // }

  .teen-patti {
    width: 90%;
  }
}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 270px;
  }

  .playera,
  .playerb {
    padding-right: 0px;
  }
}

.game-timer {
  left: 5px;
}
