<!-- <app-news-header [News]="GameDetails.News" [GameCode]="GameCode" [hidden]="!IsVerified" [balance]="GameBalance"
  [liability]="GameLiability" [gameId]="GameID" [IsOneClick]="IsOneClick" (PlayerDes)="PlayerDes($event)" [userName]="UserName">
</app-news-header> -->
<div class="container-fluid">
  <div class="row gutters-5" [hidden]="!IsVerified">
    <div class="col-md-8 p-0">
      <div class="virtual-card-box">
        <div class="winning-message-video" *ngIf="GameWinner">
          <div class="who-wins">
            WINNER {{GameWinner}}
            <br><span *ngIf="GameWinningHand.DragonSuite">Dragon : {{GameWinningHand.DragonSuite}} |
              {{GameWinningHand.Dragon}}</span>
            <br><span *ngIf="GameWinningHand.TigerSuite">Tiger : {{GameWinningHand.TigerSuite}} |
              {{GameWinningHand.Tiger}}</span>
          </div>
        </div>
        <div class="second-left-part" (click)="constant.getGameRule(GameID)">
          <a href="#RulesPopup" data-toggle="modal"> <i class="fa fa-info-circle" title="Rule"></i></a>
        </div>
        <div class="game-timer virtual-game-timer">
          <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
        </div>
        <app-virtual-card-view [GameCard]="GameCard" [GameCode]="GameCode" [GameID]="GameID"></app-virtual-card-view>
        <div class="agent-logo">
          <img src="{{GameDetails.LogoPath}}" alt="">
        </div>
      </div>


      <div class="match-odds">
        <div class="marketborder">
          <div class="col-md-12 col-sm-12 nopadding">
            <h3 class="markettitle text-center"><span>{{constant.GameName[GameCode]}} - {{DisplayID}}</span></h3>
          </div>
          <div class="marketdivcontent">
            <div class="nopadding" posr>
              <div class="posr">
                <div class="row">
                  <div class="col-sm-5">
                    <div class="mobile-cashout stackvalue white">
                      <div class="col-md-12 col-sm-12 col-xs-6 text-center white"
                        style="line-height:1;font-weight:500;">
                        <span class="stake-title">Stake Limit: </span>
                        <span class="red">{{MinStake(GameDetails)}}</span>&nbsp;-&nbsp;
                        <span class="text-bold red">
                          {{MaxStake(GameDetails)}}
                        </span>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-6 text-center white"
                        style="line-height:1;font-weight:500;">
                        <span class="stake-title">Max Profit: </span>
                        <span class="red">
                          {{MaxProfit(GameDetails)}}
                        </span>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="col-sm-7">
                    <table class="table table-market noMarginBottom custom-market">
                      <thead>
                        <tr class="row">
                          <th class="col-xs-4 text-center white"
                            *ngFor="let item of constant.GameRunner.DTUI.Tab1 | keyvalue: constant.asIsOrder;">
                            {{item.value}}
                            <span style="display: block;" [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">
                              {{PL[item.key + 'PL'] | number:'1.2-2'}}
                            </span>
                          </th>
                        </tr>
                        <tr class="row">
                          <td class="col-xs-4 text-center pointer"
                            *ngFor="let item of constant.GameRunner.DTUI.Tab1 | keyvalue: constant.asIsOrder;"
                            [ngClass]="item.value=='Dragon'?'dragon-color':item.value=='Tiger'?'tiger-color':'tie-color'">
                            <a (click)="AddBet(item.key,1)" [hidden]="GameRate[item.key][1] == '-'" class="open-bet">
                              <div class="price">{{GameRate[item.key][1]}}</div>
                            </a>
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="row mob-bet-slip"
                          *ngIf="ShowBetSlip && constant.GameRunner.DTUI.Tab1.hasOwnProperty(GameBetDetails.Runner)">
                          <td class="col-xs-12" colspan="3">
                            <div class="bet-slip-player">
                              <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                                [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                                [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                                (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                              </app-bet-slip>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="clearfix"></div>
                    <div class="game-status game-status-ex" *ngIf="ShowGameStatusOverlay">
                      <span *ngIf="GameWinner=='Tie'">Tie</span>
                      <span *ngIf="GameWinner!='Tie'">{{constant.GameStatus[GameStatus]}}</span>
                    </div>
                  </div>
                </div>

                <!-- <table class="table table-market noMarginBottom">
                      <thead>
                        <tr class="row">
                          <th
                            class="col-md-8 col-sm-8 col-xs-8 text-left bettitle runnertitle stackvalue">
                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding text-left white" style="line-height:1.2;">
                              Stake Limit :
                              <span class="red">{{GameDetails?.MinStakePerBet}}</span>&nbsp; -&nbsp;
                              <span
                                class="text-bold red">{{(GameDetails?.MaxStakePerBet==-1)?'No limit':GameDetails?.MaxStakePerBet}}</span>
                              <br>
                              Max Profit : <span
                                class="red">{{(GameDetails?.MaxProfit==-1)?'No limit':GameDetails?.MaxProfit}}</span>
                            </div>
                          </th>
                          <th class="col-md-4 col-sm-4 col-xs-4 white text-center ">Back</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="row"
                        *ngFor="let item of constant.GameRunner.DTUI.Tab1 | keyvalue: constant.asIsOrder;">
                          <td class="col-md-8 col-sm-8 col-xs-8 Title text-left white posr">
                            {{item.value}}
                            <span class="small" [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'"
                              style="display: block;">{{PL[item.key + 'PL']}}
                              <span class="cashout-price" *ngIf="!ShowCashout">&nbsp;>&nbsp;&nbsp;{{CashoutPL}}</span>
                              <span class="cashout-price" *ngIf="ShowCashout">&nbsp;>&nbsp;&nbsp;{{CashoutPL}}</span>
                            </span>
                            <div class="msg" *ngIf="GameWinner == item.value">WINNER</div>
                          </td>
                          <td class="col-md-2 col-sm-2 col-xs-2 back-rate-header text-center cursor-pointer">
                            <a class="open-bet" (click)="AddBet(item.key,1)" [hidden]="GameRate[item.key][1] == '-'">
                              <div class="price">{{GameRate[item.key][1]}}</div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table> -->

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12 col-sm-12 nopadding mt-2">
        <h3 class="markettitle text-center"><span>Dragon</span></h3>
        <div class="marketdivcontent">
          <div class="nopadding">
            <div class="posr">
              <table class="table table-market table-striped noMarginBottom">
                <thead>
                  <tr class="row">
                    <th class="col-xs-3 col-sm-3 col-md-3 text-center white"
                      *ngFor="let item of constant.GameRunner.DTUI.Tab2Dragon | keyvalue: constant.asIsOrder;let i=index;">
                      <div class="trade-button pointer" (click)="WinnerBet(item.key,1)">
                        <div class="trade-background">
                          <app-svg-button-img></app-svg-button-img>
                        </div>
                        <div class="trade-name" [ngClass]="constant.bgColor[i]">{{item.value}}
                          <span class="value" [hidden]="GameRate[item.key][1] == '-'"
                            [ngClass]="(GameRate[item.key][1])>0?'green':'red'">
                            {{GameRate[item.key][1]}}
                          </span>
                          <span [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">
                            {{(PL[item.key + 'PL'] | number:'1.2-2')}}
                          </span>
                        </div>
                      </div>
                    </th>
                  </tr>
                  <tr class="row mob-bet-slip" 
                    *ngIf="!GameCard.PlayerACard[0] && !ShowGameStatusOverlay && ShowBetSlip && constant.GameRunner.DTUI.Tab2Dragon.hasOwnProperty(GameBetDetails.Runner)">
                      <td class="col-xs-12" colspan="4">
                        <div class="bet-slip-player">
                          <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                            [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                            [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                            (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                          </app-bet-slip>
                        </div>
                      </td>
                    </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <h3 class="markettitle text-center"><span>Tiger</span></h3>
        <div class="marketdivcontent">
          <div class="nopadding">
            <div class="posr">
              <table class="table table-market table-striped noMarginBottom">
                <thead>
                  <tr class="row">
                    <th class="col-xs-3 col-sm-3 col-md-3 text-center white pointer"
                      *ngFor="let item of constant.GameRunner.DTUI.Tab2Tiger | keyvalue: constant.asIsOrder;let i=index;">
                      <div class="trade-button" (click)="WinnerBet(item.key,1)">
                        <div class="trade-background">
                          <app-svg-button-img></app-svg-button-img>
                        </div>
                        <div class="trade-name" [ngClass]="constant.bgColor[i]">{{item.value}}
                          <span class="value" [hidden]="GameRate[item.key][1] == '-'"
                            [ngClass]="(GameRate[item.key][1])>0?'green':'red'">
                            {{GameRate[item.key][1]}}
                          </span>
                          <span [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">
                            {{(PL[item.key + 'PL'] | number:'1.2-2')}}
                          </span>
                        </div>
                      </div>
                    </th>
                  </tr>
                  <tr class="row mob-bet-slip" 
                    *ngIf="!GameCard.PlayerACard[0] && !ShowGameStatusOverlay && ShowBetSlip && constant.GameRunner.DTUI.Tab2Tiger.hasOwnProperty(GameBetDetails.Runner)">
                      <td class="col-xs-12" colspan="4">
                        <div class="bet-slip-player">
                          <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                            [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                            [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                            (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                          </app-bet-slip>
                        </div>
                      </td>
                    </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="GameCard.PlayerACard[0] || ShowGameStatusOverlay" class="game-status-no-bets">
          <span>Suspended</span>
        </div>
        <div class="clearfix"></div>
      </div>

      <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn" data-toggle="modal"
        data-target="#matchbetsPopup">
        Bet List ({{GameBetList.length}})
      </button>
      <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn green pull-right" data-toggle="modal"
        data-target="#matchresultPopup">
        Game Result
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-4">
      <div class="col-xs-12 betslip-web p-0">
        <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
          [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus" [GameID]="GameID"
          [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
        </app-bet-slip>
      </div>

      <!-- One Click Bet Start -->
      <div class="marketborder one-click-bet">
        <app-one-click [isHeader]="false" [IsOneClick]="IsOneClick" (oneClick)="oneClick($event)"></app-one-click>
        <div class="one-click-value" *ngIf="IsOneClick && !IsEdit">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip1}"
              (click)="DefaultChip=GameDetails.Chip1;EditOneClickChips(1);">
              <input type="radio" name="options" id="option1" autocomplete="off"> {{GameDetails.Chip1}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip2}"
              (click)="DefaultChip=GameDetails.Chip2;EditOneClickChips(1);">
              <input type="radio" name="options" id="option2" autocomplete="off"> {{GameDetails.Chip2}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip3}"
              (click)="DefaultChip=GameDetails.Chip3;EditOneClickChips(1);">
              <input type="radio" name="options" id="option3" autocomplete="off"> {{GameDetails.Chip3}}
            </label>
          </div>
          <button type="button" class="btn btn-success one-click-edit-btn" (click)="EditOneClickChips(0)">Edit</button>
        </div>
        <div class="one-click-edit" *ngIf="IsOneClick && IsEdit">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" min="1" placeholder="{{GameDetails.Chip1}}"
                [(ngModel)]="OneClickChips.Chip1" name="Chip1" (keypress)="constant.checkNumeric($event)"
                onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" min="1" placeholder="{{GameDetails.Chip2}}"
                [(ngModel)]="OneClickChips.Chip2" name="Chip2" (keypress)="constant.checkNumeric($event)"
                onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" min="1" placeholder="{{GameDetails.Chip3}}"
                [(ngModel)]="OneClickChips.Chip3" name="Chip3" (keypress)="constant.checkNumeric($event)"
                onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <button type="submit" class="btn btn-success one-click-save"
              (click)="AddUpdateOneClickChips()">Save</button>
            <button type="reset" class="btn btn-danger one-click-cancel" (click)="IsEdit=false">Cancel</button>
          </form>
        </div>
      </div>
      <!-- One Click Bet End -->
      <!-- Bet List Start-->
      <div class="betslip-container matchedbet">
        <app-bet-list [isModal]="false" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
          [betList]="GameBetList"></app-bet-list>
      </div>
      <!-- Bet List End-->

      <!-- History Result Start -->
      <div class="marketborder hidden-xs matchedbet" style="margin-top: 10px;">
        <div class="col-md-12 col-sm-12 nopadding">
          <h3 class="markettitle text-center"><span>Game Result</span></h3>
        </div>
        <div class="marketdivcontent">
          <div class="nopadding text-center" posr>
            <div class="title-list" [ngClass]="item.Winner=='Dragon'?'green':item.Winner=='Tiger'?'red':'gray'"
              *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner=='Dragon'?'D':item.Winner=='Tiger'?'T':'I'}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- History Result End -->
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="overlay"></div>

<!-- <app-rules *ngIf="GameCode" [code]="GameCode"></app-rules> -->

<app-chips-setting [minStack]="GameDetails.MinStakePerBet" [maxStack]="GameDetails.MaxStakePerBet">
</app-chips-setting>

<app-error *ngIf="!IsVerified" [errorMessage]="DisplayMessage"></app-error>

<app-bet-list [isModal]="true" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
  [betList]="GameBetList"></app-bet-list>

<!-- Round History Pop Up Start -->
<div id="RhistoryPopup" class="modal fade modal-scroll" tabindex="-1" style="z-index: 1054;" data-replace="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">{{constant.GameName[GameCode]}} (ID -
          {{GameHistoryDetails.DisplayID}})</h4>
      </div>
      <div class="modal-body">
        <div class="player-cards dragon-tiger">
          <div class="playera text-center" style="text-align: center;">
            <h6>Dragon </h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Dragon'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Tiger'">Loser</div>
          </div>
          <div class="playerb text-center" style="text-align: center;">
            <h6>Tiger </h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[0]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Tiger'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Dragon'">Loser</div>
          </div>
          <div class="game-result draw" *ngIf="GameHistoryDetails.Winner=='Tie'"><br>Tie</div>
          <div class="game-result winner-hand">
            Dragon : {{GameHistoryDetails.WinningHand.DragonSuite}} | {{GameHistoryDetails.WinningHand.Dragon}}
          </div>
          <div class="game-result winner-hand">
            Tiger : {{GameHistoryDetails.WinningHand.TigerSuite}} | {{GameHistoryDetails.WinningHand.Tiger}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Round History Pop Up End -->

<!-- Game Result Popup Start-->
<div id="matchresultPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">Game Result</h4>
      </div>
      <div class="modal-body result-background">
        <div class="marketdivcontent">
          <div class="nopadding text-align" posr>
            <div class="title-list" [ngClass]="item.Winner=='Dragon'?'green':item.Winner=='Tiger'?'red':'gray'"
              *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner=='Dragon'?'D':item.Winner=='Tiger'?'T':'I'}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Game Result Popup End-->
<!-- Game Rule -->
<div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <app-rules [rules]="constant.gameRule"></app-rules>
</div>
