<div *ngIf="isHeader; then headerOneClick else labelOneClick"></div>
<ng-template #headerOneClick>
  <a (click)="oneClickChange()" >
    <i class="fa fa-check-square-o" *ngIf="IsOneClick" style="color: #8bc300;"></i>
    <i class="fa fa-square-o"  *ngIf="!IsOneClick" style="color: #C41230;"></i>
    1 Click Betting
    <input type="checkbox" class="switch-control" [(ngModel)]="IsOneClick" name="switch">
    <label for="switch" style="float: right;padding-left: 0px;padding-right: 35px;margin-left: 10px;"  (click)="oneClickChange()"></label>
  </a>
</ng-template>
<ng-template #labelOneClick>
  <form>
    <input type="checkbox" id="switch" class="switch-control" [(ngModel)]="IsOneClick" name="switch"  (click)="oneClickChange()">
    <label for="switch"><span>1 Click Betting</span></label>
  </form>
</ng-template>