  [hidden] {
    display: none !important;
  }

  .cut-run a.active {
    color: black;
    background-color: var(--primary-font-color);
    transition: all 0.5s;
  }

  .cut-run a {
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid black;
    font-weight: bold;
    color: white;
    display: block;
    transition: all 0.5s;
    cursor: pointer;
  }

  .cut-run a:hover {
    color: black;
    background-color: var(--primary-font-color);
    transition: all 0.5s;
  }

  .cut-run-info {
    a {
      color: var(--primary-font-color);
    }

    font-weight : bold;
    text-align : center;
    vertical-align: middle;
    font-size : 15px;
  }

  .cut-run-pos {
    color: var(--primary-font-color);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
  }

  .cut-run-pos span {
    display: block;
    line-height: 14px;
    font-size: 13px;
  }

  .cut-run-pos span.pl {
    text-shadow: 0 0 3px black;
  }

  .game-status {
    width: calc(100%) !important;
    height: calc(100% - 43px);
  }


  .chips-container {
    padding-top: 8px;
  }

  .card-md-chip-closed a.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--primary-font-color);
  }

  .card-item {
    background: var(--primary-font-color);
    padding: 5px 20px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
  }

  @media (max-width: 991px) {

    .player-cards {
      width: 182px;
    }

    .game-status {
      width: calc(100%) !important;
      height: calc(100% - 42px);
    }
  }

  @media (max-width: 482px) {
    .cut-run-pos {
      font-size: 13px;
      padding-left: 2px !important;
      padding-right: 0 !important;
    }

    .game-status {
      width: calc(100%) !important;
      height: calc(100% - 42px);
    }
  }

  .card-md-chip-closed .btn {
    width: 43px;
  }

  .fs-card-img {
    display: inline-block;
    margin: auto;
    width: 31px;
    height: 50px;
    border-radius: 2px;
    overflow: hidden;
    margin-left: inherit;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .fs-card-img img {
    width: auto;
    height: 100%;
  }

  .card-md-chip-closed {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    margin-left: 3px;
  }

  .b-l-1 {
    border-left: 1px solid;
  }

  .title-list .list {
    width: 75px;
  }

  .title-list .list span {
    width: 70px;
  }

  .cardSelected {
    border: 1px solid black;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 0.8);
    width: 33px;
  }

  .playera {
    text-align: center;
  }

  .pl-crd {
    width: 130px;
  }

  @media (max-width: 991px) {
    .betslip-mob {
      display: none;
    }

    .player-cards {
      width: 100px;
      padding: 5px;
    }
  }

  @media (max-width: 767px) {
    .player-cards {
      width: 100px;
      padding: 5px 5px 0;
    }

    .game-status {
      height: calc(100% - 34px);
    }
  }

  .flipcard {
    width: 30px;
    height: 40px;
  }

  @media (max-width:481px) {
    .fs-card-img {
      width: 20px;
      height: auto;
    }
    .fs-card-img img {
      width: 100%;
      height: 100%;
    }
  }
