<!-- <app-news-header [News]="GameDetails.News" [GameCode]="GameCode" [hidden]="!IsVerified" [balance]="GameBalance"
  [liability]="GameLiability" [gameId]="GameID" [IsOneClick]="IsOneClick" (PlayerDes)="PlayerDes($event)" [userName]="UserName">
</app-news-header> -->
<div class="container-fluid">
  <div class="row gutters-5" [hidden]="!IsVerified">
    <!-- <div class="col-md-1">
      <div class="user-options">
        <app-header [logoPath]="GameDetails.LogoPath" [LoginLink]="LoginLink" [userName]="UserName"
          [balance]="GameBalance" [gameId]="GameID" [IsOneClick]="IsOneClick" [GameCode]="GameCode" (PlayerDes)="PlayerDes($event)">
        </app-header>
        <div class="countdown-timer">
          <div id="countdown"></div>
          <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
        </div>
      </div>
    </div> -->
    <div class="col-md-8">
      <div class="live-casino-player">
        <div class="video-area">
          <span class="live-label-live visible-sm-inline-block visible-xs-inline-block">LIVE</span>
          <div class="game-timer">
            <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
          </div>
          <app-videoplayer [GameCode]="GameCode" [url]="GameDetails?.StreamingUrl" [PlayerDes]="PlayerDestroy"> </app-videoplayer>
          <div class="winning-message-video" *ngIf="GameWinner">
            <div class="who-wins">
              WINNER ({{gameResult(GameWinner)}})
            </div>
          </div>
          <div class="left-part">
            <span class="live-label-live hidden-sm hidden-xs">LIVE</span>
          </div>
          <div class="second-left-part" (click)="constant.getGameRule(GameID)">
            <a href="#RulesPopup" data-toggle="modal"> <i class="fa fa-info-circle" title="Rule"></i></a>
          </div>
          <!-- <div class="game-bal-lia">
            <span class="game-bal">
              Balance : <i class="fa fa-inr"></i>
              {{GameBalance | number:'1.2-2'}}
            </span>
            <span class="game-lia">
              Liability : <i class="fa fa-inr"></i>
              {{GameLiability | number:'1.2-2'}}
            </span>
          </div> -->
          <div class="player-cards pl-crd andar-bahar">
            <div class="player-cont row worli-matka">
              <div class="playera">
                <div class="livecard flipcard">
                  <div class="back"> <img class="casinocard" src="{{constant.CardImages[GameCard.PlayerACard[0]]}}">
                  </div>
                </div>
                <div class="livecard flipcard">
                  <div class="back"><img class="casinocard" src="{{constant.CardImages[GameCard.PlayerACard[1]]}}">
                  </div>
                </div>
                <div class="livecard flipcard">
                  <div class="back"><img class="casinocard" src="{{constant.CardImages[GameCard.PlayerACard[2]]}}">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="agent-logo">
            <img src="{{GameDetails.LogoPath}}" alt="">
          </div>
        </div>
      </div>

      <div class="match-odds">
        <div class="marketborder">
          <div class="col-md-6 col-sm-12 dis-show nopadding">
            <h3 class="markettitle"><span>{{constant.GameName[GameCode]}} - {{DisplayID}}</span></h3>
          </div>
          <div class="marketdivcontent">
            <div class="nopadding" posr>
              <div class="posr">
                <table class="table table-market noMarginBottom">
                  <thead>
                    <tr class="row">
                      <th colspan="3" class="col-xs-12 text-left bettitle runnertitle stackvalue">
                        <div class="col-md-6 col-sm-6 col-xs-12 nopadding text-left white" style="line-height:1.2;">
                          <app-stake-limit [GameDetails]="GameDetails"></app-stake-limit>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 dis-none nopadding">
                          <h3 class="markettitle"><span>{{constant.GameName[GameCode]}} -
                              {{DisplayID}}</span></h3>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row back-rate-gridcolor">
                      <td class="col-xs-2 cut-run-pos" style="color: black;">Yes
                        <span>{{GameRate['Player'][1]}}</span>
                        <!-- <span class="pl" [ngClass]="(PlayerPLB)>0?'green':'red'">
                          {{PlayerPLB | number:'1.2-2'}}
                        </span> -->
                      </td>
                      <td class="col-xs-10 nopadding b-l-1">
                        <div class="card-md-chip-closed">
                          <!-- AddBet('Player',i+1,1) -->
                          <a *ngFor="let num of PlayerBet;let i=index;" class="fs-card-img"
                            [class.cardSelected]="selectedCard('Yes',num)" (click)="selectCard('Yes',num)">
                            <img class="casinocard" src="{{constant.FourSuitsCardImage[num]}}" title="{{num}}"
                              alt="{{num}}">
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr class="row mob-bet-slip" *ngIf="(selectedBetType === 'Yes') && ShowBetSlip">
                      <td class="col-xs-12" colspan="2">
                        <div class="bet-slip-player">
                          <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                            [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                            [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                            [isThreeCard]="true" [(selectCardList)]="selectCardList"
                            [(selectedBetType)]="selectedBetType" [(PlayerNum)]="PlayerNum"
                            (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                          </app-bet-slip>
                        </div>
                      </td>
                    </tr>
                    <tr class="row lay-rate-gridcolor">
                      <td class="col-xs-2 cut-run-pos" style="color: black;">No
                        <span> {{GameRate['Player'][0]}}</span>
                        <!-- <span class="pl" [ngClass]="(PlayerPLL)>0?'green':'red'">
                          {{PlayerPLL | number:'1.2-2'}}
                        </span> -->
                      </td>
                      <td class="col-xs-10 nopadding b-l-1">
                        <div class="card-md-chip-closed">
                          <!-- (click)="AddBet('Player',i+1,0)" -->
                          <a *ngFor="let num of PlayerBet;let i=index;" class="fs-card-img"
                            [class.cardSelected]="selectedCard('No',num)" (click)="selectCard('No',num)">
                            <img class="casinocard" src="{{constant.FourSuitsCardImage[num]}}" title="{{num}}"
                              alt="{{num}}">
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr class="row mob-bet-slip" *ngIf="(selectedBetType === 'No') && ShowBetSlip">
                      <td class="col-xs-12" colspan="2">
                        <div class="bet-slip-player">
                          <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                            [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                            [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                            [isThreeCard]="true" [(selectCardList)]="selectCardList"
                            [(selectedBetType)]="selectedBetType" [(PlayerNum)]="PlayerNum"
                            (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                          </app-bet-slip>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="game-status" *ngIf="ShowGameStatusOverlay">
                  <span *ngIf="GameWinner=='Draw'">Draw</span>
                  <span *ngIf="GameWinner!='Draw'">{{constant.GameStatus[GameStatus]}}</span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn" data-toggle="modal"
        data-target="#matchbetsPopup">
        Bet List ({{GameBetList.length}})
      </button>
      <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn green pull-right" data-toggle="modal"
        data-target="#matchresultPopup">
        Game Result
      </button>
    </div>

    <div class="col-md-4">
      <div class="col-xs-12 betslip-web p-0">
        <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
          [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus" [GameID]="GameID"
          [RoundSummaryID]="RoundSummaryID" [isThreeCard]="true" [(selectCardList)]="selectCardList"
          [(selectedBetType)]="selectedBetType" [(PlayerNum)]="PlayerNum" (onCalculatePL)="onCalculatePL($event)"
          (onValidateBet)="ValidateBet()">
        </app-bet-slip>
      </div>

      <div class="marketborder one-click-bet">
        <app-one-click [isHeader]="false" [IsOneClick]="IsOneClick" (oneClick)="oneClick($event)"></app-one-click>

        <div *ngIf="IsOneClick && !IsEdit" class="one-click-value">
          <div class="btn-group mr-5" data-toggle="buttons">
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip1}"
              (click)="DefaultChip=GameDetails.Chip1;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip1}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip2}"
              (click)="DefaultChip=GameDetails.Chip2;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip2}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip3}"
              (click)="DefaultChip=GameDetails.Chip3;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip3}}
            </label>
          </div>
          <button type="button" class="btn btn-success one-click-edit-btn" (click)="EditOneClickChips(0)">Edit
          </button>
        </div>
        <div *ngIf="IsOneClick && IsEdit" class="one-click-edit">
          <div class="form-inline">
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip1"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip2"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip3"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <button type="submit" class="btn btn-success one-click-save"
              (click)="AddUpdateOneClickChips()">Save</button>
            <button type="reset" class="btn btn-danger one-click-cancel" (click)="IsEdit=false">Cancel</button>
          </div>
        </div>
      </div>
      <div class="betslip-container matchedbet">
        <app-bet-list [isModal]="false" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
          [betList]="GameBetList"></app-bet-list>
      </div>
      <!-- History Result Start -->
      <div class="marketborder hidden-xs matchedbet" style="margin-top: 10px;">
        <div class="col-md-12 col-sm-12 nopadding">
          <h3 class="markettitle text-center"><span>Game Result</span></h3>
        </div>
        <div class="marketdivcontent">
          <div class="nopadding text-center" posr>
            <div class="title-list green" *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{gameResult(item.Winner)}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="overlay"></div>

<!-- <app-rules *ngIf="GameCode" [code]="GameCode"></app-rules> -->

<app-chips-setting [minStack]="GameDetails.MinStakePerBet" [maxStack]="GameDetails.MaxStakePerBet">
</app-chips-setting>

<app-error *ngIf="!IsVerified" [errorMessage]="DisplayMessage"></app-error>

<app-bet-list [isModal]="true" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
  [betList]="GameBetList"></app-bet-list>

<!-- Round History Pop Up Start -->
<div id="RhistoryPopup" class="modal fade modal-scroll" style="z-index: 1054;" tabindex="-1" data-replace="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">{{constant.GameName[GameCode]}} (ID -
          {{GameHistoryDetails.DisplayID}})</h4>
      </div>
      <div class="modal-body">
        <div class="player-cards">
          <div class="playera" style="text-align: center;">
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[2]]}}"> </div>
            </div>
            <div class="game-result win">Winner ( {{GameHistoryDetails.Winner}} )
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Round History Pop Up End -->

<!-- <div id="total-pana" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x </button>
        <h4 class="modal-title">{{CurrentRunner}} - Total Pana ({{TotalPana[PanaRunner].length}})</h4>
      </div>
      <div class="modal-body">
        <div class="card-sequence">
          <div class="card-item" *ngFor="let pana of TotalPana[PanaRunner]">{{pana}}</div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- Game Result Popup Start-->
<div id="matchresultPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">Game Result</h4>
      </div>
      <div class="modal-body result-background">
        <div class="marketdivcontent">
          <div class="nopadding text-align" posr>
            <div class="title-list green" *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{gameResult(item.Winner)}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Game Result Popup End-->
<!-- Game Rule -->
<div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <app-rules [rules]="constant.gameRule"></app-rules>
</div>
