.flipcard {
  width: 40px;
  height: 60px;
  margin: 0 3px;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.historycard.flipcard {
  width: 28px;
  height: 45px;
}

.player-cards {
  width: 125px;
}

.st0 {
  display: none;
  fill: #FFC959;
}

.st1 {
  fill: none;
  stroke: #FFC959;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
}

.retro-button {
  padding: 0;
  border: none;
  background: none;
  justify-content: center;
}

.less-than {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 30%;
  left: 0;
  font-size: 25px;
}

.greater-than {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 30%;
  right: 0;
  font-size: 25px;
}

.retro-button a {
  text-decoration: none !important;
  transition: all 0.4s ease-in-out;
  color: #FFC959;
}

.trade-button {
  width: 12.85rem;
  height: 6rem;
  font-size: 2.25rem;
  display: table;
  position: relative;
  padding: 0px 0;
}

// .trade-background {
//   position: absolute;
//   display: flex;
//   width: 100%;
//   height: 100%;
//   flex-direction: column;
//   flex-flow: column;
//   align-items: center;
//   justify-content: center;
//   pointer-events: none;
//   border: 1px solid #8E6F2D;
//   padding: 3px 0;
//   border-radius: 0.5rem;
// }

.trade-button.up .trade-background {
  border-color: #454772;
}

.trade-button.static .trade-background {
  border-color: #3e533c;
}

.trade-button.down .trade-background {
  border-color: #7c5b5b;
}

.trade-background svg {
  width: 100%;
  height: 100%;
}

.trade-name {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  pointer-events: all;
  // background-color: #070737;
  color: #FFC959;
  text-decoration: none;
  border-radius: 0.5rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .6);
  transition: all 0.4s ease-in-out;
}

.trade-name .green,
.trade-name .red {
  display: block;
  font-size: 11px;
  font-weight: 500;
  line-height: 0.4;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

.trade-button.up .trade-name {
  background-color: #070737;
}

.retro-button a:hover .trade-button.up .trade-name {
  background-color: #0e0e66;
}

.trade-button.static .trade-name {
  background-color: #092e13;
}

.retro-button a:hover .trade-button.static .trade-name {
  background-color: #0f461e;
}

.trade-button.down .trade-name {
  background-color: #510c14;
}

.retro-button a:hover .trade-button.down .trade-name {
  background-color: #7d1824;
}


.mobile-cashout.stackvalue {
  position: relative;
  transform: none;
  overflow: hidden;
  margin: 7px 0px 0px 20px;
}

.mobile-cashout.stackvalue .col-md-6 {
  background: #13151c;
  border: 1px dashed rgba(255, 255, 255, .25);
  font-size: 15px;
  padding: 5px 5px;
  border-radius: 30px;
  text-align: center !important;
  width: 44%;
}

.mobile-cashout.stackvalue .col-md-6:first-child {
  margin-right: 3px;
}

.mobile-cashout.stackvalue .col-md-6:last-child {
  margin-left: 3px;
}

.retro-button .trade-button .trade-rate {
  display: block;
  font-size: 15px;
  font-weight: 900;
  line-height: 0.4;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

.game-status {
  width: calc(50%) !important;
  right: 25%;
  bottom: 2px;
  height: calc(100% - 1px);
}

@media (max-width:767px) {
  .flipcard {
    height: 60px;
  }

  .game-status {
    width: calc(100%) !important;
    right: 0;
    bottom: 2px;
    height: calc(100% - 1px);
    top: -91px !important;
  }

  .retro-button {
    flex-wrap: nowrap;
  }

  .trade-button {
    width: 100%;
    height: 5.3rem;
    min-width: 7.2rem !important;
  }

  .trade-background {
    padding: 3px;
  }

  .trade-background svg {
    width: 100%;
    height: 100%;
  }
}

.game-status {
  width: 100% !important;
  height: calc(100% + 95px);
  top: -95px;
  z-index: 1;
  right: 0;
}

.p-r {
  position: relative;
}

.h-0 {
  height: 0 !important;
}

.h-0 th {
  background: black;
  height: 0px;
  padding: 0px !important;
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}

.player-cards {
  // background-image: url("/assets/images/full-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 428px;
}

.player-cards.andar-bahar h6 {
  font-size: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.winning-message-video {
  top: 50%;
  transform: translateY(-50%);
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   z-index: 1;
// }

// @media (max-width: 767px) {

//   .live-casino-player,
//   .video-area {
//     height: 135px;
//   }

//   .winning-message-video {
//     top: -8%;
//     z-index: 1;
//   }
// }

.playera {
  width: 100%;
  float: left;

  h6 {
    span {
      color: var(--primary-font-color);
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid var(--primary-font-color);
      padding: 2px 20px;
      letter-spacing: 0;
      border-radius: 20px;
      font-weight: bold;
      width: auto;
      height: auto;

    }
  }
}

.playera {
  text-align: center;

  h6 {
    text-align: center;

    span {
      float: none;
    }
  }
}

.teen-patti {
  margin-top: 250px;
  width: 100%;
}

@media (max-width: 991px) {
  .player-cards {
    height: 480px;
  }

  .pl-crd {
    position: absolute !important;
  }

  .teen-patti {
    margin-top: 280px;
  }

  .playera {
    text-align: center;
    padding: 0;

    h6 {
      padding: 0;
      text-align: center;

      span {
        float: none;
        margin: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .player-cards {
    height: 400px;
  }

  .teen-patti {
    margin-top: 230px;
  }
}

@media (max-width: 550px) {
  .player-cards {
    background-image: url("/assets/images/mobile-background.jpg");
    background-position-x: 55%;
  }

}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 270px;
  }
}

.game-timer {
  left: 5px;
}

@media(max-width:300) {
  .game-status {

    height: calc(100% + 80px);
    top: -73px;
  }
}
