<!-- <app-news-header [News]="GameDetails.News" [GameCode]="GameCode" [hidden]="!IsVerified" [balance]="GameBalance"
  [liability]="GameLiability" [gameId]="GameID" [IsOneClick]="IsOneClick" (PlayerDes)="PlayerDes($event)" [userName]="UserName">
</app-news-header> -->
<div class="container-fluid">
  <div class="row gutters-5" [hidden]="!IsVerified">
    <div class="col-md-8 p-0">
      <div class="virtual-card-box">
        <div class="winning-message-video" *ngIf="GameWinner">
          <div class="who-wins">
            WINNER {{GameWinner}}
            <br><span>{{GameWinningHand}}</span>
          </div>
        </div>
        <div class="second-left-part" (click)="constant.getGameRule(GameID)">
          <a href="#RulesPopup" data-toggle="modal"> <i class="fa fa-info-circle" title="Rule"></i></a>
        </div>
        <div class="game-timer virtual-game-timer">
          <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
        </div>
        <app-virtual-card-view [GameCard]="GameCard" [GameCode]="GameCode" [GameID]="GameID"></app-virtual-card-view>
        <div class="agent-logo">
          <img src="{{GameDetails.LogoPath}}" alt="">
        </div>
      </div>

      <div class="match-odds">
        <div class="marketborder">
          <div class="col-md-12 col-sm-12 nopadding">
            <h3 class="markettitle text-center"><span>{{constant.GameName[GameCode]}} - {{DisplayID}}</span></h3>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="mobile-cashout stackvalue white visible-xs">
              <div class="col-md-6 col-sm-6 col-xs-6 text-center white" style="line-height:1;font-weight:500;">
                <strong>
                  Stake Limit : <span class="red">{{MinStake(GameDetails)}}</span>&nbsp; -&nbsp;
                  <span class="text-bold red">{{MaxStake(GameDetails)}}</span>
                </strong>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-center white" style="line-height:1;font-weight:500;">
                <strong>
                  Max Profit : <span class="red">{{MaxProfit(GameDetails)}}</span>
                </strong>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="marketdivcontent">
            <div class="nopadding" posr>
              <div class="posr">
                <table class="table table-market table-striped noMarginBottom">
                  <thead>
                    <tr class="row">
                      <th class="col-md-3 col-sm-3 col-xs-12 hidden-xs text-left bettitle runnertitle stackvalue">
                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding text-left white"
                          style="font-size:15px;line-height:1.2;font-weight:500;">
                          <strong>
                            Stake Limit : <span class="red">{{MinStake(GameDetails)}}</span>&nbsp; -&nbsp;
                            <span class="text-bold red">{{MaxStake(GameDetails)}}</span>
                          </strong>
                        </div>
                      </th>
                      <th class="col-xs-4 col-sm-2 col-md-2 text-center white">
                        <div class="retro-button">
                          <a (click)="AddBet('7Up',1)" class="open-bet">
                            <div class="trade-button up">
                              <div class="trade-background">
                                <app-svg-button-img></app-svg-button-img>
                              </div>
                              <div class="trade-name">7 UP
                                <span class="trade-rate green">{{GameRate["7Up"][1]}}</span>
                                <span class="small" [ngClass]="(PL['7UpPL'])>0?'green':'red'"
                                  style="display: block;">{{PL['7UpPL'] | number:'1.2-2'}}
                                </span>
                              </div>
                            </div>
                          </a>
                        </div>
                      </th>
                      <th class="col-xs-4 col-sm-2 col-md-2 text-center white">
                        <div class="retro-button">
                          <a (click)="AddBet('7',1)" class="open-bet">
                            <div class="trade-button static">
                              <div class="trade-background">
                                <app-svg-button-img></app-svg-button-img>
                              </div>
                              <div class="trade-name">7
                                <span class="trade-rate green">{{GameRate["7"][1]}}</span>
                                <span class="small" [ngClass]="(PL['7PL'])>0?'green':'red'"
                                  style="display: block;">{{PL['7PL'] | number:'1.2-2'}}
                                </span>
                              </div>
                            </div>
                          </a>
                        </div>
                      </th>
                      <th class="col-xs-4 col-sm-2 col-md-2 text-center white">
                        <div class="retro-button">
                          <a (click)="AddBet('7Down',1)" class="open-bet">
                            <div class="trade-button down">
                              <div class="trade-background">
                                <app-svg-button-img></app-svg-button-img>
                              </div>
                              <div class="trade-name">7 DOWN
                                <span class="trade-rate green">{{GameRate['7Down'][1]}}</span>
                                <span class="small" [ngClass]="(PL['7DownPL'])>0?'green':'red'"
                                  style="display: block;">{{PL['7DownPL'] | number:'1.2-2'}}
                                </span>
                              </div>
                            </div>
                          </a>
                        </div>
                      </th>
                      <th class="col-md-3 col-sm-3 col-xs-12 hidden-xs text-right bettitle runnertitle stackvalue">
                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding text-right white"
                          style="font-size:15px;line-height:1.2;font-weight:500;">
                          <strong>
                            Max Profit : <span class="red">{{MaxProfit(GameDetails)}}</span>
                          </strong>
                        </div>
                      </th>
                    </tr>
                    <tr class="row mob-bet-slip"
                      *ngIf="(this.GameBetDetails.Runner == '7Down' || this.GameBetDetails.Runner == '7' || this.GameBetDetails.Runner == '7Up') && ShowBetSlip">
                      <td class="col-xs-12" colspan="3">
                        <div class="bet-slip-player">
                          <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                            [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                            [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                            (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                          </app-bet-slip>
                        </div>
                      </td>
                    </tr>
                    <tr class="row h-0">
                      <th class="col-md-3 col-sm-3 col-xs-12 hidden-xs text-left bettitle runnertitle stackvalue"></th>
                      <th class="col-xs-12 col-sm-6 col-md-6 text-center white p-r" colspan="3">
                        <div class="game-status"
                          *ngIf="ShowGameStatusOverlay || GameWinner=='7Up' || GameWinner=='7' || GameWinner=='7Down'">
                          <span *ngIf="GameWinner=='Draw'">Draw</span>
                          <span
                            *ngIf="GameWinner!='Draw' && GameWinner !='7Up' && GameWinner !='7' && GameWinner !='7Down'">{{constant.GameStatus[GameStatus]}}</span>
                          <span class="msg" style="transform: translate(-50%, -50%);"
                            *ngIf="GameWinner=='7Up' || GameWinner=='7' || GameWinner=='7Down'">WINNER </span>
                        </div>
                      </th>
                      <th class="col-md-3 col-sm-3 col-xs-12 hidden-xs text-right bettitle  runnertitle stackvalue"></th>
                    </tr>
                  </thead>
                </table>
                <!-- *ngIf="ShowGameStatusOverlay" -->
                <!-- <div class="game-status"
                  *ngIf="ShowGameStatusOverlay || GameWinner=='7Up' || GameWinner=='7' || GameWinner=='7Down'">
                  <span *ngIf="GameWinner=='Draw'">Draw</span>
                  <span
                    *ngIf="GameWinner!='Draw' && GameWinner !='7Up' && GameWinner !='7' && GameWinner !='7Down'">{{constant.GameStatus[GameStatus]}}</span>
                  <span class="msg" style="transform: translate(-50%, -50%);"
                    *ngIf="GameWinner=='7Up' || GameWinner=='7' || GameWinner=='7Down'">WINNER </span>
                </div> -->
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="marketborder">
            <div class="col-md-12 col-sm-12 nopadding">
              <h3 class="markettitle text-center"><span>Winner Player Hand</span></h3>
            </div>
            <div class="col-md-12 col-sm-12 nopadding">
              <div class="retro-button">
                <div class="trade-button pointer"
                  *ngFor="let item of constant.GameRunner.VUD7UI.Tab2 | keyvalue: constant.asIsOrder;let i=index;"
                  [ngClass]="constant.bgColor[i]" (click)="AddBet(item.key,1)">
                  <img class="trade-background" src="assets/images/coins-solid.svg" alt="" />
                  <div class="trade-name">{{item.value}}
                    <span class="trade-rate" [hidden]="GameRate[item.key][1] == '-'"
                      [ngClass]="(GameRate[item.key][1])>0?'green':'red'">{{GameRate[item.key][1]}}</span>
                    <span class="trade-pl" [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">{{(PL[item.key + 'PL'] |
                      number:'1.2-2')}}</span>
                  </div>
                </div>
                <div *ngIf="GameCard.PlayerACard[0] || ShowGameStatusOverlay" class="game-status-no-bets">
                  <span>No Bets</span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 nopadding bet-slip-player mob-bet-slip"
              *ngIf="!GameCard.PlayerACard[0] && !ShowGameStatusOverlay && ShowBetSlip && constant.GameRunner.VUD7UI.Tab2.hasOwnProperty(GameBetDetails.Runner)">
              <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
                [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus"
                [GameID]="GameID" [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)"
                (onValidateBet)="ValidateBet()">
              </app-bet-slip>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn" data-toggle="modal"
          data-target="#matchbetsPopup">
          Bet List ({{GameBetList.length}})
        </button>
        <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn green pull-right" data-toggle="modal"
          data-target="#matchresultPopup">
          Game Result
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-xs-12 betslip-web p-0">
        <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
          [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus" [GameID]="GameID"
          [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
        </app-bet-slip>
      </div>

      <!-- Oneclick Bet  Start-->
      <div class="marketborder one-click-bet">
        <app-one-click [isHeader]="false" [IsOneClick]="IsOneClick" (oneClick)="oneClick($event)"></app-one-click>
        <div *ngIf="IsOneClick && !IsEdit" class="one-click-value">
          <div class="btn-group mr-5" data-toggle="buttons">
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip1}"
              (click)="DefaultChip=GameDetails.Chip1;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip1}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip2}"
              (click)="DefaultChip=GameDetails.Chip2;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip2}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip3}"
              (click)="DefaultChip=GameDetails.Chip3;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip3}}
            </label>
          </div>
          <button type="button" class="btn btn-success one-click-edit-btn" (click)="EditOneClickChips(0)">Edit
          </button>
        </div>
        <div *ngIf="IsOneClick && IsEdit" class="one-click-edit">
          <div class="form-inline">
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip1"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip2"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip3"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <button type="submit" class="btn btn-success one-click-save"
              (click)="AddUpdateOneClickChips()">Save</button>
            <button type="reset" class="btn btn-danger one-click-cancel" (click)="IsEdit=false">Cancel</button>
          </div>
        </div>
      </div>
      <!-- Oneclick Bet End -->

      <!-- Bet List Start-->
      <div class="betslip-container matchedbet">
        <app-bet-list [isModal]="false" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
          [betList]="GameBetList"></app-bet-list>
      </div>
      <!-- Bet List End-->
      <!-- History Result Start -->
      <div class="marketborder hidden-xs matchedbet" style="margin-top: 10px;">
        <div class="col-md-12 col-sm-12 nopadding">
          <h3 class="markettitle text-center"><span>Game Result</span></h3>
        </div>
        <div class="marketdivcontent">
          <div class="nopadding text-center" posr>
            <div class="title-list" [ngClass]="item.Winner == '7Up' ? 'green' : item.Winner == '7Down' ? 'red' : 'gray'"
              *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner == '7Up' ? 'U' : item.Winner == '7Down' ? 'D' : '7'}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- History Result End -->

    </div>
  </div>
</div>

<div class="overlay"></div>

<!-- <app-rules *ngIf="GameCode" [code]="GameCode"></app-rules> -->

<app-chips-setting [minStack]="GameDetails.MinStakePerBet" [maxStack]="GameDetails.MaxStakePerBet"></app-chips-setting>

<app-error *ngIf="!IsVerified" [errorMessage]="DisplayMessage"></app-error>

<app-bet-list [isModal]="true" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
  [betList]="GameBetList"></app-bet-list>

<!-- Round History Pop Up Start -->
<div id="RhistoryPopup" class="modal fade modal-scroll" style="z-index: 1054;" tabindex="-1" data-replace="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title markettitle">{{constant.GameName[GameCode]}} (ID - {{GameHistoryDetails.DisplayID}})</h4>
      </div>
      <div class="modal-body">
        <div class="player-cards" style="text-align: center;">
          <div class="playera text-center">
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>
          </div>
          <div class="game-result win"><br>Winner: {{GameHistoryDetails.Winner}}</div>
          <div class="game-result overlay-winner-hand">
            {{GameHistoryDetails.WinningHand}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Round History Pop Up End -->
<!-- Game Result Popup Start-->
<div id="matchresultPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">Game Result</h4>
      </div>
      <div class="modal-body result-background">
        <div class="marketdivcontent">
          <div class="nopadding text-align" posr>
            <div class="title-list" [ngClass]="item.Winner == '7Up' ? 'green' : item.Winner == '7Down' ? 'red' : 'gray'"
              *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner == '7Up' ? 'U' : item.Winner == '7Down' ? 'D' : '7'}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Game Result Popup End-->
<!-- Game Rule -->
<div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <app-rules [rules]="constant.gameRule"></app-rules>
</div>
