<!-- <app-news-header [News]="GameDetails.News" [GameCode]="GameCode" [hidden]="!IsVerified" [balance]="GameBalance"
  [liability]="GameLiability" [gameId]="GameID" [IsOneClick]="IsOneClick" (PlayerDes)="PlayerDes($event)" [userName]="UserName">
</app-news-header> -->
<div class="container-fluid">
  <div class="row gutters-5" [hidden]="!IsVerified">
    <!-- <div class="col-md-1">
      <div class="user-options">
        <app-header [logoPath]="GameDetails.LogoPath"  [LoginLink]="LoginLink"  [userName]="UserName" [balance]="GameBalance" [gameId]="GameID"
          [IsOneClick]="IsOneClick" [GameCode]="GameCode" (PlayerDes)="PlayerDes($event)">
        </app-header>
        <div class="countdown-timer">
          <div id="countdown"></div>
          <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
        </div>
      </div>
    </div> -->
    <div class="col-md-8">
      <div class="live-casino-player">
        <div class="video-area">
          <span class="live-label-live visible-sm-inline-block visible-xs-inline-block">LIVE</span>
          <div class="game-timer">
            <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
          </div>
          <app-videoplayer [GameCode]="GameCode" [url]="GameDetails?.StreamingUrl" [PlayerDes]="PlayerDestroy"> </app-videoplayer>
          <div class="winning-message-video" *ngIf="GameWinner">
            <div class="who-wins">
              WINNER {{GameWinner}}
              <br><span>{{GameWinningHand}}</span>
            </div>
          </div>
          <!-- <div class="msg winner" *ngIf="GameWinner">
            <span *ngIf="GameWinner !== 'Draw'">WINNER {{GameWinner}} <span *ngIf="GameWinningHand"
                style="text-transform: none">({{GameWinningHand}})</span></span>
            <span *ngIf="GameWinner === 'Draw'">{{GameWinner}}</span>
          </div>
          <div class="msg winner no-bets" *ngIf="GameStatus==2">
            <span>{{constant.GameStatus[GameStatus]}}</span>
          </div> -->

          <div class="left-part">
            <span class="live-label-live hidden-sm hidden-xs">LIVE</span>
          </div>
          <div class="second-left-part" (click)="constant.getGameRule(GameID)">
            <a href="#RulesPopup" data-toggle="modal"> <i class="fa fa-info-circle" title="Rule"></i></a>
          </div>
          <!-- <div class="game-bal-lia">
            <span class="game-bal">
              Balance : <i class="fa fa-inr"></i>
              {{GameBalance | number:'1.2-2'}}
            </span>
            <span class="game-lia">
              Liability : <i class="fa fa-inr"></i>
              {{GameLiability | number:'1.2-2'}}
            </span>
          </div> -->
          <div class="player-cards pl-crd andar-bahar">
            <div class="andar-bahar">
              <div class="player-cont row" style="margin:0 -5px">
                <div class=" text-center col-md-12 col-sm-12 col-xs-12 p-05 mb-3 h">
                  <h6 style="text-align: left">
                    <div class="badge right">{{GameCard.Player8.Score ? GameCard.Player8.Score : 8}}</div> Player 8
                  </h6>
                  <ngx-slick-carousel class="carousel carousel-a" id="slickAModal" #slickAModal="slick-carousel"
                    [config]="slideConfig">
                    <div ngxSlickItem class="slide"
                      *ngFor="let card of GameCard.Player8.Cards;trackBy: trackByFn;let index = index;let count = count;">
                      <div class="livecard flipcard h flip">
                        <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                        <div class="back" [class.disabled]="count - 1 != index"> <img class="casinocard"
                            src="{{constant.CardImages[card]}}"></div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
                <div class=" text-center col-md-12 col-sm-12 col-xs-12 p-05 mb-3 h">
                  <h6 style="text-align: left">
                    <div class="badge right">{{GameCard.Player9.Score ? GameCard.Player9.Score : 9}}</div> Player 9
                  </h6>
                  <ngx-slick-carousel class="carousel carousel-b" id="slickBModal" #slickBModal="slick-carousel"
                    [config]="slideConfig">
                    <div ngxSlickItem class="slide"
                      *ngFor="let card of GameCard.Player9.Cards;trackBy: trackByFn;let index = index;let count = count;">
                      <div class="livecard flipcard h flip">
                        <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                        <div class="back" [class.disabled]="count - 1 != index"> <img class="casinocard"
                            src="{{constant.CardImages[card]}}"></div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
                <div class=" text-center col-md-12 col-sm-12 col-xs-12 p-05 mb-3 h">
                  <h6 style="text-align: left">
                    <div class="badge right">{{GameCard.Player10.Score ? GameCard.Player10.Score : 10}}</div> Player 10
                  </h6>
                  <ngx-slick-carousel class="carousel carousel-c" id="slickCModal" #slickBModal="slick-carousel"
                    [config]="slideConfig">
                    <div ngxSlickItem class="slide"
                      *ngFor="let card of GameCard.Player10.Cards;trackBy: trackByFn;let index = index;let count = count;">
                      <div class="livecard flipcard h flip">
                        <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                        <div class="back" [class.disabled]="count - 1 != index"> <img class="casinocard"
                            src="{{constant.CardImages[card]}}"></div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
                <div class=" text-center col-md-12 col-sm-12 col-xs-12 p-05 mb-3 h">
                  <h6 style="text-align: left">
                    <div class="badge right">{{GameCard.Player11.Score ? GameCard.Player11.Score : 11}}</div> Player 11
                  </h6>
                  <ngx-slick-carousel class="carousel carousel-d" id="slickDModal" #slickBModal="slick-carousel"
                    [config]="slideConfig">
                    <div ngxSlickItem class="slide"
                      *ngFor="let card of GameCard.Player11.Cards;trackBy: trackByFn;let index = index;let count = count;">
                      <div class="livecard flipcard h flip">
                        <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                        <div class="back" [class.disabled]="count - 1 != index"> <img class="casinocard"
                            src="{{constant.CardImages[card]}}"></div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
              </div>
            </div>
          </div>

          <div class="agent-logo">
            <img src="{{GameDetails.LogoPath}}" alt="">
          </div>
        </div>


        <!-- 32 Cards Total Result Area -->
        <div class="total-result">
          <div class="badge">{{GameCard.Player8.Score ? GameCard.Player8.Score : 8}}</div>
          <div class="badge right">{{GameCard.Player9.Score ? GameCard.Player9.Score : 9}}</div>
          <div class="badge right">{{GameCard.Player10.Score ? GameCard.Player10.Score : 10}}</div>
          <div class="badge right">{{GameCard.Player11.Score ? GameCard.Player11.Score : 11}}</div>
        </div>

      </div>

      <div class="match-odds">
        <div class="marketborder">
          <div class="col-md-6 col-sm-12 dis-show nopadding">
            <h3 class="markettitle text-center"><span>{{constant.GameName[GameCode]}} - {{DisplayID}}</span></h3>
          </div>
          <div class="posr">
            <app-game-detail [GameDetails]="GameDetails" [GameCode]="GameCode" [DisplayID]="DisplayID" [isLay]="true"
              [backLayName]="backLayName">
            </app-game-detail>
            <div class="position-relative">
              <ng-container *ngFor="let item of constant.GameRunner.C32UI | keyvalue: constant.asIsOrder;">
                <div class="row backLeyCard">
                  <div class="col-xs-8 p-0">
                    <div>
                      {{item.value}}
                    </div>
                    <div [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">
                      {{PL[item.key + 'PL'] | number:'1.2-2'}}
                    </div>
                  </div>
                  <div class="col-xs-2 p-0">
                    <div class="backLeyCard_backrate">
                      <div (click)="AddBet(item.key,1)" [hidden]="GameRate[item.key][1] == '-'">
                        {{GameRate[item.key][1]}}
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2 p-0">
                    <div class="backLeyCard_layate">
                      <div (click)="AddBet(item.key,0)"
                        [style.visibility]="GameRate[item.key][0] == '-' ? 'hidden' : 'visible'">
                        {{GameRate[item.key][0]}}
                      </div>
                    </div>
                  </div>
                  <div class="sus-status" *ngIf="GameCard[item.key].Status == 2 && !ShowGameStatusOverlay">
                    Suspended
                  </div>
                </div>

                <div class="row mob-bet-slip" *ngIf="(this.GameBetDetails.Runner === item.key) && ShowBetSlip">
                  <div class="col-xs-12 p-0">
                    <div class="bet-slip-player">
                      <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                        [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                        [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                        (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                      </app-bet-slip>
                    </div>
                  </div>
                </div>
              </ng-container>

              <app-game-close [ShowGameStatusOverlay]="ShowGameStatusOverlay" [GameWinner]="GameWinner"
                [GameStatus]="GameStatus"></app-game-close>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 marketborder nopadding mt-2">
          <h3 class="markettitle text-center"><span>Winner Player Hand</span></h3>
          <div class="marketdivcontent">
            <div class="nopadding">
              <div class="col-md-12 col-sm-12 nopadding">
                <div class="retro-button">
                  <div class="trade-button pointer"
                    *ngFor="let item of constant.GameRunner.C32R | keyvalue: constant.asIsOrder;let i=index;"
                    [ngClass]="constant.bgColor[i]" (click)="WinnerBet(item.key,1)">
                    <img class="trade-background" src="assets/images/coins-solid.svg" alt="">
                    <div class="trade-name">{{item.value}}
                      <span class="trade-rate" [hidden]="GameRate[item.key][1] == '-'"
                        [ngClass]="(GameRate[item.key][1])>0?'green':'red'">{{GameRate[item.key][1]}}</span>
                      <span class="trade-pl" [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">{{(PL[item.key + 'PL'] |
                        number:'1.2-2')}}</span>
                    </div>
                  </div>
                  <div *ngIf="GameCard.Player8.Cards[0] || ShowGameStatusOverlay" class="game-status-no-bets">
                    <span>Suspended</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 nopadding bet-slip-player mob-bet-slip"
              *ngIf="!GameCard.Player8.Cards[0] && !ShowGameStatusOverlay && ShowBetSlip && constant.GameRunner.C32R.hasOwnProperty(GameBetDetails.Runner)">
                <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
                  [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus"
                  [GameID]="GameID" [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)"
                  (onValidateBet)="ValidateBet()">
                </app-bet-slip>
              </div>

              <div class="clearfix"></div>
              <!-- <div class="posr">
                <table class="table table-market table-striped noMarginBottom">
                  <thead>
                    <tr class="row">
                      <th class="col-xs-6 col-sm-6 col-md-6 text-center white"
                        *ngFor="let item of constant.GameRunner.C32R | keyvalue: constant.asIsOrder;let i=index;">
                        <div class="trade-button pointer" (click)="WinnerBet(item.key,1)">
                          <div class="trade-background">
                            <app-svg-button-img></app-svg-button-img>
                          </div>
                          <div class="trade-name" [ngClass]="constant.bgColor[i]">{{item.value}}
                            <span class="value" [hidden]="GameRate[item.key][1] == '-'"
                              [ngClass]="(GameRate[item.key][1])>0?'green':'red'">
                              {{GameRate[item.key][1]}}
                            </span>
                            <span [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">
                              {{(PL[item.key + 'PL'] | number:'1.2-2')}}
                            </span>
                          </div>
                        </div>
                      </th>
                    </tr>
                    <tr class="row mob-bet-slip"
                      *ngIf="!GameCard.Player8.Cards[0] && !ShowGameStatusOverlay && ShowBetSlip && constant.GameRunner.C32R.hasOwnProperty(GameBetDetails.Runner)">
                      <td class="col-xs-12" colspan="2">
                        <div class="bet-slip-player">
                          <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                            [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                            [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                            (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                          </app-bet-slip>
                        </div>
                      </td>
                    </tr>
                  </thead>
                </table>
                <div *ngIf="GameCard.Player8.Cards[0] || ShowGameStatusOverlay" class="game-status-no-bets">
                  <span>Suspended</span>
                </div>
              </div> -->
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn" data-toggle="modal"
          data-target="#BetListPopup">Bet list ({{GameBetList.length}}) ( click here )</button> -->
      </div>
      <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn" data-toggle="modal"
        data-target="#matchbetsPopup">
        Bet List ({{GameBetList.length}})
      </button>
      <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn green pull-right" data-toggle="modal"
        data-target="#matchresultPopup">
        Game Result
      </button>
    </div>

    <div class="col-md-4">
      <div class="col-xs-12 betslip-web p-0">
        <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
          [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus" [GameID]="GameID"
          [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
        </app-bet-slip>
      </div>

      <!-- OneClick bet Start -->
      <div class="marketborder one-click-bet">
        <app-one-click [isHeader]="false" [IsOneClick]="IsOneClick" (oneClick)="oneClick($event)"></app-one-click>
        <div *ngIf="IsOneClick && !IsEdit" class="one-click-value">
          <div class="btn-group mr-5" data-toggle="buttons">
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip1}"
              (click)="DefaultChip=GameDetails.Chip1;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip1}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip2}"
              (click)="DefaultChip=GameDetails.Chip2;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip2}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip3}"
              (click)="DefaultChip=GameDetails.Chip3;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip3}}
            </label>
          </div>
          <button type="button" class="btn btn-success one-click-edit-btn" (click)="EditOneClickChips(0)">Edit
          </button>
        </div>
        <div *ngIf="IsOneClick && IsEdit" class="one-click-edit">
          <div class="form-inline">
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip1"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip2"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip3"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <button type="submit" class="btn btn-success one-click-save"
              (click)="AddUpdateOneClickChips()">Save</button>
            <button type="reset" class="btn btn-danger one-click-cancel" (click)="IsEdit=false">Cancel</button>
          </div>
        </div>
      </div>
      <!-- OneClick bet End -->
      <!-- Bet List Start -->
      <div class="betslip-container matchedbet">
        <app-bet-list [isModal]="false" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
          [betList]="GameBetList"></app-bet-list>
      </div>
      <!-- Bet List End -->
      <!-- History Result Start -->
      <div class="marketborder hidden-xs matchedbet" style="margin-top: 10px;">
        <div class="col-md-12 col-sm-12 nopadding">
          <h3 class="markettitle text-center"><span>Game Result</span></h3>
        </div>
        <div class="marketdivcontent">
          <div class="nopadding text-center" posr>
            <div class="title-list green" *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner == 'Player 8' ? '8' : item.Winner == 'Player 9' ? '9' : item.Winner == 'Player 10'
                    ? 10 : 11}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- History Result End -->
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="overlay"></div>

<!-- <app-rules *ngIf="GameCode" [code]="GameCode"></app-rules> -->

<app-chips-setting [minStack]="GameDetails.MinStakePerBet" [maxStack]="GameDetails.MaxStakePerBet"></app-chips-setting>

<app-error *ngIf="!IsVerified" [errorMessage]="DisplayMessage"></app-error>

<app-bet-list [isModal]="true" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
  [betList]="GameBetList"></app-bet-list>

<!-- Round History Pop Up Start -->
<div id="RhistoryPopup" class="modal fade modal-scroll" style="z-index: 1054;" tabindex="-1" data-replace="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">{{constant.GameName[GameCode]}} (ID - {{GameHistoryDetails.DisplayID}})</h4>
      </div>
      <div class="modal-body">
        <div class="player-cards andar-bahar">
          <div class="player-cont row m-0" style="justify-content: center;padding-top: 10px;">

            <div class="player-cont playera text-center col-md-12 col-sm-3 col-xs-6 m-b-10">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails?.Card?.Player8?.Cards[GameHistoryDetails?.Card?.Player8?.Cards.length - 1]]}}">
                </div>
              </div>
              <h6>Player 8</h6>
              <div class="badge right">
                {{GameHistoryDetails?.Card?.Player8?.Score ? GameHistoryDetails?.Card?.Player8?.Score : 8}}</div>
            </div>

            <div class="player-cont playera text-center col-md-12 col-sm-3 col-xs-6 m-b-10">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails?.Card?.Player9?.Cards[GameHistoryDetails?.Card?.Player9.Cards?.length -1]]}}">
                </div>
              </div>
              <h6>Player 9</h6>
              <div class="badge left">
                {{GameHistoryDetails?.Card?.Player9?.Score? GameHistoryDetails?.Card?.Player9?.Score : 9}}</div>
            </div>

            <div class="player-cont playera text-center col-md-12 col-sm-3 col-xs-6 m-b-10">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails?.Card?.Player10?.Cards[GameHistoryDetails?.Card?.Player10?.Cards.length -1]]}}">
                </div>
              </div>
              <h6>Player 10</h6>
              <div class="badge left">
                {{GameHistoryDetails?.Card?.Player10?.Score ? GameHistoryDetails?.Card?.Player10?.Score : 10}}</div>
            </div>

            <div class="player-cont playera text-center col-md-12 col-sm-3 col-xs-6 m-b-10">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails?.Card?.Player11?.Cards[GameHistoryDetails?.Card?.Player11?.Cards.length -1]]}}">
                </div>
              </div>
              <h6>Player 11</h6>
              <div class="badge left">
                {{GameHistoryDetails?.Card?.Player11?.Score ? GameHistoryDetails?.Card?.Player11?.Score : 11}}</div>
            </div>

          </div>
          <div class="game-result m-0 row win"><br>{{GameHistoryDetails.Winner}}</div>
          <div class="game-result winner-hand-popup">{{GameHistoryDetails.WinningHand}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Round History Pop Up End -->

<!-- Game Result Popup Start-->
<div id="matchresultPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">Game Result</h4>
      </div>
      <div class="modal-body result-background">
        <div class="marketdivcontent">
          <div class="nopadding text-align" posr>
            <div class="title-list green" *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner == 'Player 8' ? '8' : item.Winner == 'Player 9' ? '9' : item.Winner == 'Player 10'
                    ? 10 : 11}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Game Result Popup End-->
<!-- Game Rule -->
<div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <app-rules [rules]="constant.gameRule"></app-rules>
</div>
