.bet-overlay {
  position: absolute;
  /* left         : 0; */
  top: -45px;
  width: 100%;
  // border       : solid 1px #eb1111;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.72);
  /* height       : 100vh; */
  line-height: 45px;
  /* font-weight  : 700; */
  color: #eb1111;
  text-transform: uppercase;
  font-size: 16px;
  z-index: 1;
  font-family: 'cambria';
  // height       : 40vh;
  // width        : 30vh;
  // border-radius: 10px;
}

.table-market {
  border: 0.5px solid rgba(255, 255, 255, 0.08);
}

.bet-overlay {
  top: 0px;
  line-height: 56px;
  background: rgba(0, 0, 0, 0.7);
}

.sus-status {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  opacity: 1;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 4;
  display: block;
  text-transform: uppercase;
  height: 45px;
  width: calc(33% + 4px) !important;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-8 {
  bottom: 171px;
}

.p-9 {
  bottom: 114px;
}

.p-10 {
  bottom: 57px;
}

.p-11 {
  bottom: 0;
}

.slick-next {
  right: -5px !important;
  z-index: 10;
  top: 75% !important;
}

.slick-prev {
  left: -5px !important;
  z-index: 10;
  top: 75% !important;
}


.trade-name span.value {
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 2px;
}

.trade-name .green,
.trade-name .red {
  display: block;
  font-size: 11px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 2px;
}

.trade-name {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  pointer-events: all;
  // background-color: #070737;
  color: #FFC959;
  text-decoration: none;
  border-radius: 0.5rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .6);
  transition: all 0.4s ease-in-out;
}

.trade-background {
  position: absolute;
  display: flex;
  width: 100%;
  // height: 100%;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  // border: 1px solid #8E6F2D;
  padding: 3px 0;
  border-radius: 0.5rem;
}

.trade-button {
  width: 100%;
  height: 7.5rem;
  font-size: 1.85rem;
  display: table;
  position: relative;
  padding: 5px 0;
}

.dark-blue {
  background-color: #070737;
}

.dark-blue:hover {
  background: #0e0e66;
}

.dark-green {
  background-color: #092e13;
}

.dark-green:hover {
  background: #0f461e;
}

.dark-red {
  background-color: #510c14;
}

.dark-red:hover {
  background: #7d1824;
}

.dark-gray {
  background-color: #004747;
}

.dark-gray:hover {
  background: #1a5f5f;
}

.st0 {
  display: none;
  fill: #FFC959;
}

.st1 {
  fill: none;
  stroke: #FFC959;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
}

.pl-crd {
  width: 140px;
}

.p-05 {
  padding: 0 5px;
}

.total-result {
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

.total-result .badge {
  background-color: #000;
  color: #fff;
  padding: 2px;
  font-weight: 500;
  text-align: center;
  vertical-align: baseline;
  margin: 0 2px 7px;
  border-radius: 0;
  font-size: 17px;
  letter-spacing: 1px;
  min-width: 30px;
  // transform: perspective(30em) rotateX(30deg);
}

@media (max-width: 991px) {
  .player-cards {
    width: 150px;
  }

  .player-cards.andar-bahar .player-cont {
    flex-flow: row wrap;
  }

  .player-cards h6 {
    margin-top: 5px;
  }

  .flipcard .front img,
  .flipcard .back img {
    max-width: 75%;
  }
}

@media (max-width: 767px) {
  .trade-background {
    padding: 3px;
  }

  .retro-button {
    flex-wrap: nowrap;
  }

  .trade-button {
    width: 100%;
  }

  .player-cards {
    width: 120px;
  }

  .total-result {
    width: 32%;
    left: 5px;
  }

  .total-result .badge {
    font-size: 12px;
    letter-spacing: 0px;
    min-width: 22px;
    margin: 0 2px 0;
  }

}

.mb-3 {
  margin-bottom: 3px;
}

.player-cards.andar-bahar .player-cont .badge {
  margin-bottom: 5px;
}

@media(max-width:320px) {
  .h {
    height: 38px;
  }

  .mb-3 {
    margin-bottom: 5px;
  }

  .player-cards {
    width: 130px;
  }
}

@media(max-width:280px) {
  .h {
    height: 32px;
  }

  .player-cards.andar-bahar h6 {
    margin-bottom: 0px;
  }

  .player-cards.andar-bahar .player-cont .badge {
    padding: 0px 3px 0px 2px;
  }
}
.m-b-10{
  margin-bottom: 10px!important;
}