<div class="col-xs-12 p-0 text-center">
  <p class="betDetails_gameBox_cardHeading border-bottom">Game Results</p>
</div>
<div class="col-xs-12 p-0 text-center mt-5">
  <ng-container *ngIf="GameCode=='TP' || GameCode=='TP20' || GameCode=='VTP' || GameCode=='VTP20'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner=='Player A'?'A':item.Winner=='Player B'?'B':'D'}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='AB' || GameCode=='AB20' || GameCode=='VAB' || GameCode=='VAB20'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner=='Andar'?'A':item.Winner=='Bahar'?'B':'D'}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='DT' || GameCode=='DT20' || GameCode=='VDT' || GameCode=='VDT20'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner=='Dragon'?'D':item.Winner=='Tiger'?'T':'I'}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='WM' || GameCode=='WM'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='ARW' || GameCode=='VARW'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner == 'Akbar' ? 'A' : item.Winner == 'Romeo' ? 'R' : 'W'}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='UD7' || GameCode=='VUD7'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner == '7Up' ? 'U' : item.Winner == '7Down' ? 'D' : '7'}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='C32' || GameCode=='VC32'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner == 'Player 8' ? '8' : item.Winner == 'Player 9' ? '9' : item.Winner == 'Player 10' ? 10 :
            11}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='PK' || GameCode=='PK20' || GameCode=='VPK' || GameCode=='VPK20'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner=='Player A'?'A':item.Winner=='Player B'?'B':'D'}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='BAC' || GameCode=='BAC20' || GameCode=='VBAC' || GameCode=='VBAC20'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner=='Player'?'P':item.Winner=='Banker'?'B':'T'}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='V3CJ' || GameCode=='D3CJ'">
    <div class="title-list card-judgement" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{gameResult(item.Winner)}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='V3TP' || GameCode=='D3TP'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner=='Player A'?'A':item.Winner=='Player B'?'B':item.Winner=='Player C'?'C':'D'}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='VJKR' || GameCode=='JKR'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{jokerWinnerName(item.Winner, 0)}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='VBJ' || GameCode=='BJ'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner=='Player'?'P':item.Winner=='Dealer'?'D':'T'}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='VPK6' || GameCode=='VPK620' || GameCode=='PK6' || GameCode=='PK620'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner}}</span>
        </div>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="GameCode=='CR' || GameCode=='VCR'">
    <div class="title-list" *ngFor="let item of GameHistoryList">
      <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
        <div class="list">
          <span>{{item.Winner=='Spade'?'S':item.Winner=='Club'?'C':item.Winner=='Diamond'?'D':'H'}}</span>
        </div>
      </a>
    </div>
  </ng-container>
</div>

<div id="RhistoryPopup" class="modal fade modal-scroll" style="z-index: 1054;" tabindex="-1" data-replace="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          x
        </button>
        <h4 class="modal-title">{{constant.GameName[GameCode]}} (ID - {{GameHistoryDetails.DisplayID}})</h4>
      </div>
      <div class="modal-body">
        <div class="player-cards teenpatti"
          *ngIf="GameCode=='TP' || GameCode=='TP20' || GameCode=='VTP' || GameCode=='VTP20'">
          <div class="" style="text-align: center;">
            <h6>Player A</h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[2]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player A'">Winner
              {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}}</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Player B'">Loser</div>
          </div>
          <br>
          <div class="" style="text-align: center;">
            <h6>Player B</h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[2]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player B'">Winner
              {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}}</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Player A'">Loser</div>
          </div>
          <div class="game-result draw" *ngIf="GameHistoryDetails.Winner=='Draw'"><br>Draw</div>
        </div>
        <div class="player-cards andar-bahar"
          *ngIf="GameCode=='AB' || GameCode=='AB20' || GameCode=='VAB' || GameCode=='VAB20'">
          <div class="player-cont row" style="justify-content: center;">
            <div class="player-cont playera text-center col-md-12 col-sm-4 col-xs-4">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails.PlayerACard[GameHistoryDetails.PlayerACard.length - 1]]}}">
                </div>
              </div>
              <h6>Andar</h6>
              <div class="badge right">A</div>
              <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Andar'">Winner</div>
              <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Bahar'">Loser</div>
            </div>

            <div class="player-cont playera text-center col-md-12 col-sm-4 col-xs-4">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails.PlayerTCard[0]]}}">
                </div>
              </div>
              <h6>Joker</h6>
            </div>

            <div class="player-cont playera text-center col-md-12 col-sm-4 col-xs-4">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[GameHistoryDetails.PlayerBCard.length -1]]}}">
                </div>
              </div>
              <h6>Bahar</h6>
              <div class="badge left">B</div>
              <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Bahar'">Winner</div>
              <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Andar'">Loser</div>
            </div>
          </div>
          <div class="game-result draw" *ngIf="GameHistoryDetails.Winner=='Draw'"><br>Draw</div>
          <!-- <div class="game-result winner-hand">
            Hand : {{GameHistoryDetails.WinningHand.Hand}} 
          </div><div class="game-result winner-hand">
            Joker Suite : {{GameHistoryDetails.WinningHand.JokerSuite}}
            </div><div class="game-result winner-hand">
            Winning Suite : {{GameHistoryDetails.WinningHand.WinnerSuite}}
          </div> -->
        </div>
        <div class="player-cards dragon-tiger"
          *ngIf="GameCode=='DT' || GameCode=='DT20' || GameCode=='VDT' || GameCode=='VDT20'">
          <div class="playera text-center" style="text-align: center;">
            <h6>Dragon </h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Dragon'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Tiger'">Loser</div>
          </div>
          <br>
          <div class="playerb text-center" style="text-align: center;">
            <h6>Tiger </h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[0]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Tiger'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Dragon'">Loser</div>
          </div>
          <div class="game-result draw" *ngIf="GameHistoryDetails.Winner=='Tie'"><br>Tie</div>
          <div class="game-result winner-hand">
            Dragon : {{GameHistoryDetails.WinningHand.DragonSuite}} | {{GameHistoryDetails.WinningHand.Dragon}}
          </div>
          <div class="game-result winner-hand">
            Tiger : {{GameHistoryDetails.WinningHand.TigerSuite}} | {{GameHistoryDetails.WinningHand.Tiger}}
          </div>
        </div>
        <div class="player-cards worli" *ngIf="GameCode=='WM' || GameCode=='VWM'">
          <div class="playera" style="text-align: center;">
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[2]]}}"> </div>
            </div>
            <div class="game-result win">Winner {{GameHistoryDetails.Winner}} ({{GameHistoryDetails.WinningHand}})
            </div>
          </div>
        </div>
        <div class="player-cards" *ngIf="GameCode=='ARW' || GameCode=='VARW'">
          <div class="playera text-center">
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>
          </div>
          <div class="game-result draw"><br>{{GameHistoryDetails.Winner}}</div>
          <div class="game-result winner-hand-popup">
            <br><span style="display: block;">Hand : {{GameHistoryDetails.WinningHand.Hand}} </span>
            <br><span style="display: block;">Suite : {{GameHistoryDetails.WinningHand.Suite}}</span>
            <br><span style="display: block;">{{GameHistoryDetails.WinningHand.Seven}}</span>
          </div>
        </div>
        <div class="player-cards" style="text-align: center;" *ngIf="GameCode=='UD7' || GameCode=='VUD7'">
          <div class="playera text-center">
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>
          </div>
          <div class="game-result win"><br>Winner: {{GameHistoryDetails.Winner}}</div>
          <div class="game-result overlay-winner-hand">
            <br>
            {{GameHistoryDetails.WinningHand}}
          </div>
        </div>
        <div class="player-cards andar-bahar" *ngIf="GameCode=='C32' || GameCode=='VC32'">
          <div class="player-cont row" style="justify-content: center;">
            <div class="player-cont playera text-center col-md-12 col-sm-3 col-xs-4">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails?.Card?.Player8?.Cards[GameHistoryDetails?.Card?.Player8?.Cards.length - 1]]}}">
                </div>
              </div>
              <h6>Player 8</h6>
              <div class="badge right">
                {{GameHistoryDetails?.Card?.Player8?.Score ? GameHistoryDetails?.Card?.Player8?.Score : 8}}</div>
            </div>

            <div class="player-cont playera text-center col-md-12 col-sm-3 col-xs-4">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails?.Card?.Player9?.Cards[GameHistoryDetails?.Card?.Player9.Cards?.length -1]]}}">
                </div>
              </div>
              <h6>Player 9</h6>
              <div class="badge left">
                {{GameHistoryDetails?.Card?.Player9?.Score? GameHistoryDetails?.Card?.Player9?.Score : 9}}</div>
            </div>

            <div class="player-cont playera text-center col-md-12 col-sm-3 col-xs-4">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails?.Card?.Player10?.Cards[GameHistoryDetails?.Card?.Player10?.Cards.length -1]]}}">
                </div>
              </div>
              <h6>Player 10</h6>
              <div class="badge left">
                {{GameHistoryDetails?.Card?.Player10?.Score ? GameHistoryDetails?.Card?.Player10?.Score : 10}}</div>
            </div>

            <div class="player-cont playera text-center col-md-12 col-sm-3 col-xs-4">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails?.Card?.Player11?.Cards[GameHistoryDetails?.Card?.Player11?.Cards.length -1]]}}">
                </div>
              </div>
              <h6>Player 11</h6>
              <div class="badge left">
                {{GameHistoryDetails?.Card?.Player11?.Score ? GameHistoryDetails?.Card?.Player11?.Score : 11}}</div>
            </div>

          </div>
          <div class="game-result row win"><br>{{GameHistoryDetails.Winner}}</div>
          <div class="game-result winner-hand-popup">{{GameHistoryDetails.WinningHand}}</div>
        </div>
        <div class="player-cards poker"
          *ngIf="GameCode=='PK' || GameCode=='PK20' || GameCode=='VPK' || GameCode=='VPK20'">
          <div class="player-cont playera text-center p-r-0" style="text-align: center;">
            <h6>Flop</h6>
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"> <img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.TableCard[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.TableCard[1]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"> <img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.TableCard[2]]}}">
              </div>
            </div>
          </div>
          <div class="player-cont">
            <div class="player-cont playera p-r-0" style="width: 25%;text-align: center;">
              <h6 class="p-r-0">Turn</h6>
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"><img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails.TableCard[3]]}}">
                </div>
              </div>
            </div>
            <div class="player-cont playera p-r-0" style="width: 25%;text-align: center;">
              <h6 class="p-r-0">River</h6>
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"><img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails.TableCard[4]]}}">
                </div>
              </div>
            </div>
          </div>
          <div class="player-cont playera p-r-0" style="margin-bottom: 0; text-align: center;">
            <h6>Player A</h6>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"> <img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[1]]}}">
              </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player A'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Player B'">Loser</div>
          </div>
          <div class="player-cont playerb p-r-0" style="margin-bottom: 0; text-align: center;">
            <h6>Player B</h6>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[1]]}}">
              </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player B'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Player A'">Loser</div>
          </div>
          <div class="player-cont" style="width: 100%;">
            <div class="game-result draw" *ngIf="GameHistoryDetails.Winner=='Split Pot!'"><br>Draw</div>
            <div class="game-result overlay-winner-hand">
              <br>{{GameHistoryDetails.WinningHand ? GameHistoryDetails.WinningHand : ''}}
            </div>
          </div>
        </div>
        <div class="player-cards baccarat"
          *ngIf="GameCode=='BAC' || GameCode=='BAC20' || GameCode=='VBAC' || GameCode=='VBAC20'">
          <div class="playera text-center">
            <h6>Player <span class="score"
                [ngClass]="GameHistoryDetails.PlayerAScore>GameHistoryDetails.PlayerBScore?'green':'red'">{{GameHistoryDetails.PlayerAScore}}</span>
            </h6>
            <div class="historycard flipcard h rotate">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[2]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>

            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Banker'">Loser</div>
          </div>
          <br>
          <div class="playerb text-center">
            <h6>Banker <span class="score"
                [ngClass]="GameHistoryDetails.PlayerBScore>GameHistoryDetails.PlayerAScore?'green':'red'">{{GameHistoryDetails.PlayerBScore}}</span>
            </h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h rotate-reverse">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[2]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Banker'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Player'">Loser</div>
          </div>
          <div class="game-result draw" *ngIf="GameHistoryDetails.Winner=='Tie'"><br>Tie</div>
          <div class="game-result winner-hand-popup">{{GameHistoryDetails.WinningHand}}</div>
        </div>
        <div class="player-cards" *ngIf="GameCode=='V3CJ' || GameCode=='D3CJ'">
          <div class="playera" style="text-align: center;">
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[2]]}}"> </div>
            </div>
            <div class="game-result win">Winner ( {{GameHistoryDetails.Winner}} )
            </div>
          </div>
        </div>
        <div class="player-cards teenpatti" *ngIf="GameCode=='V3TP' || GameCode=='D3TP'">
          <div class="playera" style="text-align: center;">
            <h6>Player A</h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[2]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player A'">Winner
              {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}}</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner!='Player A'">Loser</div>
          </div>
          <div class="playerb" style="text-align: center;">
            <h6>Player B</h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[2]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player B'">Winner
              {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}}</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner!='Player B'">Loser</div>
          </div>
          <div class="playera playerc" style="text-align: center;">
            <h6>Player C</h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerCCard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerCCard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerCCard[2]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player C'">Winner
              {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}}</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner!='Player C'">Loser</div>
          </div>
          <div class="game-result draw" *ngIf="GameHistoryDetails.Winner=='Draw'"><br>Draw</div>
        </div>
        <div class="player-cards" style="text-align: center;" *ngIf="GameCode=='VJKR' || GameCode=='JKR'">
          <div class="playera text-center">
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.Cards[0]]}}">
              </div>
            </div>
          </div>
          <div class="game-result draw"><br>Winner : {{jokerWinnerName(GameHistoryDetails.Winner, 1)}}</div>
          <div class="game-result winner-hand-popup">{{GameHistoryDetails.WinningHand.Number}} </div>
          <div class="game-result winner-hand-popup">Color : {{GameHistoryDetails.WinningHand.Color}}</div>
          <div class="game-result winner-hand-popup">Card Suite : {{GameHistoryDetails.WinningHand.CardSuit}}</div>
        </div>
        <div class="player-cards baccarat" *ngIf="GameCode=='VBJ' || GameCode=='BJ'">
          <div class="playera text-center">
            <h6>Player <span class="score"
                [ngClass]="GameHistoryDetails.PlayerAScore>GameHistoryDetails.PlayerBScore?'green':'red'">{{GameHistoryDetails.PlayerAScore}}</span>
            </h6>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[2]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>

            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Dealer'">Loser</div>
          </div>
          <br>
          <div class="playerb text-center">
            <h6>Dealer <span class="score"
                [ngClass]="GameHistoryDetails.PlayerBScore>GameHistoryDetails.PlayerAScore?'green':'red'">{{GameHistoryDetails.PlayerBScore}}</span>
            </h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[2]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Dealer'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Player'">Loser</div>
          </div>
          <div class="game-result draw" *ngIf="GameHistoryDetails.Winner=='Tie'"><br>Tie</div>
          <!-- <div class="game-result winner-hand-popup">{{GameHistoryDetails.WinningHand}}</div> -->
        </div>
        <div class="player-cards poker-6player"
          *ngIf="GameCode=='VPK6' || GameCode=='VPK620' || GameCode=='PK6' || GameCode=='PK620'">
          <div class="player-cont text-center w-50" style="width: 50% !important;">
            <h6>Flop</h6>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"> <img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.TableCard[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.TableCard[1]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"> <img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.TableCard[2]]}}">
              </div>
            </div>
          </div>

          <div class="player-cont w-50" style="width: 50% !important;">
            <div class="player-cont text-center w-50">
              <h6>Turn</h6>
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"><img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails.TableCard[3]]}}">
                </div>
              </div>
            </div>

            <div class="player-cont text-center w-50" style="float: right;">
              <h6>River</h6>
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"><img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails.TableCard[4]]}}">
                </div>
              </div>
            </div>
          </div>

          <div class="player-cont text-center w-50" style="margin-bottom: 0; text-align: center;">
            <h6>Player 1</h6>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"> <img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.Player1Card[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.Player1Card[1]]}}">
              </div>
            </div>
          </div>

          <div class="player-cont text-center w-50" style="margin-bottom: 0; text-align: center;">
            <h6>Player 2</h6>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.Player2Card[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.Player2Card[1]]}}">
              </div>
            </div>
          </div>

          <div class="player-cont text-center w-50" style="margin-bottom: 0; text-align: center;">
            <h6>Player 3</h6>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"> <img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.Player3Card[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.Player3Card[1]]}}">
              </div>
            </div>
          </div>

          <div class="player-cont text-center w-50" style="margin-bottom: 0; text-align: center;">
            <h6>Player 4</h6>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.Player4Card[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.Player4Card[1]]}}">
              </div>
            </div>
          </div>

          <div class="player-cont text-center w-50" style="margin-bottom: 0; text-align: center;">
            <h6>Player 5</h6>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"> <img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.Player5Card[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.Player5Card[1]]}}">
              </div>
            </div>
          </div>

          <div class="player-cont text-center w-50" style="margin-bottom: 0; text-align: center;">
            <h6>Player 6</h6>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.Player6Card[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.Player6Card[1]]}}">
              </div>
            </div>
          </div>
          <div class="player-cont w-100">
            <div class="game-result win"><br>{{GameHistoryDetails.Winner}}
              {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}}</div>
          </div>
        </div>
        <div class="player-cards teenpatti" *ngIf="GameCode=='CR' || GameCode=='VCR'">
          <div class="playera" style="text-align: center;">
            <h6>Spade</h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.SpadeCard[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.SpadeCard[1]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.SpadeCard[2]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.SpadeCard[3]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.SpadeCard[4]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.SpadeCard[5]]}}">
              </div>
            </div>

            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Spade'">Winner
              <!-- {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}} -->
            </div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner!='Spade'">Loser</div>
          </div>
          <div class="playerb" style="text-align: center;">
            <h6>Club</h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.ClubCard[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.ClubCard[1]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.ClubCard[2]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.ClubCard[3]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.ClubCard[4]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.ClubCard[5]]}}">
              </div>
            </div>

            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Club'">Winner
              <!-- {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}} -->
            </div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner!='Club'">Loser</div>
          </div>
          <div class="clearfix"></div>
          <div class="playera" style="text-align: center;">
            <h6>Diamond</h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.DiamondCard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.DiamondCard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.DiamondCard[2]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.DiamondCard[3]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.DiamondCard[4]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.DiamondCard[5]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Diamond'">Winner
              <!-- {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}} -->
            </div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner!='Diamond'">Loser</div>
          </div>
          <div class="playerb" style="text-align: center;">
            <h6>Heart</h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.HeartCard[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.HeartCard[1]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.HeartCard[2]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.HeartCard[3]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.HeartCard[4]]}}">
              </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.HeartCard[5]]}}">
              </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Heart'">Winner
              <!-- {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}} -->
            </div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner!='Heart'">Loser</div>
          </div>
          <div class="game-result draw" *ngIf="GameHistoryDetails.Winner=='Draw'"><br>Draw</div>
          <div class="game-result draw">
            <br>
            <span class="text-gold d-block" *ngIf="GameHistoryDetails.WinningHand.Hand">Hand :
              {{GameHistoryDetails.WinningHand.Hand}}</span>
            <br>
            <span class="text-gold d-block" *ngIf="GameHistoryDetails.WinningHand.Color">Color :
              {{GameHistoryDetails.WinningHand.Color}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>