<!-- <app-news-header [News]="GameDetails.News" [GameCode]="GameCode" [hidden]="!IsVerified" [balance]="GameBalance"
  [liability]="GameLiability" [gameId]="GameID" [IsOneClick]="IsOneClick" (PlayerDes)="PlayerDes($event)" [userName]="UserName">
</app-news-header> -->
<div class="container-fluid">
  <div class="row gutters-5" [hidden]="!IsVerified">
    <div class="col-md-8 p-0">
      <div class="virtual-card-box">
        <div class="winning-message-video" *ngIf="GameWinner">
          <div class="who-wins">
            WINNER {{GameWinner}}
            <br><span>{{GameWinningHand}}</span>
          </div>
        </div>
        <div class="second-left-part" (click)="constant.getGameRule(GameID)">
          <a href="#RulesPopup" data-toggle="modal"> <i class="fa fa-info-circle" title="Rule"></i></a>
        </div>
        <div class="game-timer virtual-game-timer">
          <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
        </div>
        <app-virtual-card-view [GameCard]="GameCard" [GameCode]="GameCode" [GameID]="GameID"></app-virtual-card-view>
        <div class="agent-logo pk-agent-logo">
          <img src="{{GameDetails.LogoPath}}" alt="">
        </div>
      </div>


      <div class="row m-0">
        <div class="marketborder" style="margin-top: 0;">
          <div class="col-md-12 col-sm-12 dis-show nopadding">
            <h3 class="markettitle text-center"><span>{{constant.GameName[GameCode]}} - {{DisplayID}}</span></h3>
          </div>
          <div class="posr">
            <app-game-detail [GameDetails]="GameDetails" [GameCode]="GameCode" [DisplayID]="DisplayID" [isLay]="true">
            </app-game-detail>
            <div class="position-relative">
              <div class="row backLeyCard">
                <div class="col-xs-8 p-0">
                  <div>
                    Player A
                  </div>
                  <div [ngClass]="(PlayerAPL)>0?'green':'red'">
                    {{PlayerAPL| number:'1.2-2'}}
                  </div>
                </div>
                <div class="col-xs-2 p-0">
                  <div class="backLeyCard_backrate">
                    <div (click)="AddBet('PlayerA',1)"
                      [hidden]="GameRate['PlayerA'][1] == '-' || GameRate['PlayerA'][1] < 1">
                      {{GameRate["PlayerA"][1]}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-2 p-0">
                  <div class="backLeyCard_layate">
                    <div (click)="AddBet('PlayerA',0)"
                      [hidden]="GameRate['PlayerA'][0] == '-' || GameRate['PlayerA'][0] < 1">
                      {{GameRate["PlayerA"][0]}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mob-bet-slip" *ngIf="(this.GameBetDetails.Runner === 'PlayerA') && ShowBetSlip">
                <div class="col-xs-12 p-0">
                  <div class="bet-slip-player">
                    <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                      [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                      [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                      (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                    </app-bet-slip>
                  </div>
                </div>
              </div>

              <div class="row backLeyCard">
                <div class="col-xs-8 p-0">
                  <div>
                    Player B
                  </div>
                  <div [ngClass]="(PlayerBPL)>0?'green':'red'">
                    {{PlayerBPL | number:'1.2-2'}}
                  </div>
                </div>
                <div class="col-xs-2 p-0">
                  <div class="backLeyCard_backrate">
                    <div (click)="AddBet('PlayerB',1)" [hidden]="GameRate['PlayerB'][1] == '-'">
                      {{GameRate["PlayerB"][1]}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-2 p-0">
                  <div class="backLeyCard_layate">
                    <div (click)="AddBet('PlayerB',0)" [hidden]="GameRate['PlayerB'][0] == '-'">
                      {{GameRate["PlayerB"][0]}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mob-bet-slip" *ngIf="(this.GameBetDetails.Runner === 'PlayerB') && ShowBetSlip">
                <div class="col-xs-12 p-0">
                  <div class="bet-slip-player">
                    <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                      [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                      [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                      (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                    </app-bet-slip>
                  </div>
                </div>
              </div>

              <div class="backLeyCard_gameStatus" *ngIf="ShowGameStatusOverlay">
                <div class="col-xs-8 p-0"></div>
                <div class="col-xs-4 p-0 backLeyCard_gameStatus_layer">
                  <div *ngIf="GameWinner=='Split Pot!'">
                    Draw
                  </div>
                  <div *ngIf="GameWinner!='Split Pot!'">
                    {{constant.GameStatus[GameStatus]}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="marketborder">
          <div class="col-md-12 col-sm-12 nopadding">
            <h3 class="markettitle text-center"><span>Winner Player Hand</span></h3>
          </div>
          <div class="col-md-12 col-sm-12 nopadding">
            <div class="retro-button">
              <div class="trade-button pointer"
                *ngFor="let item of constant.GameRunner.PKUI | keyvalue: constant.asIsOrder;let i=index;"
                [ngClass]="constant.bgColor[i]" (click)="AddBet(item.key,1)">
                <img class="trade-background" src="assets/images/coins-solid.svg" alt="">
                <div class="trade-name">{{item.value}}
                  <span class="trade-rate" [hidden]="GameRate[item.key][1] == '-'"
                    [ngClass]="(GameRate[item.key][1])>0?'green':'red'">{{GameRate[item.key][1]}}</span>
                  <span [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'" class="trade-pl">
                    {{(PL[item.key + 'PL'] | number:'1.2-2')}}
                  </span>
                </div>
              </div>
              <div *ngIf="GameCard.PlayerACard[0] || ShowGameStatusOverlay" class="game-status-no-bets">
                <span>No Bets</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 nopadding bet-slip-player mob-bet-slip"
            *ngIf="!GameCard.PlayerACard[0] && !ShowGameStatusOverlay && ShowBetSlip && constant.GameRunner.PKUI.hasOwnProperty(GameBetDetails.Runner)">
            <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
              [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus"
              [GameID]="GameID" [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)"
              (onValidateBet)="ValidateBet()">
            </app-bet-slip>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn" data-toggle="modal"
          data-target="#matchbetsPopup">Bet list ({{GameBetList.length}})</button>
        <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn green pull-right" data-toggle="modal"
          data-target="#matchresultPopup">
          Game Result
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-xs-12 betslip-web p-0">
        <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
          [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus" [GameID]="GameID"
          [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
        </app-bet-slip>
      </div>

      <!-- One Click Bet Start -->
      <div class="marketborder one-click-bet">
        <app-one-click [isHeader]="false" [IsOneClick]="IsOneClick" (oneClick)="oneClick($event)"></app-one-click>
        <div *ngIf="IsOneClick && !IsEdit" class="one-click-value">
          <div class="btn-group mr-5" data-toggle="buttons">
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip1}"
              (click)="DefaultChip=GameDetails.Chip1;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip1}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip2}"
              (click)="DefaultChip=GameDetails.Chip2;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip2}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip3}"
              (click)="DefaultChip=GameDetails.Chip3;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip3}}
            </label>
          </div>
          <button type="button" class="btn btn-success one-click-edit-btn" (click)="EditOneClickChips(0)">Edit
          </button>
        </div>
        <div *ngIf="IsOneClick && IsEdit" class="one-click-edit">
          <div class="form-inline">
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip1"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip2"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip3"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <button type="submit" class="btn btn-success one-click-save"
              (click)="AddUpdateOneClickChips()">Save</button>
            <button type="reset" class="btn btn-danger one-click-cancel" (click)="IsEdit=false">Cancel</button>
          </div>
        </div>
      </div>
      <!-- One Click Bet End -->
      <!-- Bet List Start -->
      <div class="betslip-container matchedbet">
        <app-bet-list [isModal]="false" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
          [betList]="GameBetList"></app-bet-list>
      </div>
      <!-- Bet List End -->
      <!-- History Result Start -->
      <div class="marketborder hidden-xs matchedbet" style="margin-top: 10px;">
        <div class="col-md-12 col-sm-12 nopadding">
          <h3 class="markettitle text-center"><span>Game Result</span></h3>
        </div>
        <div class="marketdivcontent">
          <div class="nopadding text-center" posr>
            <div class="title-list" [ngClass]="item.Winner=='Player A'?'green':item.Winner=='Player B'?'red':'gray'"
              *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner=='Player A'?'A':item.Winner=='Player B'?'B':'D'}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- History Result End -->
    </div>
  </div>
</div>
<div class="overlay"></div>
<!-- <app-rules *ngIf="GameCode" [code]="GameCode"></app-rules> -->
<app-chips-setting [minStack]="GameDetails.MinStakePerBet" [maxStack]="GameDetails.MaxStakePerBet"></app-chips-setting>
<app-error *ngIf="!IsVerified" [errorMessage]="DisplayMessage"></app-error>
<app-bet-list [isModal]="true" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
  [betList]="GameBetList"></app-bet-list>
<!-- Round History Pop Up Start -->
<div id="RhistoryPopup" class="modal fade modal-scroll" style="z-index: 1054;" tabindex="-1" data-replace="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">{{constant.GameName[GameCode]}} (ID - {{GameHistoryDetails.DisplayID}})</h4>
      </div>
      <div class="modal-body">
        <div class="player-cards poker">
          <div class="player-cont playera text-center p-r-0" style="text-align: center;">
            <h6>Flop</h6>
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"> <img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.TableCard[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.TableCard[1]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"> <img class="casinocard" src="{{constant.CardImages[GameHistoryDetails.TableCard[2]]}}">
              </div>
            </div>
          </div>
          <div class="player-cont">
            <div class="player-cont playera p-r-0" style="width: 25%;text-align: center;">
              <h6 class="p-r-0">Turn</h6>
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"><img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails.TableCard[3]]}}">
                </div>
              </div>
            </div>
            <div class="player-cont playera p-r-0" style="width: 25%;text-align: center;">
              <h6 class="p-r-0">River</h6>
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"><img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails.TableCard[4]]}}">
                </div>
              </div>
            </div>
          </div>
          <div class="player-cont playera p-r-0" style="margin-bottom: 0; text-align: center;">
            <h6>Player A</h6>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"> <img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[1]]}}">
              </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player A'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Player B'">Loser</div>
          </div>
          <div class="player-cont playerb p-r-0" style="margin-bottom: 0; text-align: center;">
            <h6>Player B</h6>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[0]]}}">
              </div>
            </div>
            <div class="historycard flipcard h">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[1]]}}">
              </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player B'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Player A'">Loser</div>
          </div>
          <div class="player-cont" style="width: 100%;">
            <div class="game-result draw" *ngIf="GameHistoryDetails.Winner=='Split Pot!'"><br>Draw</div>
            <div class="game-result overlay-winner-hand">
              <br>{{GameHistoryDetails.WinningHand ? GameHistoryDetails.WinningHand : ''}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Round History Pop Up End -->
<!-- Game Result Popup Start-->
<div id="matchresultPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">Game Result</h4>
      </div>
      <div class="modal-body result-background">
        <div class="marketdivcontent">
          <div class="nopadding text-align" posr>
            <div class="title-list" [ngClass]="item.Winner=='Player A'?'green':item.Winner=='Player B'?'red':'gray'"
              *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner=='Player A'?'A':item.Winner=='Player B'?'B':'D'}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Game Result Popup End-->
<!-- Game Rule -->
<div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <app-rules [rules]="constant.gameRule"></app-rules>
</div>