<div class="error-container" *ngIf="errorMessage!=''">
  <div class="row">
    <div class="col-sm-12">
      <div class="loader">
        <img src="assets/images/logo/supernowa-logo-bk.png" alt="Supernowa" title="Supernowa">
        <!-- <img src="assets/images/victor-logo-star.png"> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 invalid"> {{errorMessage}} </div>
  </div>
  <!-- <div class="row" *ngIf="navigateLink">
    <div class="col-sm-12">
      <a class="btn btn-default" [href]="navigateLink">Back To Login</a>
      <a class="btn btn-default" style="margin-left: 25px;" [href]="lobbyLink">Back To Lobby</a>
    </div>
  </div> -->
</div>