<div style="min-height: 100vh;width: 100%;background: white;">
  <div class="container" p-10>
    <div f-25 p-10 text-center>API Documentation</div>

    <div class="api-card m-5" *ngFor="let data of apiData;let i = index;">
      <div class="api-card-header" (click)="expandcollapse(i);">
        <button class="btn btn-danger" disabled *ngIf="data.displayName !== 'Common Model'">POST</button>
        <span pl-10 f-18 w-100-pr>{{data.displayName}}</span>
        <p float-right f-18 *ngIf="!expandorCollapseList[i]">
          <i class="fa fa-plus-circle" aria-hidden="true" style="vertical-align: bottom;"></i>
        </p>
        <p float-right f-18 *ngIf="expandorCollapseList[i]">
          <i class="fa fa-minus-circle" aria-hidden="true" style="vertical-align: bottom;"></i>
        </p>
      </div>
      <div class="api-card-body" id="expand-card-{{i}}" style="display: none" *ngIf="expandorCollapseList[i]">
        <div *ngIf="data.url">
          <strong f-16>URL :</strong>
          <i class="fa fa-clone copy-to-cliboard pointer" aria-hidden="true" title="Copy Url" 
            (click)="copyToClipBoard('#url');">
          </i>
          <pre id="url">{{data?.url}}</pre>
        </div>
        <div *ngIf="data.header">
          <strong f-16>Header :</strong>
          <pre>{{data?.header}}</pre>
        </div>
        <div *ngIf="data.request">
          <strong f-16>Request :</strong>
          <i class="fa fa-clone copy-to-cliboard pointer" aria-hidden="true" title="Copy Request"
            (click)="copyToClipBoard('#request');">
          </i>
          <pre id="request">{{data?.request}}</pre>
        </div>
        <div *ngIf="data.requestPlacebet">
          <strong f-16>Request Placebet :</strong>
          <i class="fa fa-clone copy-to-cliboard pointer" aria-hidden="true" title="Copy Request"
            (click)="copyToClipBoard('#requestPlacebet');">
          </i>
          <pre id="requestPlacebet">{{data?.requestPlacebet}}</pre>
        </div>
        <div *ngIf="data.requestPlacebetCancel">
          <strong f-16>Request Placebet Cancel :</strong>
          <i class="fa fa-clone copy-to-cliboard pointer" aria-hidden="true" title="Copy Request"
            (click)="copyToClipBoard('#requestPlacebetCancel');">
          </i>
          <pre id="requestPlacebetCancel">{{data?.requestPlacebetCancel}}</pre>
        </div>
        <div *ngIf="data.successResponse">
          <strong f-16>Success Response :</strong>
          <pre>{{data?.successResponse}}</pre>
        </div>
        <div *ngIf="data.failResponse">
          <strong f-16>Fail Response :</strong>
          <pre>{{data?.failResponse}}</pre>
        </div>
        <div *ngIf="data.commonModelList && data.commonModelList.length > 0">
          <div *ngFor="let commonModel of data.commonModelList">
            <strong f-16>{{commonModel?.title}} :</strong>
            <pre>{{commonModel?.data}}</pre>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
