.api-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.api-card>hr {
  margin-right: 0;
  margin-left: 0;
}

.api-card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.api-card-title {
  margin-bottom: .75rem;
}

.api-card-subtitle {
  margin-top: -.375rem;
  margin-bottom: 0;
}

.api-card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.api-card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.api-card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0, 0, 0, .03);
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.api-card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

@mixin loop($start, $end, $classname, $cssname) {
  @for $i from $start through $end {
    [#{$classname}-#{$i}] {
      #{$cssname}: #{$i}px;
    }
  }
}

@include loop(11, 30, f, font-size);
@include loop(0, 20, p, padding);
@include loop(0, 20, pl, padding-left);
@include loop(0, 20, pr, padding-right);
@include loop(0, 20, pt, padding-top);
@include loop(0, 20, pb, padding-bottom);

[text-center] {
  text-align: center;
}

[text-right] {
  text-align: right;
}

[float-right] {
  float: right;
}

[w-100-pr] {
  width: 100%;
}

.m-5 {
  margin: 5px;
}

.btn[disabled] {
  opacity: 1;
  cursor: default;
}

.copy-to-cliboard {
  font-size: 15px;
  float: right;
  padding-right: 3px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 6px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -86px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}
