[hidden] {
  display: none !important;
}

.cut-run a.active {
  color: black;
  background-color: var(--primary-font-color);
  transition: all 0.5s;
}

.cut-run a {
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid black;
  font-weight: bold;
  color: white;
  display: block;
  transition: all 0.5s;
  cursor: pointer;
}

.cut-run a:hover {
  color: black;
  background-color: var(--primary-font-color);
  transition: all 0.5s;
}

.cut-run-info {
  a {
    color: var(--primary-font-color);
  }

  font-weight : bold;
  text-align : center;
  vertical-align: middle;
  font-size : 15px;
}

.cut-run-pos {
  color: var(--primary-font-color);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

.game-status {
  width: calc(100%) !important;
  height: calc(100% - 96px);
}

.chips-container {
  padding-top: 8px;
}

.md-chip-closed a.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--primary-font-color);
}

.card-item {
  background: var(--primary-font-color);
  padding: 5px 20px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.pl-crd {
  width: 130px;
}

@media (max-width: 482px) {
  .cut-run-pos {
    font-size: 13px;
    padding-left: 2px !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 991px) {
  .player-cards {
    width: 100px;
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .player-cards {
    width: 100px;
    padding: 5px;

  }

  .game-status {
    width: calc(100%) !important;
    height: calc(100% - 130px);
  }
}

.flipcard {
  width: 30px;
  height: 40px;
}
