<div class="my-account">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="true">
      <i class="fa fa-user" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      <li class="dropdown-header"><i class="fa fa-user" aria-hidden="true"></i> Welcome, {{userName}}</li>
      <li role="separator" class="divider"></li>
      <li><a class="pointer" (click)="GetMarketHistory()"><i class="fa fa-calculator"></i> Transaction Report</a></li>
      <li>
        <a href="#ChipsSettingPopup" data-toggle="modal" (click)="constant.SetGameChips();">
          <i class="fa fa-cog"></i> Chips Setting
        </a>
      </li>
      <li>
        <app-one-click [isHeader]="true" [IsOneClick]="IsOneClick"></app-one-click>
      </li>
      <li>
        <a class="pointer" (click)="OpenCurrentGameRule()">
          <i class="fa fa-info" style="width: 14px;text-align: center;"></i> Game Rules
        </a>
      </li>
      <li>
        <a class="pointer" (click)="Logout()">
          <i class="fa fa-power-off"></i> Back to lobby
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="my-balance" *ngIf="LoginLink">
  <!-- <li><a class="pointer" [href]="constant.LoginLink"><i class="fa fa-globe"></i> Back to Website</a></li>  -->
  <button class="btn btn-default" (click)="backToWebsite()"><i class="fa fa-power-off"></i></button>
  <!-- <a class="btn btn-default pointer" [href]="constant.LoginLink"><i class="fa fa-globe"></i> Back to Website</a>  -->
  <!-- <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="true">
      <i class="fa fa-inr" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
      <li class="dropdown-header"><i class="fa fa-credit-card"></i> Current Balance</li>
      <li role="separator" class="divider"></li>
      <li><a><i class="fa fa-inr"></i> {{balance | number:'1.2-2'}}</a></li>
      <li><a class="pointer" (click)="GetMarketHistory()"><i class="fa fa-calculator"></i> Transaction Report</a></li>
    </ul>
  </div>  -->
</div>
<div class="rules" *ngIf="LiveGame(GameCode)">
  <!-- <a href="#RulesPopup" data-toggle="modal"><i class="fa fa-info-circle"></i> Rules</a> -->
  <!-- <button class="btn btn-default" data-target="#RulesPopup" data-toggle="modal"><i class="fa fa-info"></i></button> -->
  <button class="btn btn-default" (click)="GetRoundHistory()"><i class="fa fa-video-camera"></i></button>
</div>
<div class="volume">
  <button class="btn btn-default" (click)="constant.toggleSound()">
    <i class="fa fa-volume-up" *ngIf="constant.IsSound"></i>
    <i class="fa fa-volume-off" *ngIf="!constant.IsSound"></i>
  </button>
</div>
<div class="my-account">
  <div class="dropdown">
    <button class="btn btn-default btn-grident dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="true" (click)="Logout()">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
    </button>
  </div>
</div>
<!-- <div class="my-account" *ngIf="GameList.length > 0">
  <div class="dropdown">
    <button class="btn btn-default btn-grident dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="true">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu3">
      <li *ngFor="let item of GameList;let i = index;" (click)="OpenGameRule(item)"><a>{{item.Name}}</a></li>
    </ul>
  </div>
</div> -->

<!-- <div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">Rules</h4>
      </div>
      <div class="modal-body text-left">
        <div [innerHtml]="CurrentGame.Rules"></div>
      </div>
    </div>
  </div>
</div> -->
