.player-cards.andar-bahar .player-cont .badge {
  background-color: #f21a2c;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  font-weight: bolder;
  margin-right: 0;
  padding: 0;
}

.player-cards.andar-bahar h6 {
  text-align: left;
}

.retro-button .trade-button {
  min-width: 31%;
}

.pl-crd {
  width: 110px;
}

@media (max-width: 991px) {
  .player-cards {
    width: 110px;
  }

  .player-cards.andar-bahar h6 {
    margin-top: 8px !important;
  }

  .player-cards h6 span {
    width: 18px;
    height: 17px;
  }
}

@media (max-width: 767px) {
  .player-cards {
    width: 110px;
  }
}
