/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 16px;
  // transition: 0.3s;
  font-size: 15px;
  font-weight: normal;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  // background-color:#ffcad5;
  border-bottom: 3px solid rgb(248, 96, 96)
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.player-advanced {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px 5px;
  color: #fff;
  width: 170px;
  margin: 5px auto 0px auto;
  overflow: hidden;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

@media (max-width: 991px) {
  .teenpatti {
    display: flex;
    justify-content: center;
  }
}

.dr-ab {
  position: absolute;
  width: 100%;
  color: white;
  background-color: transparent;
  bottom: 0;
  padding: 10px;
}

.pad-10 {
  padding: 10px;
}

.mt-10 {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .retro-button .trade-button {
    max-width: 49%;
  }
}
@media (max-width: 991px) {
  .player-cards {
    width: 100px;
    padding: 5px;
  }
}
@media (max-width: 767px) {
  .player-cards {
    width: 100px;
  }
}
.pl-crd{
  width: 100px;
}