<div class="betslip-container betslip"
  [ngClass]="{'open' : ShowBetSlip, 'betslip-mob' : isThreeCard && !(selectCardList.firstCard && selectCardList.secCard && selectCardList.thirdCard)}">
  <!-- [ngClass]="[(ShowBetSlip ? 'open' : ''),(isThreeCard ? (selectCardList.firstCard && selectCardList.secCard && selectCardList.thirdCard) ? '' : 'betslip-mob') : '')]" -->
  <h3 class="markettitle text-center"><span>Bet slip</span></h3>
  <div id="divMarketBetPanel">
    <div id="MarketBackBetPanel" class="posr" [hidden]="!ShowBetSlip">
      <table class="table table-placebet noMarginBottom bac-tran">
        <thead>
          <tr class="clsBackTr">
            <th *ngIf="isThreeCard" class="col-md-4 col-sm-4 col-xs-4 text-left">
              {{selectedBetType == 'Yes'?'Yes':'No'}}
              (Bet For {{selectCardList.firstCard}} {{selectCardList.secCard}} {{selectCardList.thirdCard}})
            </th>
            <th *ngIf="!isThreeCard" class="col-md-4 col-sm-4 col-xs-4 text-left">
              {{GameBetDetails.IsBack ? 'Back' : 'Lay'}} (Bet For)
            </th>
            <th class="col-md-3 col-sm-3 col-xs-3 text-center">Odds </th>
            <th class="col-md-3 col-sm-3 col-xs-3 text-center">Stake </th>
            <th class="col-md-2 col-sm-2 col-xs-2 text-center">Profit </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-4 col-sm-4 col-xs-4">
              <span *ngIf="isThreeCard" class="playername white">
                Player
              </span>
              <span *ngIf="!isThreeCard" class="playername white">
                {{constant.GameRunner[GameCode][GameBetDetails.Runner.trim()]}}
              </span>
            </td>
            <td class="col-md-3 col-sm-3 col-xs-3">
              <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="js-spinner">
                  <input type="number" [(ngModel)]="GameBetDetails.Rate" class="textbox form-control" disabled
                    class="textbox js-stepper form-control">
                </div>
              </div>
            </td>
            <td class="col-md-3 col-sm-3 col-xs-3">
              <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                <input type="number" oninput="validity.valid||(value='');" min="1"
                  class="textbox col-xs-12 text-center form-control" placeholder="Stake"
                  [(ngModel)]="GameBetDetails.Stake" (input)="CalculatePL(0);" (blur)="CalculatePL(1)"
                  (keydown)="PlaceEnterBet($event)" onpaste="return false;"
                  onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}"
                  autofocus>
              </div>
            </td>
            <td class="col-md-2 col-xs-2 text-center">
              <span class="profit white">{{PlayerPL | number:'1.2-2'}}</span>
            </td>
          </tr>
          <!-- <tr>
            <td class="col-xs-12 text-center" colspan="4">
              <div class="keyboard-container">
                <div class="md-key-closed col-xs-2" *ngFor="let item of constant.GameKeyBoard">
                  <a (click)="gameKeyBoardClick(item)">{{item}}</a>
                </div>
              </div>
            </td>
          </tr> -->
          <tr>
            <td class="col-xs-12 text-center" colspan="4">
              <div class="chips-container">
                <div class="md-chip-closed" *ngFor="let item of constant.GameChips">
                  <a (click)="AddStake(item.value)" class="btn orange">{{item.name}}</a>
                </div>
                <!-- <div class="md-chip-closed" *ngFor="let item of constant.GameChips">
                  <a class="pointer" (click)="AddStake(item.value)">
                    <img src="assets/images/Poker-Chip-Star.png" alt="IMG" />
                    <span class="md-chip-closed-text">{{item.name}}</span>
                  </a>
                </div> -->
              </div>
              <div class="clearfix"></div>
              <div class="bet-btns">
                <button class="btn btn-md btn-warning cancel-betslip" type="button"
                  (click)="ClearBet();ShowBetSlip=false;">Cancel</button>
                <ng-container *ngIf="isThreeCard">
                  <button id="place-success" class="btn btn-md btn-success" type="button"
                    *ngIf="selectCardList.firstCard && selectCardList.secCard && selectCardList.thirdCard"
                    (click)="ValidateBet()">
                    <!-- [class.disabled]="!selectCardList.firstCard || !selectCardList.secCard || !selectCardList.thirdCard"  -->
                    Place Bet
                  </button>
                </ng-container>
                <ng-container *ngIf="!isThreeCard">
                  <button id="place-success" class="btn btn-md btn-success" type="button" (click)="ValidateBet()">
                    Place Bet
                  </button>
                </ng-container>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="place-bet-loader" *ngIf="ShowBetDelayOverlay">
        <div id="all">
          <div id="card1" class="card">
          </div>
          <div id="card2" class="card">
          </div>
          <div id="text" class="text">
            <p>Placing Bet</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>