.flipcard {
  width: 35px;
  height: 45px;
  margin: 0 3px;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.historycard.flipcard {
  width: 28px;
  height: 45px;
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}

.winning-message-video {
  top: 15%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
// }

.player-cards {
  // background-image: url("/assets/images/full-background.jpeg");
  // background-image: url("/assets/images/red-background-double.jpeg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 485px;
  padding: 0;
  overflow: hidden;
}

.player-cards.andar-bahar h6 {
  font-size: 15px;
}

.playera,
.playerb {
  width: 50%;
  float: left;
  padding-right: 10px;

  h6 {
    span {
      color: var(--primary-font-color);
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid var(--primary-font-color);
      padding: 2px 20px;
      letter-spacing: 0;
      border-radius: 20px;
      font-weight: bold;
      width: auto;
      height: auto;
    }
  }
}

.playera {
  text-align: right;

  h6 {
    span {
      float: right;
    }
  }
}

.playerb {
  text-align: left;

  h6 {
    span {
      float: left;
    }
  }
}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 270px;
  }
}

.m-t-165 {
  /* margin-top: 210px; */
  /* width: 100%; */
  position: absolute;
  // bottom: 85px;
  left: 0;
  right: 0;
  margin-top: calc(100% - 75%);
  ;
}

.w-25 {
  width: 10% !important;
  padding-right: 0px !important;
  text-align: center;
}

.p-r-0 {
  padding-right: 0px !important;
}

.m-l-80 {
  margin: 0px 30px;
}

.pr-40 {
  padding-right: 40px !important;
}

.bottomPlayera {
  padding-right: 30px;
}

.bottomPlayerb {
  padding-left: 30px;
}

.m-b-10 {
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .m-t-165 {
    width: 65%;
    margin: auto;
    // margin-top: 205px;
    top: 208px;
  }

  .m-l-80 {
    margin: 0px 0px;
  }

  .pr-40 {
    padding-right: 0px !important;
  }

  .w-25 {
    width: 25% !important;
    padding-right: 0px !important;
  }

  .modal-body {
    .player-cards {
      width: 100%;
    }
  }

  .winning-message-video {
    top: 8%;
  }

  .player-cards {
    height: 512px;
  }

  .pl-crd {
    position: absolute !important;
  }

  .playera,
  .playerb {
    text-align: center !important;
    padding: 0;

    h6 {
      span {
        float: none;
        margin: 0;
      }
    }
  }

  .match-odds {
    margin-top: 35px !important;
  }

}

@media (max-width: 767px) {
  .m-t-165 {
    width: 85%;
    margin-top: 20px;
  }

  .flipcard {
    height: 40px;
    width: 30px;
  }

  .player-cards {
    height: 470px;
  }

  .video-area-425 {
    height: 420px;
  }

  .retro-button .trade-button {
    max-width: 16.5rem;
  }

  .card-mrgin {
    margin-left: -7px !important;
  }

  .player-cards.andar-bahar h6 {
    font-size: 12px;
  }

  .playera h6 span,
  .playerb h6 span {
    padding: 2px 10px;
  }

  .player-cards h6 {
    margin-top: 3px !important;
  }

  .match-odds {
    margin-top: 54px !important;
  }

  .mr-9 {
    margin-right: unset !important;
  }
}

@media (max-width: 550px) {
  // .player-cards {
  //   background-image: url("/assets/images/mobile-background.jpg");
  //   background-position-x: 55%;
  // }
}

.virtual-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 560px;
  background-position-y: -65px;
  background-position-x: 45%;
  /* float: left; */
  width: 100%;
  position: relative;
  max-width: 1200px;
  margin: auto;
  /* background-color: red; */
}

.casinocard {
  // box-shadow: 0 0 2px rgba(255,255,255,0.5);
  border: 1px solid rgb(255 255 255 / 0.1);
  border-radius: 2px;
}

.retro-button .trade-button {
  min-width: 24%;
}

.market {
  top: 113%;
  position: absolute;
  width: 100%;
}

.game-timer {
  left: 5px;
}

.card-mrgin {
  margin-left: 25px;
}

@media(width:1024px) {
  .m-t-165 {
    margin-top: 232px;
    width: 100%;
  }
}

.match-odds {
  margin-top: 65px;
}

