.flipcard {
  width: 40px;
  height: 45px;
  margin: 0 3px;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.historycard.flipcard {
  width: 28px;
  height: 45px;
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}


.winning-message-video {
  top: -10%;
}

.player-cards {
  // background-image: url("/assets/images/full-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 428px;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   z-index: 1;
// }

.player-cards.andar-bahar h6 {
  font-size: 15px;
  text-align: left;
}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 270px;
  }
}

.m-t-215 {
  margin-top: 235px;
  width: 100%;
}

.disNone {
  display: block;
}

@media (max-width: 991px) {
  .m-t-215 {
    margin-top: 260px;
    width: 100%;
  }

  .m-0 {
    margin: 0px;
  }

  .disNone {
    display: none;
  }

  .modal-body {
    .player-cards {
      width: 100%;
    }
  }

  .player-cards {
    height: 480px;
  }

  .pl-crd {
    position: absolute !important;
  }
}

@media (max-width: 767px) {
  .m-t-215 {
    margin-top: 220px;
  }

  .flipcard {
    height: 60px;
  }

  .trade-background {
    padding: 3px;
  }

  // .trade-button {
  //   width: 100%;
  // }

  .player-cards {
    height: 400px;
  }
}

// @media (max-width: 550px) {
//   .player-cards {
//     background-image: url("/assets/images/mobile-background.jpg");
//     background-position-x: 55%;
//   }
// }




.trade-name span.value {
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 2px;
}

.trade-name .green,
.trade-name .red {
  display: block;
  font-size: 11px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 2px;
}

.trade-name {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  pointer-events: all;
  // background-color: #070737;
  color: #FFC959;
  text-decoration: none;
  border-radius: 0.5rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .6);
  transition: all 0.4s ease-in-out;
}

// .trade-background {
//   position: absolute;
//   display: flex;
//   width: 100%;
//   height: 100%;
//   flex-direction: column;
//   flex-flow: column;
//   align-items: center;
//   justify-content: center;
//   pointer-events: none;
//   border: 1px solid #8E6F2D;
//   padding: 3px 0;
//   border-radius: 0.5rem;
// }

.trade-button {
  // width: 100%;
  height: 7.5rem;
  font-size: 1.85rem;
  display: table;
  position: relative;
  padding: 5px 0;
}

.table-market {
  border: 0.5px solid rgba(255, 255, 255, 0.08);
}

.retro-button .trade-button {
  min-width: 31%;
}

.slick-active {
  width: 50px !important;
}

.slick-next {
  right: -5px !important;
  z-index: 10;
  top: 75% !important;
}

.slick-prev {
  left: -5px !important;
  z-index: 10;
  top: 75% !important;
}

.card-view {
  display: inline-block;
  min-width: 175px;
}

span.score {
  float: none;
  display: inline-block;
}

.badge.red {
  background-color: #ee3424 !important;
}

.badge.green {
  background-color: #a3ff12 !important;
}

.d-b {
  display: block !important;
  padding-top: 8px;
}

.casinocard {
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.game-timer {
  left: 5px;
}
