.tp-background {
  background-image: url("/assets/images/vtp-background.gif");
}

.varw-background {
  background-image: url("/assets/images/VAW-back.jpeg");
}

.vrps-background {
  background-image: url("/assets/images/RSP-Table.jpg");
}

@media (min-width: 870px) {
  .varw-background {
    background-position-y: -65px;
  }
}

.vkf-card {
  height: 50px!important;
  width: 35px!important;
}
