.winning-tab {
  color: white;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid white;
}

.winning-tab.active {
  background-color: white;
  color: black;
}

// .game-status {
//   height: calc(100% - 106px);
// }

// @media (max-width: 991px) {
//   .game-status {
//     height: calc(100% - 101px);
//   }
// }

// @media (max-width: 767px) {
//   .game-status {
//     height: calc(100% - 70px);
//   }
// }

.player-a {
  transform: translate(-50%, -100%);
  transform: none;
}

.player-b {
  transform: translate(-50%, 70%);
  transform: none;
}

.mt-10 {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .retro-button .trade-button {
    // max-width: 16.5rem;
    max-width: 49%;
  }
}

@media (max-width: 991px) {
  .player-cards {
    width: 100px;
  }
}
@media (max-width: 767px) {
  .player-cards {
    width: 100px;
  }
}
.pl-crd{
  width: 100px;
}
