.player-cards {
  max-width: 300px;
  width: 160px;
}

.w-100 {
  width: 100%;
}
.retro-button .trade-button {
  min-width: 24%;
}
@media (max-width: 991px) {
  .player-cards {
    width: 160px;
    // max-width: 100%;
  }
  .turn-river{
    margin-left: 5px!important;
  }
  // .player-cont.row{
  //   padding: 0px 0px 0px 10px;
  // }
  // .player-cards.andar-bahar .player-cont .player-cont{
  //   padding: 0 5px;
  // }
}
@media (max-width: 767px) {
  .retro-button .trade-button {
    min-width: 31%;
  }
}

@media (max-width: 991px) {
  .player-cards {
    width: 150px;
  }
}
@media (max-width: 767px) {
  .player-cards {
    width: 150px;
  }
}
.m-0{
  margin: 0;
}