.fp-remoteVideo {
  /* border: 1px double black; */
  width: 100%;
  height: 100%;
  /* text-align: center;
    background: #c0c0c0; */
  background: #000;
  display: inline-block;
}

.display {
  width: 100% !important;
  /* max-width: 800px; */
  min-height: 440px;
  /* max-height: 400px !important; */
  display: inline-block;
}

video,
canvas,
object {
  width: 100%;
  height: 100%;
  max-height: fill-available;
}

video:-webkit-full-screen {
  border-radius: 1px;
}

.ui-slider {
  height: 10px !important;
  background: #c0c0c0;
}

.ui-slider-handle {
  width: 16px !important;
  height: 16px !important;
  position: absolute;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
}

.ui-widget-header {
  background: #c0c0c0;
}

.ui-slider-range-min {
  background: black;
}

/* Prevent stretched picture in full screen mode */
canvas:-webkit-full-screen {
  width: initial;
  height: initial;
}

canvas:-moz-full-screen {
  width: initial;
  height: initial;
}

#playBtn:disabled {
  display: none;
}

#playBtn {
  position: absolute;
  left: 47%;
  top: 40%;
  font-size: 30px;
  height: 60px;
  width: 60px;
  border-color: #febd00 !important;
  background-color: #febd00 !important;
}

#playBtn:hover {
  border-color: #febd00 !important;
  background-color: #febd00 !important;
}

#playBtn:disabled {
  display: none;
}

.form-horizontal .form-group {
  margin: 0 !important;
}

@media only screen and (max-width: 600px) {
  .display {
    margin: 0 !important;
    height: none;
    min-height: 180px;
    /* min-height: 200px; */
  }

  #playBtn {
    top: 25% !important;
  }
}
