@import url('https://fonts.googleapis.com/css?family=Teko:700&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Rajdhani', sans-serif;


  font-size: 14px;
  font-weight: 400;
  color: #000;
  /*font-family: 'Rajdhani', sans-serif;

*/
  background-color: transparent !important;
}

body.dark {
  /*background: #171717 url("../images/texture.png");
	background-repeat: repeat;*/
  background-image: url("../images/bg-texture-01.jpg");
  background-repeat: no-repeat;
  /*-webkit-animation: movebackground 150s ease infinite;
	-moz-animation: movebackground 150s ease infinite;
	animation: movebackground 150s ease infinite;*/
  background-size: cover;
  background-position: center center;
}

.container-fluid {
  overflow-x: hidden;
}

@-webkit-keyframes movebackground {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes movebackground {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes movebackground {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  outline: none !important;
}

iframe {
  width: 100%;
  height: 450px;
  border: none;
}

iframe html body {
  background-color: transparent !important;
}

.live-casino-player iframe html body {
  margin: 0 !important;
  overflow: hidden !important;
  background-color: transparent !important;
}

.live-casino-player,
.video-area {
  position: relative;
}

.betslip-container {
  margin: 0 0 10px;
  /*border: 2px solid rgba(255,255,255,0.1);*/
}

.betslip-container h4 {
  /*background-color: #f21a2c;*/
  background-image: url(../images/footer-snippet-bg.png);
  background-position: center center;
  /*-webkit-box-shadow: inset 10px 0px 50px 0px rgba(31, 7, 67, 0.5);
	-moz-box-shadow: inset 10px 0px 50px 0px rgba(31, 7, 67, 0.5);
	box-shadow: inset 10px 0px 50px 0px rgba(31, 7, 67, 0.5);
	background: #9e4efc;
	background: -moz-linear-gradient(left, #9e4efc 0%, #570dc8 100%);
	background: -webkit-linear-gradient(left, #9e4efc 0%, #570dc8 100%);
	background: linear-gradient(to right, #9e4efc 0%, #570dc8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e4efc', endColorstr='#570dc8', GradientType=1);
	filter: drop-shadow(30px 10px 4px #4444dd);*/
  margin: 0;
  padding: 6px 10px;
  /*color: #fcb100;*/
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
  /*text-shadow: 0 2px 0px rgba(88, 19, 184, .8);*/
  font-family: 'Rajdhani', sans-serif;


}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row.gutters-5 {
  margin-right: -5px;
  margin-left: -5px;
}

.row.gutters-5>[class^="col-"],
.row.gutters-5>[class*=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.nopadding {
  padding: 0 !important;
}

input[type="text"].textbox,
input[type="number"].textbox {
  padding: 3px 5px !important;
  color: #fff;
  font-size: 14px;
  background-color: rgba(5, 6, 11, .2);
  border-color: rgba(94, 98, 126, 0.2);
}

.border-top {
  border-top: 2px solid #ddd !important;
}

.img-increment {
  background: url("../images/up_arrow.png") no-repeat scroll center center;
  cursor: pointer;
  height: 12px;
  padding: 0 !important;
  width: 12px;
  display: block;
  border: 0;
  position: relative;
  left: 7px;
  top: 3px;
}

.img-decreement {
  background: url("../images/down_arrow.png") no-repeat scroll center center;
  cursor: pointer;
  height: 12px;
  padding: 0 !important;
  width: 12px;
  display: block;
  border: 0;
  position: relative;
  left: 7px;
  top: 2px;
}

.table-placebet {
  /*background-color: rgba(0,0,0,.87);*/
  background-color: #191c29;
  font-weight: 600;
  font-size: 15px;
}

.table-placebet>tbody>tr>td {
  border-color: rgba(255, 255, 255, 0.08);
}

.table-betview>tbody>tr>td {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.table-placebet thead {
  background-color: #151720;
  color: #fff;
}

.table-placebet thead tr>th {
  border-bottom: 0;
  font-weight: 500;
}

.form-control {
  font-size: 13px;
}

.profit,
.playername {
  padding: 5px;
  display: block;
}

.chips {
  width: 19%;
  display: inline-block;
  padding: 5px;
  /*background-color: #2B55CE;*/
  background: #f0ad4e;
  background: -moz-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0ad4e', endColorstr='#ec971f', GradientType=0);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(178, 111, 17);
  -moz-box-shadow: 0px 4px 0px 0px rgb(178, 111, 17);
  box-shadow: 0px 4px 0px 0px rgb(178, 111, 17);
  /*text-shadow: 0 3px 0px rgba(166, 0, 132, 0.8);*/
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  margin: 0 0 8px;
  font-weight: 400;
}

.chips:hover {
  background: #ec971f;
  background: -moz-linear-gradient(top, #ec971f 0%, #f0ad4e 100%);
  background: -webkit-linear-gradient(top, #ec971f 0%, #f0ad4e 100%);
  background: linear-gradient(to bottom, #ec971f 0%, #f0ad4e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec971f', endColorstr='#f0ad4e', GradientType=0);
}

.chips a {
  display: block;
  border: 1px dashed #fff;
  color: #fff !important;
  border-radius: 3px;
  text-decoration: none !important;
  padding: 3px 5px;
}

.bet-btns {
  padding: 5px 0 0;
}

.noMarginBottom {
  margin-bottom: 0;
}

.lay-rate-gridcolor {
  background-color: #ffc2cf;
}

.lay-rate-gridcolor>td {
  border-color: #fff !important;
}

.back-rate-gridcolor {
  background-color: #9ad4fd;
}

.back-rate-gridcolor>td {
  border-color: #fff !important;
}

.markettitle {
  /*color: #fcb100;*/
  color: #fff;
  /*text-shadow: 0 2px 0px rgba(88, 19, 184, .8);*/
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
  background-color: transparent;
  padding: 5px 0;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  position: relative;
}

.markettitle span {
  color: #fcce34;
  background: #13151c;
  border: 1px solid #fcce34;
  padding: 2px 20px;
  /*text-transform: capitalize;*/
  letter-spacing: 0;
  border-radius: 20px;
}

.markettitle span:after {
  content: "";
  background-color: #fcce34;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

/* .dark .markettitle {
	background-color: #f21a2c;
	background-image: url(../images/footer-snippet-bg.png);
	background-position: center center;
	-webkit-box-shadow: inset 10px 0px 50px 0px rgba(31, 7, 67, 0.5);
	-moz-box-shadow: inset 10px 0px 50px 0px rgba(31, 7, 67, 0.5);
	box-shadow: inset 10px 0px 50px 0px rgba(31, 7, 67, 0.5);
	background: #9e4efc;
	background: -moz-linear-gradient(left, #9e4efc 0%, #570dc8 100%);
	background: -webkit-linear-gradient(left, #9e4efc 0%, #570dc8 100%);
	background: linear-gradient(to right, #9e4efc 0%, #570dc8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e4efc', endColorstr='#570dc8', GradientType=1);
	filter: drop-shadow(30px 10px 4px #4444dd);
} */
.markettitle img {
  max-width: 20px;
  margin-right: 10px;
}

.table-market .back-rate-header {
  background-color: var(--back-rate-gridcolo);
  font-weight: 600 !important;
  text-transform: uppercase;
}

.table-market .lay-rate-header {
  background-color: var(--lay-rate-gridcolor);
  font-weight: 600 !important;
  text-transform: uppercase;
}

.table-market .back-rate-header a,
.table-market .lay-rate-header a {
  color: #000;
  text-decoration: none !important;
}

.table-market>tbody>tr>td {
  padding: 2px 5px !important;
}

.table-market {
  /*background-color: rgba(0,0,0,.87);*/
  background-color: #191c29;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.table-market>thead>tr>th {
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  vertical-align: middle;
  padding: 5px;
}

.table-market>tbody>tr>td {
  border-color: rgba(255, 255, 255, 0.15);
}

.red {
  color: #ee3424;
}

.green {
  color: #a3ff12;
}

.white {
  color: white;
}

.price {
  font-size: 16px;
  line-height: 100%;
}

.marketborder {
  margin-bottom: 5px;
  /*border: 1px solid rgba(255,255,255,0.08);*/
  overflow: hidden;
  /*background-color: #000;*/
}

.player-win-data {
  display: inline-block;
  width: 40px;
  padding: 2px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin: 5px;
}

.player-win-data img {
  max-width: 100%;
}

.right-part {
  position: relative;
  top: 0;
  width: 100%;
  right: 0;
  bottom: 0;
  padding: 5px 8px 8px;
  margin: 2px 0;
  height: 60px;
  background-color: #000;
  /*background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );*/
}

.right-part>.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.timer {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.timer.mobile-timer {
  position: absolute;
  top: 35px;
  left: 10px;
}

.logout {
  float: left;
}

.logout {
  display: inline-block;
  padding: 3px 7px;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.logout-btn {
  display: inline-block;
}

.logout-btn img {
  max-width: 50px;
}

.rules {
  float: left;
}

.rules {
  display: inline-block;
  /*padding: 2px 7px;*/
}

.rules-btn {
  display: inline-block;
}

.rules-btn img {
  max-width: 40px;
}

.game-title {
  color: #fccf34;
  font-weight: 700;
  line-height: 34px;
  font-size: 22px;
  margin: 0;
  margin-left: 10px;
  text-transform: uppercase;
}

.username {
  display: inline-block;
  width: 48%;
}

.balance {
  display: inline-block;
  width: 48%;
}

.balance-title {
  color: #fff;
  font-weight: 600;
  line-height: 26px;
  font-size: 14px;
  margin: 0;
}

.user-title {
  color: #fff;
  font-weight: 600;
  line-height: 26px;
  font-size: 14px;
  margin: 0;
}

.balance-title span {
  color: #62e14c;
  /*display: block;
	line-height: 100%;*/
  font-size: 20px;
}

.user-title span {
  color: #febd00;
  /*display: block;
	line-height: 100%;*/
  font-size: 20px;
}

.player-cards {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 5px;
  color: #fff;
  width: 182px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 10px;
  right: 10px;
}

.player-cards.andar-bahar {
  padding: 5px;
  overflow: visible;
}

.player-cards h6 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 5px;
}

.player-cards.teen-patti h6 {
  text-align: center;
}

.player-cards.poker h6 {
  text-align: center;
  margin-bottom: 5px;
  line-height: 100%;
}

.player-cards.andar-bahar h6 {
  font-size: 12px;
  text-align: center;
  margin-bottom: 3px;
  padding: 0;
}

.player-cont {
  margin-bottom: 3px;
}

.player-cards.andar-bahar .player-cont {
  position: relative;
}

.player-cards.andar-bahar .player-cont .badge {
  /*position: absolute;
    top: 50%;
    transform: translateY(-50%);*/
  margin-top: -4px;
  margin-right: 2px;
  background-color: #fff;
  color: #000;
  padding: 0 4px;
  font-weight: 600;
  text-align: center;
}

/*.player-cards.andar-bahar .player-cont .badge.right {
	right: 3px;
}
.player-cards.andar-bahar .player-cont .badge.left {
	left: 3px;
}*/
.player-cont:last-child {
  margin-bottom: 0;
}

.player-cont.w-50 {
  float: left;
  width: 50%;
}

.player-cards h6 span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 1em;
  float: right;
  background-color: blue;
  line-height: 1.5;
  margin-top: -5px;
}

.player-cards h6 span.red {
  background-color: #f21a2c;
}

.player-cards h6 span.green {
  background-color: #5cb85c;
}

.flipcard {
  position: relative;
  width: 30px;
  height: 45px;
  perspective: 500px;
  display: inline-block;
  margin: 0 2px;
}

.flipcard.rotate {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-top: 7px;
  margin-left: 17px;
}

.flipcard.rotate-reverse {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  padding-top: 8px;
  margin-right: 17px;
}

.flipcard.v:hover .front,
.flipcard.v.flip .front {
  transform: rotateX(180deg);
}

.flipcard.v:hover .back,
.flipcard.v.flip .back {
  transform: rotateX(0deg);
}

.flipcard.v .back {
  transform: rotateX(-180deg);
}

.flipcard.h:hover .front,
.flipcard.h.flip .front {
  transform: rotateY(180deg);
}

.flipcard.h:hover .back,
.flipcard.h.flip .back {
  transform: rotateY(0deg);
}

.flipcard.h .back {
  transform: rotateY(-180deg);
}

.flipcard .front,
.flipcard .back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  color: white;
  backface-visibility: hidden;
}

.flipcard .front img,
.flipcard .back img {
  max-width: 100%;
}

.mbtn {
  display: none;
}

.btn-warning {
  background: #f2212a;
  border-color: #f2212a;
  box-shadow: 0 4px 0 #c1121a;
  text-transform: uppercase;
  font-weight: 700;
  float: left;
  width: 50%;
  border-radius: 0;
  font-size: 16px;
  margin-top: -2px;
}

.btn-warning:hover {
  background: #d81425;
  border-color: #d81425;
}

.btn-success {
  text-transform: uppercase;
  font-weight: 700;
  float: left;
  width: 50%;
  border-radius: 0;
  background-color: #5cb85c;
  border-color: #5cb85c;
  box-shadow: 0 4px 0 #398b39;
  font-size: 16px;
  margin-top: -2px;
}

.msg {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 15px;
  background: yellow;
  box-shadow: 0 0 30px yellow;
  text-shadow: 0 0 20px white;
  color: black;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation-name: blink;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.posr {
  position: relative !important;
}

.user-dropdown {
  float: right;
}

.user-dropdown {
  display: inline-block;
  vertical-align: top;
}

.user-dropdown button {
  background-color: transparent;
  border: 0;
  font-size: 32px;
  padding: 0 12px;
  color: yellow;
  margin-top: 2px;
}

.user-dropdown button:hover {
  background-color: transparent;
  border: 0;
  color: yellow;
}

.user-dropdown button:focus,
.user-dropdown button:focus {
  color: yellow;
  background-color: transparent;
}

.user-dropdown.open>.dropdown-toggle.btn-default,
.user-dropdown.open>.dropdown-toggle.btn-default:focus,
.user-dropdown.open>.dropdown-toggle.btn-default:hover {
  background-color: transparent;
  border: 0;
  color: yellow;
}

.user-dropdown .dropdown-menu {
  left: auto;
  right: 0;
  margin: 7px 0 0;
  border-radius: 0;
  background-color: #332e32;
}

.user-dropdown .dropdown-menu>li>a {
  color: #fff;
}

.user-dropdown .dropdown-menu>li>a:hover {
  color: yellow;
  background-color: transparent;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
  vertical-align: middle;
  margin: -2px 5px 0;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A1A6AB;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0;
  bottom: 0;
  background-color: #ececec;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #5cb85c;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.modal-header {
  /*background-image: url("../images/footer-snippet-bg.png");
	background-repeat: repeat;*/
  color: #000;
  background-image: -webkit-linear-gradient(left, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  background-image: -o-linear-gradient(left, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  background-image: linear-gradient(to right, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
}

.modal-title {
  font-size: 22px;
}

button.close {
  opacity: 1;
  color: #000;
}

.ghistoryResult .player-cards {
  width: 100%;
  text-align: center;
  background-color: rgba(40, 0, 41, 0.85);
  border: 1px dashed rgba(255, 255, 255, 0.75);
}

.ghistoryResult .player-cards br {
  display: none;
}

.ghistoryResult .player-cards .playera,
.ghistoryResult .player-cards .playerb {
  display: inline-block;
  padding: 0 20px;
}

.game-result {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.win {
  color: yellow;
  animation-name: blink;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.loss {
  color: red;
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.md-chip-closed {
  float: left;
  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 6px;
  transform: scale(1, 1);
  transition: all 0.3s ease-out 0s;
}

/*.md-chip-closed {
	background-color:#242424;
	border-radius: 3px;
  width: auto;
  padding: 5px 7px;
  transition: 0.2s ease;
  list-style: none;
  font-size: 18px;
	font-weight: 600;
  color: #fff;
	line-height: 100%;
  box-shadow: 0 0 5px rgba(255,0,0,0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.md-chip-closed a {
	color: #fff;
}

.md-chip-closed:focus {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 1px 0px 3px rgba(0, 0, 0, 0.1), -1px 0px 3px rgba(0, 0, 0, 0.1);
}

.md-chip-closed:active {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}*/

.md-chip-closed .btn {
  position: relative;
  color: #000;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 0;
  border: 0;
  width: 70px;
  transition: all 0.3s ease-out 0s;
}

.md-chip-closed .btn:hover {
  color: #000;
}

.md-chip-closed .btn:before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0px;
  width: 100%;
  height: 10px;
  filter: blur(20px);
  border-radius: 3px;
  display: inline-block;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.md-chip-closed .btn:hover:before {
  bottom: 0;
  filter: blur(10px);
}

.md-chip-closed .btn.orange {
  /*background: linear-gradient(to left, #FDD236 , #F49A1D);*/
  background: #F49A1D;
  background-image: -moz-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  background-image: -ms-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  border: 1px solid #fcce34;
}

/* .md-chip-closed .btn.orange:before{
    background: linear-gradient(to right,#FDD236,#F49A1D);
	background: #F49A1D;
} */

.chips-container:hover>.md-chip-closed {
  opacity: 0.5;
  transform: scale(0.9, 0.9);
}

.chips-container:hover>.md-chip-closed:hover {
  opacity: 1;
  transform: scale(1.1, 1.1);
}

.victor-logo {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  transform: translateY(-50%);
  z-index: 1;
}

.victor-logo img {
  /*max-width: 300px;*/
  display: inline-block;
}

.title-list {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-bottom: 5px;
}

.title-list a {
  text-decoration: none !important;
}

.title-list .list {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  line-height: 40px;
  transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title-list .list:not(:first-child) {
  margin-left: -15px;
}

.title-list .list:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
}

.title-list .list span {
  display: inline-block;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  font-size: 24px;
  color: #000;
  line-height: 35px;
  font-weight: 600;
}

/* .title-list.red .list {
  background-color: rgba(242, 26, 44, 0.3);
} */

.title-list.red .list span {
  /*background-color: #f21a2c;*/
  background-image: -moz-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  background-image: -ms-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
}

/* .title-list.green .list {
  background-color: rgba(92, 184, 92, 0.3);
} */

.title-list.green .list span {
  /*background-color: #5cb85c;*/
  background-image: -moz-linear-gradient(-90deg, rgb(163, 255, 18) 0%, rgb(141, 221, 16) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgb(163, 255, 18) 0%, rgb(141, 221, 16) 100%);
  background-image: -ms-linear-gradient(-90deg, rgb(163, 255, 18) 0%, rgb(141, 221, 16) 100%);
}

/* Cards */

.snip1571 {
  background-color: #000;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: 'Rajdhani', sans-serif;


  margin: 0 0 20px;
}

.snip1571 *,
.snip1571 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1571 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1571 figcaption {
  bottom: 30px;
  left: 0;
  position: absolute;
  z-index: 0;
}

.snip1571 figcaption:before {
  background-color: #ffffff;
  bottom: -5px;
  content: '';
  left: 0;
  position: absolute;
  right: 100%;
  top: -5px;
  z-index: -1;
}

.snip1571 h3 {
  /*background-color: #c73232;*/
  background-image: url("../images/footer-snippet-bg.png");
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  padding: 8px 10px 5px;
  text-transform: uppercase;
  z-index: 1;
  font-family: 'Rajdhani', sans-serif;


  line-height: 100%;
}

.snip1571 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1571:hover>img,
.snip1571.hover>img {
  opacity: 0.35;
}

.snip1571:hover figcaption:before,
.snip1571.hover figcaption:before {
  right: -5px;
}

.game-list .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.logo {
  background-color: #00123d;
  height: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin: 0 0 120px;
  background-image: url("../images/footer-snippet-bg.png");
}

.logo-circle {
  width: 150px;
  height: 150px;
  background-color: #00123d;
  border-radius: 50%;
  margin: 0 auto;
  top: -20px;
  position: relative;
  text-align: center;
  background-image: url("../images/footer-snippet-bg.png");
}

.logo-circle img {
  max-width: 95%;
  margin-top: 42px;
}

header .navbar-default {
  background-image: url("../images/footer-snippet-bg.png");
  border: 0;
}

header .navbar-default .navbar-brand {
  font-family: 'Rajdhani', sans-serif;


  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 35px;
  vertical-align: middle;
  display: inline-block;
  line-height: 32px;
  height: auto;
}

header .navbar-default .navbar-brand:hover {
  color: #fff;
}

header .navbar-brand img {
  max-width: 60px;
  display: inline-block;
  margin-right: 5px;
}

.game-list {
  margin-top: 120px;
}

header .navbar-default .navbar-nav>li>a,
header .navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  font-size: 16px;
  padding: 22px;
}

header .navbar-default .navbar-nav>li>a:hover {
  color: #f49a1d;
}

header .navbar-default .navbar-nav>li>a i {
  margin-right: 5px;
  color: #f49a1d;
}

header .navbar-default .navbar-nav>li:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  top: 50%;
  right: 0;
  margin-top: -10px;
}

header .navbar-default .navbar-nav>li:last-child:after {
  content: none;
}

header .navbar-default .navbar-nav>.open>a,
header .navbar-default .navbar-nav>.open>a:focus,
header .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
  color: #f49a1d;
}

header .navbar-default .navbar-nav>li>.dropdown-menu {
  left: 0;
  padding: 0;
  border-radius: 0;
}

header .dropdown-menu>li>a {
  font-size: 15px;
  padding: 8px 15px;
}

header .dropdown-menu>li>a i {
  margin-right: 5px;
}

header .dropdown-menu>li>a:focus,
header .dropdown-menu>li>a:hover {
  /*background-image: url("../images/footer-snippet-bg.png");*/
  color: #ffc600;
  background-color: transparent;
}

header .navbar-default .navbar-toggle {
  border: 0;
  padding: 15px 20px;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

header .navbar-default .navbar-toggle:focus,
header .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.alert-success {
  background-color: #4caf50;
  border-color: #4caf50;
  color: #fff;
}

.alert-danger {
  background-color: #e51c23;
  border-color: #e51c23;
  color: #fff;
}

.alert-warning {
  background-color: #ff9800;
  border-color: #ff9800;
  color: #fff;
}

.alert-info {
  background-color: #24aaed;
  border-color: #24aaed;
  color: #fff;
}

.csslayer {
  background: none repeat scroll 0 0 #fff;
  border: 2px solid #b30000;
  color: #b30000;
  font-size: 30px;
  font-weight: 500;
  opacity: .8;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  z-index: 400;
  display: none;
  text-transform: uppercase;
  width: 100% !important;
}

.csslayer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loader */

.place-bet-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

#all {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 85px;
  -webkit-transform: scale(0.70);
  transform: scale(0.70);
}

.card {
  position: absolute;
  background: url('../images/victor-back-card.png');
  background-size: 85px 130px;
  height: 130px;
  width: 85px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

#card1 {
  z-index: 1;
  animation: a 2s 0.5s infinite;
}

#card2 {
  animation: b 2s 0.5s infinite;
}

#text {
  position: absolute;
  left: 0;
  right: 0;
  top: 135px;
  text-align: center;
  z-index: 5;
  /*width:150px;*/
  color: #000;
  font-weight: 600;
  font-size: 18px;
  animation: c 2s infinite;
}

@keyframes a {
  0% {}

  30% {
    transform: translateX(105px) rotate(70deg) rotateY(80deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes b {
  0% {}

  100% {
    z-index: 2;
  }
}

@keyframes c {
  0% {
    transform: translateY(0px)
  }

  50% {
    transform: translateY(7px);
  }

  100% {
    transform: translateY(0px)
  }
}

.cashout {
  /*background-color: #e99826;*/
  background-image: -webkit-linear-gradient(left, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  background-image: -o-linear-gradient(left, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  background-image: linear-gradient(to right, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  border-color: #e99826;
  width: auto;
  color: #000;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 100%;
  border: 0;
  padding: 2px 30px 1px;
  border-radius: 3px;
  box-shadow: 0 3px 0 #b47512;
  margin-top: -1.5px;
}

.cashout span {
  font-size: 13px;
  display: block;
}

.cashout-price {
  display: none;
}

.cashout:hover {
  background-color: #eea236;
  border-color: #eea236;
  color: #000;
}

/*.cashout:hover + .cashout-price {
	display: inline-block;
}*/

/* Toggle Switch */
input[type='checkbox'].switch-control {
  margin-left: -9999px;
  position: absolute;
}

input[type='checkbox'].switch-control~label {
  float: left;
  width: auto;
  position: relative;
  line-height: 2rem;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  padding-left: 60px;
  height: 20px;
  font-weight: 600;
}

input[type='checkbox'].switch-control~label:before,
input[type='checkbox'].switch-control~label:after {
  left: 0;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  content: ' ';
  width: 5rem;
  background-color: #C41230;
  border-radius: 3px;
  transition: all 100ms ease-in;
  background-size: 20px 9px;
}

input[type='checkbox'].switch-control~label:before {
  border: 1px solid #CFD4D8;
  content: 'OFF';
  text-align: left;
  text-indent: 2.5rem;
  line-height: 1.45;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
}

input[type='checkbox'].switch-control~label:after {
  right: 3rem;
  width: 1.75rem;
  top: 0.2rem;
  bottom: 0.25rem;
  margin-left: 0.2rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #A7A9AC;
  content: '...';
  color: #5F6062;
  font-weight: 900;
  line-height: 0.5;
  text-align: center;
  font-size: 1.2rem;
}

input[type='checkbox'].switch-control:checked~label:before {
  background-color: #8BC300;
  content: 'ON';
  text-indent: 0.5rem;
  text-align: left;
}

input[type='checkbox'].switch-control:checked~label:after {
  left: 2.8rem;
}

input[type='checkbox'].switch-control:checked~label span {
  display: none;
}

.one-click-bet {
  padding: 5px 10px;
  height: 40px;
  background-color: #090b17;
  border: 1px solid rgba(252, 206, 52, .5);
  color: #fcce34;
  font-size: 16px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.one-click-bet .form-group {
  margin-bottom: 0;
  display: inline-block;
}

input[type='checkbox'].switch-control:checked .one-click-bet {
  display: block;
}

.one-click-value {
  display: none;
  padding-left: 5px;
}

.one-click-value .btn {
  border-radius: 3px;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  padding: 3px 10px 1px;
}

.one-click-value .btn.active {
  background-color: #fff;
  color: #000;
}

.one-click-value .btn-group .btn+.btn {
  margin: 0 5px;
}

.one-click-value .btn-group .btn:last-child {
  margin: 0;
}

.one-click-bet .btn-success {
  width: auto;
  float: none;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.one-click-bet .btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.one-click-edit {
  padding-left: 5px;
  display: none;
}

.one-click-edit .form-control {
  border-radius: 0;
  width: 65px;
  padding: 6px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.one-click-edit .btn-danger {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.live-label-live {
  background: #d60000;
  padding: .25em .5em .2em;
  border-radius: 2px;
  color: #fff;
  /*position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;*/
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  line-height: 100%;
  animation-name: blink;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*Winner Flash on Table*/
.winner-main {
  position: absolute;
  width: 185px;
  height: 80px;
  bottom: 11%;
  perspective: 300px;
}

.winner-main.player-a {
  left: 28.5%;
}

.winner-main.player-b {
  right: 29%;
  left: auto;
}

.msg.red {
  text-shadow: none;
  background: #f5a321;
  color: black;
  bottom: -37px;
  top: auto;
  /*left: 33%;
    transform: none;*/
  font-size: 18px;
  line-height: 100%;
  padding: 3px 20px;
  animation: none;
  letter-spacing: 2px;
  box-shadow: 0px 0 20px #f5a321;
}

.msg.red span {
  animation-name: blink;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.winner-block {
  position: absolute;
  width: 185px;
  height: 105px;
  border: 2px solid #f5a321;
}

.winner-block::before {
  content: "";
  box-shadow: 0px 0 20px #f5a321;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.winner-main.player-a .winner-block {
  transform: rotateX(45deg) skewX(-9deg);
}

.winner-main.player-b .winner-block {
  transform: rotateX(45deg) skewX(18deg);
}

.news-scroll {
  margin: 30px 0;
  background: rgba(0, 0, 0, .75);
  position: relative;
}

.marquee {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  text-decoration: uppercase;
  position: relative;
  font-size: 16px;
  font-weight: 500;
}

/*.marquee:before {
	content: "";
	background-image: url("../images/pointing.gif");
	width: 25px;
	height: 25px;
	position: absolute;
	left: 8px;
    background-size: 100%;
    transform: rotate(-90deg);
}

.marquee:after {
	content: "";
	background-image: url("../images/pointing.gif");
	width: 25px;
	height: 25px;
	position: absolute;
	right: 8px;
    background-size: 100%;
    transform: rotate(90deg);
}

.marquee h1{
  position:relative;
  text-decoration:uppercase;
  letter-spacing:0.1s;
  margin:0;
  padding:0;
  font-size:20px;
  font-family: 'Rajdhani', sans-serif;


  white-space:nowrap;
    color:transparent;
}

.marquee h1:before{
  content:attr(data-text);
  text-decoration:uppercase;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-right:1px solid #fff;
  white-space:nowrap;
  overflow:hidden;
  background:linear-gradient(to right, #ff0,#ff0,#febd00,#febd00,#ffc800);
  -webkit-background-clip:text;
  color:transparent;
  animation: typing 6s steps(15) infinite;
  filter:blur(0.5px);
}

.marquee h1:after{
  content:attr(data-text);
  text-decoration:uppercase;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-right:1px solid #fff;
  white-space:nowrap;
  overflow:hidden;
  background:linear-gradient(to right, #f00,#ff0,#ff0,#0f0,#ffc800);
  -webkit-background-clip:text;
  color:transparent;
  animation: typing 6s steps(15) infinite;
  filter:blur(40px);
}


@keyframes typing{
  0%{
    width:0;
  }

  70%{
    width:100%;
  }

  90%{
    width:100%;
  }

  0%{
      width:0;
  }
}*/

marquee {
  color: #8b8fb0;
}

.client-logo img {
  max-width: 150px;
}

.rules {
  color: #fff;
  font-weight: 600;
  line-height: 42px;
  font-size: 16px;
  margin: 0 5px;
}

.rules a {
  color: #fff;
}

.rules a i {
  color: #febd00;
}

.rules a:hover,
.rules a:focus {
  color: #fff;
  text-decoration: none;
}

.volume {
  float: left;
}

.volume {
  display: inline-block;
  color: yellowgreen;
  line-height: 42px;
  font-size: 25px;
  margin: 0 5px;
}

.volume a {
  color: yellowgreen;
}

.flexD {
  display: flex;
  justify-content: space-between;
}

.card-slider {
  margin-bottom: 0 !important;
}

.slick-prev::before,
.slick-next::before {
  font-size: 13px;
}

.slick-prev,
.slick-next {
  width: 15px;
  height: 15px;
  top: 0;
  transform: translate(0, 0);
  margin-top: -18px;
}

.slick-next {
  right: 5px;
}

.slick-prev {
  left: 5px;
}

.user-options {
  text-align: center;
}

.user-options .timer {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  margin-bottom: 10px;
}

.user-options button {
  border-radius: 50%;
  background-image: -webkit-linear-gradient(left, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  background-image: -o-linear-gradient(left, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  background-image: linear-gradient(to right, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  border: 0;
  font-size: 25px;
  color: #000;
  width: 45px;
  height: 45px;
  padding: 5px 0;
  transition: all 0.1s ease-in-out;
  margin-bottom: 15px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.user-options button.btn-grident {
  animation: gradient 5s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.user-options button:focus {
  color: #000;
  outline: none;
}

.user-options button:hover {
  color: #000;
  border-color: transparent;
  background-color: transparent;
}

.user-options .dropdown-menu-right {
  right: -118%;
  margin: 0;
  top: 0;
  border: 0;
  box-shadow: none;
  border-radius: 0;
}

.user-options .open>.dropdown-toggle.btn-default {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(left, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  background-image: -o-linear-gradient(left, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
  background-image: linear-gradient(to right, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
}

.user-options .open>.dropdown-toggle.btn-default:focus,
.user-options .open>.dropdown-toggle.btn-default:hover {
  color: #000;
}

.user-options .dropdown-menu>li>a {
  /*font-size: 16px;*/
  font-weight: 600;
}

.user-options .rules,
.user-options .volume {
  float: none;
  display: block;
}

.dropdown-header {
  font-size: 13px;
  padding: 6px 20px;
  color: #555;
}

.site-header--landing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.598958vh;
}

.site-header--landing .header-logo--img {
  padding-left: 130px;
  padding-right: 130px;
  z-index: 3;
  opacity: 1;
  transition: all .7s cubic-bezier(.86, 0, .07, 1) .6s;
}

.site-header--landing .header-logo--img img {
  max-width: 20vh;
}

.site-header--landing .main-nav {
  display: flex;
  flex: 1;
  opacity: 1;
  transition: all .7s cubic-bezier(.86, 0, .07, 1) .6s;
}

.site-header--landing .main-nav:first-of-type {
  margin-right: auto;
  justify-content: flex-end;
}

.site-header--landing .main-nav:last-of-type {
  margin-left: auto;
}

/* .show-on-hover:hover > ul.dropdown-menu {
    display: block;
} */

.site-header--landing .main-nav button.btn-default {
  font-size: 16px;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  border-color: #fcce34;
  padding: 5px 20px;
}

.site-header--landing .main-nav button.btn-default i {
  color: #fcce34;
  margin-right: 5px;
}

.site-header--landing .main-nav button.btn-default .caret {
  margin-left: 5px;
  color: #fcce34;
}

.site-header--landing .main-nav button.btn-default:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.show-on-hover>ul.dropdown-menu {
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  border-color: #fcce34;
  padding: 0;
  border-radius: 20px;
  margin-top: -1px;
  background-color: rgba(0, 0, 0, 0.6);
}

.show-on-hover>ul.dropdown-menu>li>a {
  color: #fff;
  font-weight: 600;
}

.show-on-hover>ul.dropdown-menu>li>a:hover {
  color: #ffc600;
}

.site-content {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .7s cubic-bezier(.86, 0, .07, 1) .6s;
}

.site-content__center {
  position: relative;
  padding-top: 5.208333vh;
  padding-bottom: 8.59375vh;
  z-index: 1;
  width: 100%;
}

.landing-title {
  font-size: 125px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  line-height: .875;
  text-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

h1 .subtitle {
  display: block;
  margin-bottom: .43em;
  font-size: 30px;
  font-weight: 500;
  color: #ffc600;
}

.btn--landing {
  background-color: #f49c1e;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  border-radius: 0;
  padding: 16px 40px;
  margin-top: 25px;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 50px rgba(252, 204, 51, .35);
  border: 2px solid transparent;
  transform: translateY(0);
  transition: all 0.25s ease-in-out;
}

.btn--landing:hover {
  background-color: #f49c1e;
  /*border-radius: 50px;*/
  color: #000;
  border-color: #f49c1e;
  transform: translateY(-5px);
}

.landing-detail,
.landing-detail-cover {
  display: none;
}

@media (min-width:768px) {

  .landing-detail,
  .landing-detail-cover {
    position: fixed;
    top: 50%;
    display: block;
    width: 398px;
    height: 398px;
    transform-origin: top;
    transform: scale(.5) translateY(-50%)
  }
}

@media (min-width:992px) {

  .landing-detail,
  .landing-detail-cover {
    transform: scale(.75) translateY(-50%)
  }
}

@media (min-width:1200px) {

  .landing-detail,
  .landing-detail-cover {
    transform: translateY(-50%)
  }
}

.landing-detail-cover span,
.landing-detail span {
  position: absolute;
  top: 50%;
  border-style: solid;
  transform: rotate(45deg)
}

.landing-detail-cover span:first-child,
.landing-detail span:first-child {
  width: 100px;
  height: 100px;
  margin-top: -50px;
  border-width: 25px
}

.landing-detail-cover span:nth-child(2),
.landing-detail span:nth-child(2) {
  width: 200px;
  height: 200px;
  margin-top: -100px;
  border-width: 25px
}

.landing-detail-cover span:last-child,
.landing-detail span:last-child {
  width: 282px;
  height: 282px;
  margin-top: -141px;
  border-width: 25px
}

.landing-detail--left,
.landing-detail-cover--left {
  left: -199px
}

.landing-detail--left span,
.landing-detail-cover--left span {
  left: 50%
}

.preloader-is--active.site-layout--landing .landing-detail--left span,
.preloader-is--active.site-layout--landing .landing-detail-cover--left span {
  left: -100%
}

.landing-detail--left span:first-child,
.landing-detail-cover--left span:first-child {
  margin-left: -50px
}

.site-layout--landing .landing-detail--left span:first-child,
.site-layout--landing .landing-detail-cover--left span:first-child {
  transition: left .7s cubic-bezier(.86, 0, .07, 1) .8s
}

.landing-detail--left span:nth-child(2),
.landing-detail-cover--left span:nth-child(2) {
  margin-left: -107px
}

.site-layout--landing .landing-detail--left span:nth-child(2),
.site-layout--landing .landing-detail-cover--left span:nth-child(2) {
  transition: left .7s cubic-bezier(.86, 0, .07, 1) 1s
}

.landing-detail--left span:last-child,
.landing-detail-cover--left span:last-child {
  margin-left: -141px
}

.site-layout--landing .landing-detail--left span:last-child,
.site-layout--landing .landing-detail-cover--left span:last-child {
  transition: left .7s cubic-bezier(.86, 0, .07, 1) 1.2s
}

.landing-detail--right,
.landing-detail-cover--right {
  right: -199px
}

.landing-detail--right span,
.landing-detail-cover--right span {
  right: 50%
}

.preloader-is--active.site-layout--landing .landing-detail--right span,
.preloader-is--active.site-layout--landing .landing-detail-cover--right span {
  right: -100%
}

.landing-detail--right span:first-child,
.landing-detail-cover--right span:first-child {
  margin-right: -50px
}

.site-layout--landing .landing-detail--right span:first-child,
.site-layout--landing .landing-detail-cover--right span:first-child {
  transition: right .7s cubic-bezier(.86, 0, .07, 1) .8s
}

.landing-detail--right span:nth-child(2),
.landing-detail-cover--right span:nth-child(2) {
  margin-right: -107px
}

.site-layout--landing .landing-detail--right span:nth-child(2),
.site-layout--landing .landing-detail-cover--right span:nth-child(2) {
  transition: right .7s cubic-bezier(.86, 0, .07, 1) 1s
}

.landing-detail--right span:last-child,
.landing-detail-cover--right span:last-child {
  margin-right: -141px
}

.site-layout--landing .landing-detail--right span:last-child,
.site-layout--landing .landing-detail-cover--right span:last-child {
  transition: right .7s cubic-bezier(.86, 0, .07, 1) 1.2s
}

.landing-detail span {
  border-color: #f6a422;
}

.landing-detail-cover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 46%, 0 46%);
  clip-path: polygon(0 0, 100% 0, 100% 46%, 0 46%)
}

.landing-detail-cover span {
  border-color: #f6a422;
}

.site-wrapper {
  min-height: 100vh;
}

.site-layout--landing .site-wrapper {
  position: relative;
  overflow: hidden;
}

.site-layout--landing .site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  padding-bottom: 5vh;
}

.social-menu {
  padding-left: 0;
  list-style: none;
}

.social-menu--landing {
  display: flex;
  justify-content: center;
  margin: -1.125rem 0 0;
}

.site-layout--landing .social-menu--landing {
  opacity: 1;
  transition: all .7s cubic-bezier(.86, 0, .07, 1) .6s;
}

.social-menu li {
  display: inline-block;
}

.social-menu--landing li {
  margin: 1.125rem 6rem;
}

.social-menu--landing li a {
  position: relative;
  display: block;
  padding-left: 50px;
  font-size: 30px;
  font-weight: 700;
  line-height: .95;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  text-decoration: none !important;
}

.social-menu--landing-glitch li a {
  transform: translateZ(0);
}

.social-menu--landing li a i {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 40px;
  font-weight: 400;
  color: #ffc600;
}

.social-menu--landing-glitch .glitch-layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: .8;
}

.social-menu--landing-glitch .glitch-layer--1 {
  color: #f0f;
  z-index: -2;
}

.social-menu--landing-glitch .glitch-layer--2 {
  color: #0ff;
  z-index: -1;
}

.social-menu--landing .link-subtitle {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.social-menu--landing-glitch li a:hover .glitch-layer--1 {
  animation: u .3s cubic-bezier(.25, .46, .45, .94) both infinite;
}

.social-menu--landing-glitch li a:hover .glitch-layer--2 {
  animation: u .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
}

@keyframes u {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-3px, 3px)
  }

  40% {
    transform: translate(-3px, -3px)
  }

  60% {
    transform: translate(3px, 3px)
  }

  80% {
    transform: translate(3px, -3px)
  }

  100% {
    transform: translate(0)
  }
}

.game-lobby {
  margin-top: -50px;
}

.game-lobby a {
  text-decoration: none;
}

.lobby-list {
  width: 100%;
  height: 180px;
  background-color: #191c29;
  border: 1px solid #fcce34;
  position: relative;
  margin-top: 100px;
  transition: all 0.4s;
}

.game-name {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 10px 5px;
  line-height: 100%;
  color: #000;
  background-image: -webkit-linear-gradient(left, rgb(253, 212, 55) 25%, rgb(246, 164, 34) 75%);
  background-image: -o-linear-gradient(left, rgb(253, 212, 55) 25%, rgb(246, 164, 34) 75%);
  background-image: linear-gradient(to right, rgb(253, 212, 55) 25%, rgb(246, 164, 34) 75%);
}

.lobby-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.lobby-holder img {
  max-width: 80%;
  margin: 0 auto;
  transition: all 0.4s;
}

.game-lobby a:hover .lobby-holder img {
  max-width: 88%;
}

.game-lobby a:hover .lobby-list {
  background-color: #000;
}

.c--anim-btn span {
  color: #000;
  text-decoration: none;
  text-align: center;
  display: block;
}

.c--anim-btn,
.c-anim-btn {
  transition: 0.4s;
}

.c--anim-btn {
  height: 25px;
  overflow: hidden;
}

.c-anim-btn {
  margin-top: 0em;
}

.game-lobby a:hover .c-anim-btn {
  margin-top: -1em;
}

/* Media Query */
@media (max-width:1199px) {

  /* .username, .balance {
		width: 100%;
	} */
  .user-title,
  .balance-title {
    font-size: 14px;
    line-height: 20px;
  }

  .user-title span,
  .balance-title span {
    font-size: 16px;
    display: block;
  }

  .game-title {
    font-size: 16px;
  }

  .client-logo img {
    max-width: 125px;
  }

  .lobby-list {
    margin-top: 50px;
  }
}

@media (max-width:991px) {
  .markettitle {
    font-size: 14px;
    text-align: left;
  }

  .betslip-container .markettitle {
    text-align: center;
  }

  .md-chip-closed .btn {
    width: 65px;
    font-size: 13px;
  }

  /*.game-title {
		display: none;
	}*/
  .player-cards {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    top: 0;
    right: 0;
  }

  .player-cards.andar-bahar {
    padding: 5px 5px 0;
    margin-bottom: 8px;
  }

  .player-cards br {
    display: none;
  }

  /*.player-cards .playera, .player-cards .playerb {
		float: left;
		width: 50%;
	}
	.player-cards.andar-bahar .playera, .player-cards.andar-bahar .playerb {
		float: left;
		width: auto;
	}*/
  .player-cards.andar-bahar .player-cont {
    display: flex;
    justify-content: center;
  }

  .player-cards.andar-bahar .player-cont .player-cont {
    display: block;
    padding: 0 10px;
    margin-bottom: 0;
  }

  .poker .player-cont {
    float: left;
    width: 25%;
  }

  .poker .player-cont .player-cont.w-50 {
    float: left;
    width: 50%;
  }

  .balance-title {
    margin-top: 0;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
  }

  /*.timer, .rules, .logout {
		float: none;
		width: 40px;
		text-align: center;
	}*/
  .balance-title span {
    display: block;
  }

  .right-part {
    /*width: 100%;
		text-align: center;
		padding: 8px 0;
		bottom: auto;
		top: 0;
		right: 0;
		background: #000;*/
    height: auto;
    margin: 2px 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .right-part>.row {
    /*display: block;*/
    width: 100%;
  }

  /* .modal-body {
		overflow-y: auto;
		max-height: 100%;
	} */
  .modal-content {
    max-height: calc(100vh - 20px);
    overflow-y: auto;
  }

  .container-fluid {
    padding: 0 5px;
  }

  /*#countdown, .rules-btn, .logout-btn {
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}*/
  .timer {
    /*position: relative;
		top: 4px;*/
    /*padding-left: 50px;*/
    right: 10px;
  }

  .user-dropdown {
    position: relative;
    /*top: 7px;*/
  }

  .user-dropdown button {
    padding: 0 6px;
    font-size: 24px;
  }

  .ghistoryResult .player-cards .playera,
  .ghistoryResult .player-cards .playerb,
  .modal .player-cards .playera,
  .modal .player-cards .playerb {
    padding: 10px 20px 5px;
  }

  .user-dropdown .dropdown-menu {
    margin: 2px 0 0;
  }

  /*.logout-btn {
		position: relative;
		left: -5px;
	}*/
  .rules {
    /*margin-top: -10px;*/
    /*position: relative;
		top: -6px;*/
    margin: 0;
  }

  .volume {
    margin: 0;
  }

  .logout {
    position: relative;
    top: 3px;
  }

  iframe {
    height: 240px;
    /*margin-top: 50px;*/
  }

  .victor-logo img {
    max-width: 150px;
  }

  .marquee {
    font-size: 12px;
    padding: 3px 0;
  }

  .news-scroll {
    margin: 22px 0 25px;
  }

  .player-win-data {
    margin: 2px;
    width: 30px;
  }

  .stackvalue .col-md-6 {
    text-align: left !important;
    font-size: 12px;
    font-weight: 300;
  }

  .stackvalue .col-md-6 b {
    font-weight: 300;
  }

  .marketborder {
    margin-bottom: 8px;
    margin-top: 2px !important;
    overflow: visible;
  }

  .player-cards h6 {
    margin-bottom: 8px;
    font-size: 12px;
    text-align: center;
  }

  .betslip {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: 0;
    z-index: 9;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .betslip.open {
    bottom: 0;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
  }

  .matchedbet {
    display: none;
  }

  .mbtn {
    border-radius: 3px;
    padding: 6px 10px;
    letter-spacing: 0.5px;
    width: 49%;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    /*background: #07ae96;*/
    /*background-image: url("../images/footer-snippet-bg.png");*/
    background-image: -moz-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
    color: #000;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: 0 5px 0 #b47512;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  .mbtn.green,
  .mbtn.green:focus,
  .mbtn.green:hover {
    background-image: -moz-linear-gradient(-90deg, rgb(163, 255, 18) 0%, rgb(141, 221, 16) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(163, 255, 18) 0%, rgb(141, 221, 16) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(163, 255, 18) 0%, rgb(141, 221, 16) 100%);
    box-shadow: 0 5px 0 #527c10;
  }

  .mbtn:focus {
    /*background: #07ae96;*/
    background-image: -moz-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
    color: #000;
    outline: 0;
  }

  .mbtn:hover {
    /*background: #008975;*/
    background-image: -moz-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
    color: #000;
    outline: 0;
  }

  .modal-header {
    /*background: #f21a2c;*/
    background-image: -moz-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(253, 212, 55) 0%, rgb(246, 164, 34) 100%);
    padding: 8px 15px;
    color: #000;
  }

  .close {
    opacity: 0.5;
  }

  .close:hover {
    opacity: 1;
  }

  .balance {
    float: right;
    /*padding: 0 0 0 10px;*/
  }

  /*.victor-logo {
		position: relative;
		float: left;
		padding: 0;
	}*/
  /* .holder {
		float: right;
		width: 70%;
	}
	.username, .balance {
		width: 100%;
	} */
  .user-title,
  .balance-title {
    font-size: 12px;
    line-height: 16px;
  }

  .user-title span,
  .balance-title span {
    font-size: 13px;
    display: inline-block;
  }

  .md-chip-closed .md-chip-closed-text {
    font-size: 17px;
  }

  .live-label-live {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
  }

  .video-area iframe .video .display {
    margin: 0 auto !important;
  }

  .user-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }

  .user-options>div {
    display: inline-block !important;
  }

  .user-options .timer {
    margin-bottom: 0;
  }

  .user-options button {
    margin-bottom: 10px;
  }

  .user-options .dropdown-menu-right {
    top: 100%;
    margin-top: -10px;
    border-radius: 10px;
  }

  .user-options .open>.dropdown-toggle.btn-default {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .dropdown-header {
    padding: 3px 20px 0;
  }

  .site-header--landing .header-logo--img {
    padding-left: 30px;
    padding-right: 30px;
  }

  .landing-title {
    font-size: 100px;
  }

  h1 .subtitle {
    font-size: 22px;
  }

  .social-menu--landing li {
    margin: 1.125rem 3.5rem;
  }

  .social-menu--landing li a {
    font-size: 22px;
    padding-left: 35px;
  }

  .social-menu--landing .link-subtitle {
    font-size: 12px;
  }

  .social-menu--landing li a {
    line-height: 1;
  }

  .social-menu--landing li a i {
    font-size: 30px;
  }

  .lobby-list {
    margin-top: 125px;
  }

  .game-lobby {
    padding: 0 30px;
  }
}

@media (max-width:767px) {
  .game-list {
    margin-top: 80px;
  }

  header .navbar-default .navbar-nav>li>a,
  header .navbar-default .navbar-nav>li>a:focus {
    padding: 10px 22px;
  }

  header .navbar-default .navbar-nav>li>.dropdown-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }

  header .dropdown-menu>li>a {
    color: #fff !important;
  }

  header .dropdown-menu>li>a i {
    color: #f49a1d;
  }

  header .navbar-default .navbar-nav>li>.dropdown-menu {
    padding: 10px 0;
  }

  .msg {
    left: auto;
    right: -20px;
  }

  .one-click-edit,
  .one-click-value {
    padding-left: 0;
  }

  .one-click-edit .form-control {
    width: 55px;
    font-size: 14px;
    height: 28px;
  }

  .one-click-edit .btn {
    font-size: 12px;
    padding: 6px;
  }

  .player-cards h6 span {
    margin-right: 15px;
  }

  .victor-logo {
    /*left: 0;
		right: auto;
		padding: 0 10px;*/
    right: 0;
    padding: 5px;
  }

  /*.victor-logo img {
		max-width: 40px;
	}*/
  .poker .player-cont {
    float: left;
    width: 50%;
  }

  .player-cont.w-50 {
    float: left;
    width: 50%;
  }

  .marquee h1 {
    font-size: 13px;
  }

  /*.news-scroll {
		margin-top: 5px;
	}*/
  .client-logo {
    padding: 0 5px;
  }

  .client-logo img {
    max-width: 100%;
  }

  /*.volume {
		margin: 0 2px;
	}*/
  .user-dropdown {
    top: 3px;
  }

  .user-dropdown button {
    padding: 0 2px;
  }

  .timer {
    position: absolute;
    bottom: auto;
    width: auto;
    right: 3px;
  }

  .username,
  .balance {
    width: 100%;
  }

  /*.rules {
		position: absolute;
		right: -8px;
		z-index: 9;
		background-color: #febd00;
		color: #000;
		font-weight: 600;
		font-size: 13px;
		line-height: 100%;
		padding: 5px 8px;;
		top: 0;
		border-radius: 0 0 0 7px;
	}*/
  .rules a {
    color: #000;
  }

  .rules a i {
    color: #000;
  }

  .rules a:hover,
  .rules a:focus {
    color: #000;
  }

  .mobile-cashout {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
    transform: translateY(-50%);
  }

  .mobile-cashout .cashout {
    font-size: 12px;
    padding: 2px 15px 1px;
    line-height: 1.1;
    margin-top: 0;
  }

  .cashout span {
    font-size: 10px;
  }

  .site-header--landing {
    padding-top: 3.598958vh;
  }

  .site-header--landing .main-nav button.btn-default {
    font-size: 13px;
    padding: 5px 12px;
  }

  .site-header--landing .header-logo--img img {
    max-width: 25vh;
  }

  .site-header--landing .header-logo--img {
    padding-left: 0;
    padding-right: 0;
  }

  .site-header--landing .main-nav:first-of-type {
    position: relative;
    left: 3%;
    margin-top: 16%;
  }

  .site-header--landing .main-nav:last-of-type {
    position: relative;
    right: 0%;
    margin-top: 16%;
  }

  header .dropdown-menu>li>a {
    font-size: 13px;
    white-space: normal;
    line-height: 1;
  }

  .show-on-hover>ul.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.85);
  }

  .landing-title {
    font-size: 65px;
  }

  h1 .subtitle {
    font-size: 20px;
    margin-bottom: .23em;
  }

  .btn--landing {
    padding: 10px 20px;
    margin-top: 15px;
  }

  .footer {
    padding-bottom: 2vh;
  }

  .social-menu--landing {
    flex-wrap: wrap;
  }

  .social-menu--landing li {
    width: 45%;
    margin: 1.125rem 0;
  }

  .social-menu--landing li a {
    font-size: 19px;
    padding-left: 32px;
  }

  .social-menu--landing li:last-of-type {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .game-lobby {
    padding: 0;
  }

  .lobby-list {
    height: 118px;
  }

  .game-name {
    font-size: 18px;
  }

  .c--anim-btn {
    height: 18px;
  }

  .lobby-list {
    margin-top: 55px;
  }

  .game-lobby {
    margin-top: -25px;
  }
}

@media (max-width:479px) {

  /*.player-cards.andar-bahar .player-cont {
		justify-content: flex-start;
	}*/
  .player-cards.andar-bahar .player-cont .badge {
    display: none;
  }
}

@media (max-width:359px) {
  .marquee h1 {
    font-size: 11px;
  }

  .rules {
    padding: 5px;
  }
}


/* Custom CSS Added */

.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: #fcce34;
}

.cursor-pointer {
  cursor: pointer;
}

.error-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
}

.loader {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}

.loader img {
  display: inline-block;
  animation: logo-rotate 3s linear infinite;
}

.invalid {
  color: white;
  font-size: 45px;
  text-align: center;
}

.bg-white {
  background: white;
}

@keyframes logo-rotate {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

a.btn-default {
  font-size: 16px;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  border-color: #fcce34;
  padding: 5px 20px;
}

a.btn-default:hover {
  background-color: rgba(0, 0, 0, 0.75);
  border-color: #fcce34;
}

.overlay-winner-hand {
  color: #f7ac25;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.6);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(252, 206, 52, 0.6);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fcce34;
}
