@media (max-width: 991px) {
  .player-cards {
    text-align: center;
  }
}

// Retro Button
.st0 {
  display: none;
  fill: #FFC959;
}

.st1 {
  fill: none;
  stroke: #FFC959;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
}

.trade-name span.value {
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 2px;
}

.trade-name .green,
.trade-name .red {
  display: block;
  font-size: 11px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 2px;
}

.trade-name {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  pointer-events: all;
  color: #FFC959;
  text-decoration: none;
  border-radius: 0.5rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .6);
  transition: all 0.4s ease-in-out;
}

.trade-background {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border: 1px solid #8E6F2D;
  padding: 3px 0;
  border-radius: 0.5rem;
}

@media (max-width: 767px) {
  .trade-background {
    padding: 3px;
  }
}

.trade-button {
  width: 100%;
  height: 7.5rem;
  font-size: 1.85rem;
  display: table;
  position: relative;
  padding: 5px 0;
}

@media (max-width: 767px) {
  .trade-button {
    width: 100%;
    min-width: 49%;
  }
}

.dark-blue {
  background-color: #070737;
}

.dark-blue:hover {
  background: #0e0e66;
}

.dark-green {
  background-color: #092e13;
}

.dark-green:hover {
  background: #0f461e;
}

.dark-red {
  background-color: #510c14;
}

.dark-red:hover {
  background: #7d1824;
}

.dark-gray {
  background-color: #004747;
}

.dark-gray:hover {
  background: #1a5f5f;
}

.table-market thead tr {
  background-color: #191c29;
}

// New Design 15 May 2020
.table-market>thead>tr>th {
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  vertical-align: middle;
}

.mobile-cashout.stackvalue .col-md-12 {
  background: #13151c;
  border: 1px dashed rgba(255, 255, 255, .25);
  font-size: 15px;
  padding: 5px 5px;
  border-radius: 30px;
  text-align: center !important;
  margin-top: 10px;
  /* width: 49%; */
}

.mobile-cashout.stackvalue .col-md-12+.col-md-12 {
  margin-bottom: 10px;
}

.table-market {
  /* background-color: rgba(0,0,0,.87); */
  background-color: #191c29;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.table-market.custom-market tr th,
.table-market.custom-market tr td {
  font-weight: 600;
  line-height: 1.2 !important;
  padding: 5px !important;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.table-market>thead>tr>th,
.table-market>thead>tr>td {
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  vertical-align: middle;
  padding: 7px 5px;
}

.table-market>tbody>tr>td {
  border-color: rgba(255, 255, 255, 0.15);
}

.table-market.custom-market tr td a {
  color: #fff;
  text-decoration: none !important;
}

.game-status-ex {
  width: calc(100% - 15px) !important;
  height: 100%;
}

@media (max-width: 991px) {
  .table-market>thead>tr>th {
    border-bottom: 0;
  }

  .game-status {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .mobile-cashout.stackvalue {
    position: relative;
    transform: none;
    margin-top: 0;
  }

  .mobile-cashout.stackvalue .col-md-12:first-child {
    margin-right: 3px;
  }

  .mobile-cashout.stackvalue .col-md-12:last-child {
    margin-left: 3px;
  }

  .mobile-cashout.stackvalue .col-md-12 {
    width: 48%;
    margin-top: 0;
  }

  .game-status {
    height: calc(100%);
    width: calc(100% - 30px) !important;
    right: 15px;
  }
}

.game-status-no-bets {
  bottom: 1px;
  right: 0px;
}

@media (max-width: 450px) {
  .stake-title {
    display: block;
    padding-bottom: 5px;
  }

  .trade-button {
    font-size: 1.25rem;
  }
}

.winner-hand {
  color: #f7ac25;
  font-weight: bold;
}

.dragon-color {
  background-color: #092e13;
}

.dragon-color:hover {
  background-color: #0f461e;
}

.tiger-color {
  background-color: #510c14;
}

.tiger-color:hover {
  background-color: #7d1824;
}

.tie-color {
  background-color: #004747;
}

.tie-color:hover {
  background-color: #1a5f5f;
}

.pl-crd {
  width: 80px;
}

@media (max-width: 991px) {
  .player-cards {
    width: 80px;
  }
}

@media (max-width: 767px) {
  .player-cards {
    width: 80px;
  }
}

.flipcard {
  width: 30px;
  height: 40px;
}

@media(max-width:280px) {
  .flipcard {
    width: 20px;
    height: 25px;
  }
}
