.pl-crd {
  width: 150px;
}

.retro-button .trade-button {
  min-width: 48%;
}

.win-hand {
  background-color: rgba(25, 28, 41, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 5px;
  border-radius: 5px;
}

.retro-button {
  background-color: none;
  border: none;
  padding: 0px;
}

.winner-hand {
  color: #f7ac25;
  font-weight: bold;
}

.game-bal,
.game-lia {
  display: block;
}

.user-options {
  position: absolute;
  z-index: 1;
  top: 85px;
  left: 5px;
  display: block;
}

.user-options button {
  font-size: 14px;
  width: 30px;
  height: 30px;
}

.game-timer {
  position: absolute;
  left: 0;
  top: 75px;
}

.dropdown-menu-right {
  right: auto;
}

.slick-slide {
  width: 42px;
}


@media (min-width: 1200px) {
  .user-options .dropdown-menu-right {
    left: 35px;
  }
}

@media (max-width: 991px) {
  .player-cards {
    max-width: 145px;
  }

  .player-cards.andar-bahar .player-cont {
    display: block;
    margin-right: -5px;
    margin-left: -5px;
  }

  .modal-body {
    .player-cards.andar-bahar .player-cont {
      margin-right: 0px;
      margin-left: 0px;
    }
  }

  .user-options>div {
    display: block !important;
  }

  .agent-logo {
    bottom: 2px;
    top: auto;
  }

  .playera,
  .playerb {
    display: block;
  }

  .live-label-live {
    top: 5px;
    left: 5px;
  }

  .pl-crd {
    width: 100%;
  }

  .slick-slide {
    width: 25px !important;
  }

  .slick-prev {
    top: 0px !important;
  }
}

@media (max-width: 767px) {
  .player-cards {
    max-width: 80px;
  }

  .flipcard {
    height: 20px;
    width: 16px;
  }

  .slick-prev {
    top: 0px !important;
  }

  .player-cards h6 {
    margin-top: 0;
  }

  .player-cards.andar-bahar .player-cont .badge {
    margin-bottom: 0px;
  }

  .slick-slide {
    width: 20px !important;
  }
}
