<div id="ChipsSettingPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x </button>
        <h4 class="modal-title">Chips Setting</h4>
      </div>
      <div class="modal-body">
        <div *ngFor="let item of constant.chipsSetting; let i = index">
          <div class="col-xs-2">
            <label>Name</label>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="item.name">
            </div>
          </div>
          <div class="col-xs-2">
            <label>Value</label>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="item.value"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer"
        style="text-align: center;background-color: #fff;box-shadow: 0 -2px 30px rgba(0,0,0,0.75);">
        <button type="button" class="btn btn-md alert-success" aria-hidden="true" (click)="CheckChipsSetting()">Submit
        </button>
        <button type="button" class="btn btn-md alert-danger" data-dismiss="modal" aria-hidden="true"> Cancel </button>
      </div>
    </div>
  </div>
</div>