<footer class="footer text-center">
  <ul class="social-menu social-menu--landing social-menu--landing-glitch">
    <li>
      <a href="#" target="_blank">
        <i class="fa fa-copyright glitch-layer glitch-layer--1"></i>
        <i class="fa fa-copyright glitch-layer glitch-layer--2"></i>
        <i class="fa fa-copyright"></i>
        <span class="link-subtitle">Copyright</span>Supernowa 2020
      </a>
    </li>
  </ul>
</footer>
