.flipcard {
  width: 35px;
  height: 45px;
  margin: 0 3px;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.historycard.flipcard {
  width: 28px;
  height: 45px;
}

.pl-crd {
  width: 185px;
}

.win-hand {
  background-color: rgba(25, 28, 41, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 5px;
  border-radius: 5px;
}


.winner-hand {
  color: #f7ac25;
  font-weight: bold;
}

// non-video Cards
.player-cont.w-50 {
  width: 40%;
  left: 10%;
}

.m-t-170 {
  margin-top: 220px;
  width: 100%;
}

.disNone {
  display: block;
}

.m-b-22 {
  margin-bottom: 22px !important;
}

.p-l-0 {
  padding-left: 0px;
}

.w-55 {
  width: 55px !important;
}

.m-t-45 {
  margin-top: 45px;
}

@media (max-width: 991px) {
  .m-t-170 {
    margin-top: 220px;
    width: 100%;
  }

  .m-0 {
    margin: 0px;
  }

  .disNone {
    display: none;
  }

  .modal-body {
    .player-cards {
      width: 100%;
    }
  }

  .player-cards {
    height: 480px;
  }

  .pl-crd {
    width: 100%;
  }

  .player-cont.w-50 {
    width: 50%;
    left: 0%;
  }
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}

.player-cards {
  // background-image: url("/assets/images/full-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 428px;
  padding: 0;
  overflow: hidden;
}

.player-cards.andar-bahar h6 {
  font-size: 15px;
  text-align: left;
}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 270px;
  }
}

.winning-message-video {
  top: 25%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   z-index: 1;
// }

@media (max-width: 767px) {
  .flipcard {
    height: 50px;
  }

  .player-cards {
    height: 420px;
  }

  .video-area-425 {
    height: 420px;
  }

  .m-b {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 550px) {
  // .player-cards {
  //   background-image: url("/assets/images/mobile-background.jpg");
  //   background-position-x: 55%;
  // }
}


.trade-name span.value {
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 2px;
}

.trade-name .green,
.trade-name .red {
  display: block;
  font-size: 11px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 2px;
}

.trade-name {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  pointer-events: all;
  // background-color: #070737;
  color: #FFC959;
  text-decoration: none;
  border-radius: 0.5rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .6);
  transition: all 0.4s ease-in-out;
}

// .trade-background {
//   position: absolute;
//   display: flex;
//   width: 100%;
//   height: 100%;
//   flex-direction: column;
//   flex-flow: column;
//   align-items: center;
//   justify-content: center;
//   pointer-events: none;
//   border: 1px solid #8E6F2D;
//   padding: 3px 0;
//   border-radius: 0.5rem;
// }

.trade-button {
  // width: 100%;
  height: 7.5rem;
  font-size: 1.85rem;
  display: table;
  position: relative;
  padding: 5px 0;
}

.table-market {
  border: 0.5px solid rgba(255, 255, 255, 0.08);
}

.retro-button .trade-button {
  min-width: 31%;
}

.retro-button {
  background-color: none;
  border: none;
  padding: 0px;
}

.slick-next {
  right: -5px !important;
  z-index: 10;
  top: 75% !important;
}

.slick-prev {
  left: -5px !important;
  z-index: 10;
  top: 75% !important;
}

.m-b {
  margin-bottom: 10px !important;
}

.playera {
  max-width: 290px;
}

.text-center {
  text-align: center !important;
}

.virtual-background {
  // background-image: url("/assets/images/red-background-double.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 555px;
  background-position-y: -65px;
  background-position-x: 50%;
  float: left;
  width: 100%;
}

.casinocard {
  // box-shadow: 0 0 2px rgba(255,255,255,0.5);
  border: 1px solid rgb(255 255 255 / 0.1);
  border-radius: 2px;
}

.game-timer {
  left: 5px;
}

@media(width:1024px) {
  .m-t-170 {
    margin-top: 233px;
    width: 100%;
  }
}
