<!-- <app-news-header [News]="GameDetails.News" [GameCode]="GameCode" [hidden]="!IsVerified" [balance]="GameBalance"
  [liability]="GameLiability" [gameId]="GameID" [IsOneClick]="IsOneClick" (PlayerDes)="PlayerDes($event)" [userName]="UserName">
</app-news-header> -->
<div class="container-fluid">
  <div class="row gutters-5" [hidden]="!IsVerified">
    <!-- <div class="col-md-1">
      <div class="user-options">
        <app-header [logoPath]="GameDetails.LogoPath"  [LoginLink]="LoginLink"  [userName]="UserName" [balance]="GameBalance" [gameId]="GameID"
          [IsOneClick]="IsOneClick" [GameCode]="GameCode">
        </app-header>
        <div class="countdown-timer">
          <div id="countdown"></div>
          <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
        </div>
      </div>
    </div> -->
    <div class="col-md-8 p-0">
      <div class="row">
        <div class="col-xs-12">
          <div class="virtual-card-box">
            <div class="winning-message-video" *ngIf="GameWinner">
              <div class="who-wins">
                WINNER {{GameWinner}}
                <br><span>Hand : {{GameWinningHand.Hand}}</span>
                <br><span>Joker Suite : {{GameWinningHand.JokerSuite}}</span>
                <br><span>Winning Suite : {{GameWinningHand.WinnerSuite}}</span>
              </div>
            </div>
            <div class="second-left-part" (click)="constant.getGameRule(GameID)">
              <a href="#RulesPopup" data-toggle="modal"> <i class="fa fa-info-circle" title="Rule"></i></a>
            </div>
            <div class="game-timer virtual-game-timer">
              <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
            </div>
            <div class="virtual-card-background"
              [style.backgroundImage]="'url('+ constant.SetVirtualBackgroundDouble(GameID) +')'">
              <div class="virtual-player-card double-row">
                <div class="row m-0">
                  <div class="col-xs-1 col-sm-2"></div>
                  <div class="col-xs-2 text-center ab-jkr">
                    <div class="livecard flipcard">
                      <div class="back"> <img class="casinocard" src="{{constant.CardImages[GameCard.PlayerTCard[0]]}}">
                      </div>
                    </div>
                    <div class="roundSpan">
                      Joker
                    </div>
                  </div>
                  <div class="col-xs-7 col-sm-6 text-center p-0">
                    <div class="text-left col-md-12 m-b">
                      <ngx-slick-carousel class="carousel carousel-a" id="slickAModal" #slickAModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem class="slide"
                          *ngFor="let card of GameCard.PlayerACard;trackBy: trackByFn;let index = index;let count = count;">
                          <div class="livecard flipcard">
                            <div class="back" [class.disabled]="count - 1 != index"> <img class="casinocard" src="{{constant.CardImages[card]}}"></div>
                          </div>
                        </div>
                      </ngx-slick-carousel>
                      <span class="roundSpan">
                        <div class="badge right">A</div> Andar
                      </span>
                    </div>
                    <div class="text-left col-md-12">
                      <ngx-slick-carousel class="carousel carousel-b" id="slickBModal" #slickBModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem
                          *ngFor="let card of GameCard.PlayerBCard;trackBy: trackByFn;let index = index;let count = count;"
                          class="slide">
                          <div class="livecard flipcard">
                            <div class="back" [class.disabled]="count - 1 != index"> <img class="casinocard" src="{{constant.CardImages[card]}}"></div>
                          </div>
                        </div>
                      </ngx-slick-carousel>
                      <span class="roundSpan">
                        <div class="badge left">B</div> Bahar
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="agent-logo">
              <img src="{{GameDetails.LogoPath}}" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="video-area-425">
        <div class="winning-message-video" *ngIf="GameWinner">
          <div class="who-wins">
            WINNER {{GameWinner}}
            <br><span>Hand : {{GameWinningHand.Hand}}</span>
            <br><span>Joker Suite : {{GameWinningHand.JokerSuite}}</span>
            <br><span>Winning Suite : {{GameWinningHand.WinnerSuite}}</span>
          </div>
        </div>
        <div class="second-left-part" (click)="constant.getGameRule(GameID)">
          <a href="#RulesPopup" data-toggle="modal"> <i class="fa fa-info-circle" title="Rule"></i></a>
        </div>
        <div class="game-timer virtual-game-timer">
          <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
        </div>
        <div class="player-cards pl-crd andar-bahar">
          <div class="virtual-background"
            [style.backgroundImage]="'url('+ constant.SetVirtualBackgroundDouble(GameID) +')'">
            <div class="player-cont row">
              <div class="m-t-170">
                <div class="row m-0">
                  <div class="col-md-3 col-sm-3 col-xs-12 "></div>
                  <div class="col-md-2 col-sm-2 col-xs-3 m-t-45">
                    <div class="livecard flipcard">
                      <div class="back"> <img class="casinocard" src="{{constant.CardImages[GameCard.PlayerTCard[0]]}}">
                      </div>
                    </div>
                    <div class="roundSpan w-55">
                      Joker
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-7 col-xs-9 p-l-0">
                    <div class="player-cont playera text-left col-md-12 m-b">
                      <ngx-slick-carousel class="carousel carousel-a" id="slickAModal" #slickAModal="slick-carousel"
                        [config]="slideConfig">
                        <div ngxSlickItem class="slide"
                          *ngFor="let card of GameCard.PlayerACard;trackBy: trackByFn;let index = index;let count = count;">
                          <div class="livecard flipcard">
                            <div class="back" [class.disabled]="count - 1 != index"> <img class="casinocard"
                                src="{{constant.CardImages[card]}}"></div>
                          </div>
                        </div>
                      </ngx-slick-carousel>
                      <span class="roundSpan">
                        <div class="badge right">A</div> Andar
                      </span>
                    </div>
                    <div class="player-cont playera text-left col-md-12">
                      <ngx-slick-carousel class="carousel carousel-b" id="slickBModal" #slickBModal="slick-carousel"
                        [config]="slideConfig">
                        <div ngxSlickItem
                          *ngFor="let card of GameCard.PlayerBCard;trackBy: trackByFn;let index = index;let count = count;"
                          class="slide">
                          <div class="livecard flipcard">
                            <div class="back" [class.disabled]="count - 1 != index"> <img class="casinocard"
                                src="{{constant.CardImages[card]}}"></div>
                          </div>
                        </div>
                      </ngx-slick-carousel>
                      <span class="roundSpan">
                        <div class="badge left">B</div> Bahar
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="agent-logo">
          <img src="{{GameDetails.LogoPath}}" alt="">
        </div>
      </div> -->

      <div class="match-odds">
        <div class="marketborder">
          <div class="col-md-12 col-sm-12 dis-show nopadding">
            <h3 class="markettitle text-center">
              <span>{{constant.GameName[GameCode]}} - {{DisplayID}}</span>
            </h3>
          </div>
          <div class="posr">
            <app-game-detail [GameDetails]="GameDetails" [GameCode]="GameCode" [DisplayID]="DisplayID" [isLay]="false"
              [backLayName]="backLayName">
            </app-game-detail>
            <div class="position-relative">
              <ng-container *ngFor="let item of constant.GameRunner.ABUI.NotJoker | keyvalue: constant.asIsOrder;">
                <div class="row backLeyCard">
                  <div class="col-xs-8 p-0">
                    <div>
                      {{item.value}}
                    </div>
                    <div [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">
                      {{PL[item.key + 'PL'] | number:'1.2-2'}}
                    </div>
                  </div>
                  <div class="col-xs-4 p-0">
                    <div class="backLeyCard_backrate">
                      <div (click)="AddBet(item.key,1)" [hidden]="GameRate[item.key][1] == '-'">
                        {{GameRate[item.key][1]}}
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2 p-0" *ngIf="false">
                    <div class="backLeyCard_layate">
                      <div (click)="AddBet(item.key,0)" [hidden]="GameRate[item.key][0] == '-'">
                        {{GameRate[item.key][0]}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mob-bet-slip" *ngIf="(this.GameBetDetails.Runner === item.key) && ShowBetSlip">
                  <div class="col-xs-12 p-0">
                    <div class="bet-slip-player">
                      <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                        [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                        [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                        (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                      </app-bet-slip>
                    </div>
                  </div>
                </div>
              </ng-container>

              <div class="backLeyCard_gameStatus" [ngClass]="GameCard.PlayerTCard[0] == '' ? '': 'andar-bahar'"
                *ngIf="ShowGameStatusOverlay">
                <div class="col-xs-8 p-0"></div>
                <div class="col-xs-4 p-0 backLeyCard_gameStatus_layer">
                  <div *ngIf="GameWinner=='Draw'">
                    Draw
                  </div>
                  <div *ngIf="GameWinner!='Draw'">
                    {{constant.GameStatus[GameStatus]}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="marketborder">
          <div class="col-md-12 col-sm-12 nopadding">
            <h3 class="markettitle text-center"><span>Winner Player Hand</span></h3>
          </div>
          <div class="col-md-12 col-sm-12 nopadding">
            <div class="col-md-6 col-sm-6 col-xs-12 win-hand">
              <h3 class="markettitle text-center"><span>Joker</span></h3>
              <div class="retro-button">
                <ng-container
                  *ngFor="let item of constant.GameRunner.ABUI.Tab2Joker | keyvalue: constant.asIsOrder;let i=index;">
                  <div class="trade-button pointer" [ngClass]="constant.bgColor[i]" (click)="AddBet(item.key,1)">
                    <img class="trade-background" src="assets/images/coins-solid.svg" alt="">
                    <div class="trade-name">{{item.value}}
                      <span class="trade-rate" [hidden]="GameRate[item.key][1] == '-'"
                        [ngClass]="(GameRate[item.key][1])>0?'green':'red'">{{GameRate[item.key][1]}}</span>
                      <span class="trade-pl" [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">{{(PL[item.key + 'PL'] |
                        number:'1.2-2')}}</span>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-xs-12 nopadding bet-slip-player mob-bet-slip"
                *ngIf="!GameCard.PlayerACard[0] && !ShowGameStatusOverlay && ShowBetSlip && constant.GameRunner.ABUI.Tab2Joker.hasOwnProperty(GameBetDetails.Runner)">
                <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
                  [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus"
                  [GameID]="GameID" [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)"
                  (onValidateBet)="ValidateBet()">
                </app-bet-slip>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 win-hand">
              <h3 class="markettitle text-center"><span>Winner</span></h3>
              <div class="retro-button">
                <ng-container
                  *ngFor="let item of constant.GameRunner.ABUI.Tab2Winner | keyvalue: constant.asIsOrder;let i=index;">
                  <div class="trade-button pointer" [ngClass]="constant.bgColor[i]" (click)="AddBet(item.key,1)">
                    <img class="trade-background" src="assets/images/coins-solid.svg" alt="">
                    <div class="trade-name">{{item.value}}
                      <span class="trade-rate" [hidden]="GameRate[item.key][1] == '-'"
                        [ngClass]="(GameRate[item.key][1])>0?'green':'red'">{{GameRate[item.key][1]}}</span>
                      <span class="trade-pl" [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">{{(PL[item.key + 'PL'] |
                        number:'1.2-2')}}</span>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-xs-12 nopadding bet-slip-player mob-bet-slip"
                *ngIf="!GameCard.PlayerACard[0] && !ShowGameStatusOverlay && ShowBetSlip && constant.GameRunner.ABUI.Tab2Winner.hasOwnProperty(GameBetDetails.Runner)">
                <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
                  [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus"
                  [GameID]="GameID" [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)"
                  (onValidateBet)="ValidateBet()">
                </app-bet-slip>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 win-hand">
              <h3 class="markettitle text-center"><span>Seven</span></h3>
              <div class="retro-button">
                <ng-container
                  *ngFor="let item of constant.GameRunner.ABUI.Joker20 | keyvalue: constant.asIsOrder;let i=index;">
                  <div class="trade-button pointer" [ngClass]="constant.bgColor[i]" (click)="AddBet(item.key,1)">
                    <img class="trade-background" src="assets/images/coins-solid.svg" alt="">
                    <div class="trade-name">{{item.value}}
                      <span class="trade-rate" [hidden]="GameRate[item.key][1] == '-'"
                        [ngClass]="(GameRate[item.key][1])>0?'green':'red'">{{GameRate[item.key][1]}}</span>
                      <span class="trade-pl" [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">{{(PL[item.key + 'PL'] |
                        number:'1.2-2')}}</span>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-xs-12 nopadding bet-slip-player mob-bet-slip"
                *ngIf="!GameCard.PlayerACard[0] && !ShowGameStatusOverlay && ShowBetSlip && constant.GameRunner.ABUI.Joker20.hasOwnProperty(GameBetDetails.Runner)">
                <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
                  [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus"
                  [GameID]="GameID" [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)"
                  (onValidateBet)="ValidateBet()">
                </app-bet-slip>
              </div>
            </div>
            <div *ngIf="GameCard.PlayerTCard[0] != '' || ShowGameStatusOverlay" class="game-status-no-bets">
              <span>Suspended </span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- ({{GameBetList.length}}) -->
      <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn" data-toggle="modal"
        data-target="#matchbetsPopup">
        Bet List ({{GameBetList.length}})
      </button>
      <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn green pull-right" data-toggle="modal"
        data-target="#matchresultPopup">
        Game Result
      </button>
    </div>

    <div class="col-md-4">
      <div class="col-xs-12 betslip-web p-0">
        <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
          [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus" [GameID]="GameID"
          [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
        </app-bet-slip>
      </div>

      <!-- oneClick Start -->
      <div class="marketborder one-click-bet">

        <app-one-click [isHeader]="false" [IsOneClick]="IsOneClick" (oneClick)="oneClick($event)"></app-one-click>
        <div *ngIf="IsOneClick && !IsEdit" class="one-click-value">
          <div class="btn-group mr-5" data-toggle="buttons">
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip1}"
              (click)="DefaultChip=GameDetails.Chip1;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip1}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip2}"
              (click)="DefaultChip=GameDetails.Chip2;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip2}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip3}"
              (click)="DefaultChip=GameDetails.Chip3;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip3}}
            </label>
          </div>
          <button type="button" class="btn btn-success one-click-edit-btn" (click)="EditOneClickChips(0)">Edit
          </button>
        </div>
        <div *ngIf="IsOneClick && IsEdit" class="one-click-edit">
          <div class="form-inline">
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip1"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip2"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip3"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <button type="submit" class="btn btn-success one-click-save"
              (click)="AddUpdateOneClickChips()">Save</button>
            <button type="reset" class="btn btn-danger one-click-cancel" (click)="IsEdit=false">Cancel</button>
          </div>
        </div>
      </div>
      <!-- oneClick End -->
      <!-- BetList Start -->
      <div class="betslip-container matchedbet">
        <app-bet-list [isModal]="false" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
          [betList]="GameBetList"></app-bet-list>
      </div>
      <!-- BetList End -->
      <!-- History Result Start -->
      <div class="marketborder hidden-xs matchedbet" style="margin-top: 10px;">
        <div class="col-md-12 col-sm-12 nopadding">
          <h3 class="markettitle text-center"><span>Game Result</span></h3>
        </div>
        <div class="marketdivcontent">
          <div class="nopadding text-center" posr>
            <div class="title-list" [ngClass]="item.Winner=='Andar'?'green':item.Winner=='Bahar'?'red':'gray'"
              *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner=='Andar'?'A':item.Winner=='Bahar'?'B':'D'}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- History Result End -->
    </div>
  </div>
</div>

<div class="overlay"></div>

<!-- <app-rules *ngIf="GameCode" [code]="GameCode"></app-rules> -->

<app-chips-setting [minStack]="GameDetails.MinStakePerBet" [maxStack]="GameDetails.MaxStakePerBet"></app-chips-setting>

<app-error *ngIf="!IsVerified" [errorMessage]="DisplayMessage"></app-error>

<app-bet-list [isModal]="true" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
  [betList]="GameBetList"></app-bet-list>

<!-- Round History Pop Up Start -->
<div id="RhistoryPopup" class="modal fade modal-scroll" style="z-index: 1054;" tabindex="-1" data-replace="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">{{constant.GameName[GameCode]}} (ID - {{GameHistoryDetails.DisplayID}})</h4>
      </div>
      <div class="modal-body">
        <div class="player-cards andar-bahar">
          <div class="player-cont row" style="justify-content: center;">
            <div class="player-cont playera text-center col-md-12 col-sm-3 col-xs-4">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails.PlayerACard[GameHistoryDetails.PlayerACard.length - 1]]}}">
                </div>
              </div>
              <h6 class="text-center">Andar</h6>
              <div class="badge right">A</div>
              <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Andar'">Winner</div>
              <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Bahar'">Loser</div>
            </div>

            <div class="player-cont playera text-center col-md-12 col-sm-3 col-xs-2">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails.PlayerTCard[0]]}}">
                </div>
              </div>
              <h6 class="text-center">Joker</h6>
            </div>

            <div class="player-cont playera text-center col-md-12 col-sm-3 col-xs-4">
              <div class="historycard flipcard h">
                <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
                <div class="back"> <img class="casinocard"
                    src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[GameHistoryDetails.PlayerBCard.length -1]]}}">
                </div>
              </div>
              <h6 class="text-center">Bahar</h6>
              <div class="badge left">B</div>
              <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Bahar'">Winner</div>
              <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Andar'">Loser</div>
            </div>
          </div>
          <div class="game-result draw" *ngIf="GameHistoryDetails.Winner=='Draw'"><br>Draw</div>
          <div class="game-result winner-hand">
            Hand : {{GameHistoryDetails.WinningHand.Hand}}
          </div>
          <div class="game-result winner-hand">
            Joker Suite : {{GameHistoryDetails.WinningHand.JokerSuite}}
          </div>
          <div class="game-result winner-hand">
            Winning Suite : {{GameHistoryDetails.WinningHand.WinnerSuite}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Round History Pop Up End -->
<!-- Game Result Popup Start-->
<div id="matchresultPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">Game Result</h4>
      </div>
      <div class="modal-body result-background">
        <div class="marketdivcontent">
          <div class="nopadding text-align" posr>
            <div class="title-list" [ngClass]="item.Winner=='Andar'?'green':item.Winner=='Bahar'?'red':'gray'"
              *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner=='Andar'?'A':item.Winner=='Bahar'?'B':'D'}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Game Result Popup End-->
<!-- Game Rule -->
<div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <app-rules [rules]="constant.gameRule"></app-rules>
</div>
