<router-outlet></router-outlet>
<div class="background-disabled" *ngIf="HTTPActivity">
	<div class="loader">
		<img src="assets/images/logo/supernowa-loader-black.gif">
		<!-- <img src="assets/images/victor-logo-star.png"> -->
	</div>
</div>