.background-disabled {
  position: fixed;
  background-color: rgba(200, 200, 200, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 1051;
}
