.flipcard {
  width: 40px;
  height: 45px;
  margin: 0 3px;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.historycard.flipcard {
  width: 28px;
  height: 45px;
}



.retro-button {
  background-color: none;
  border: none;
  padding: 0px;
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}

.winning-message-video {
  top: 25%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   z-index: 1;
// }

.player-cards {
  background-image: url("/assets/images/VAW-back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 428px;
  background-position-y: -70px;
}

.player-cards.andar-bahar h6 {
  font-size: 15px;
  text-align: left;
}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 270px;
  }
}

.card-t-m {
  margin-top: 315px;
}

.playera,
.playerb {
  width: 100%;
  text-align-last: center;

  h6 {
    span {
      color: var(--primary-font-color);
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid var(--primary-font-color);
      padding: 2px 10px;
      letter-spacing: 0;
      border-radius: 20px;
      font-weight: bold;
      width: auto;
      height: auto;
    }
  }
}

.playera {
  text-align: right;
  width: 40%;
  margin: auto;

  h6 {
    text-align: right;
    padding-right: 30px;

    span {
      float: right;
    }
  }
}

@media (max-width: 991px) {

  .playera,
  .playerb {
    text-align: center;
    padding: 0;

    h6 {
      padding: 0;
      text-align: center;

      span {
        float: none;
        margin: 0;
      }
    }
  }

  .pl-crd {
    width: 100%;
  }

  .modal-body {
    .player-cards {
      width: 100%;
    }
  }

  .player-cards {
    height: 480px;
  }

  .card-t-m {
    margin-top: 365px;
  }

  .player-cards {
    background-position-y: -75px;
  }

}

@media (max-width: 960px) {
  .player-cards {
    background-position-y: -65px;
  }
}

@media (max-width: 940px) {
  .player-cards {
    background-position-y: -50px;
  }
}

@media (max-width: 915px) {
  .player-cards {
    background-position-y: -40px;
  }
}

@media (max-width: 895px) {
  .player-cards {
    background-position-y: -35px;
  }
}

@media (max-width: 880px) {
  .card-t-m {
    margin-top: 345px;
  }
}

@media (max-width: 850px) {
  .player-cards {
    background-position-y: 0;
  }
}

@media (max-width: 767px) {
  .card-t-m {
    margin-top: 285px;
  }

  .flipcard {
    height: 60px;
  }

  .player-cards {
    height: 400px;
    background-position-y: -22px;
  }
}

@media (max-width: 767px) {
  .player-cards {
    background-position-y: -18px;
  }
}

.retro-button .trade-button {
  min-width: 24%;
  // max-width: 24%;
  // margin: auto;
  // margin-bottom: 5px;
}

@media (max-width: 690px) {
  .playera {
    width: 45%;
  }
}

@media (max-width: 575px) {
  .playera {
    width: 45%;
  }
}

@media (max-width: 550px) {
  .retro-button .trade-button {
    min-width: 48%;
  }
}

@media (max-width: 500px) {
  .playera {
    width: 50%;
  }
}

@media (max-width: 475px) {
  .playera {
    width: 70%;
  }
}

@media (max-width: 475px) {
  .playera {
    width: 80%;
  }
}

// @media (min-width: 551px) {
//   .fifth-btn{
//     margin-right: 1%!important;
//   }
//   .sixth-btn{
//     margin-left: 0!important;
//   }
// }
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.game-timer {
  left: 5px;
}
@media (max-width: 500px) {
  .virtual-card-box{
    height: 400px;
  }
  .agent-logo{
    bottom:5px;
  }
}