.player-cards {
  width: 100px;
}

.retro-button .trade-button {
  min-width: 24%;
}

@media (max-width: 550px) {
  .retro-button .trade-button {
    min-width: 48%;
  }
}

.game-bal,
.game-lia {
  display: block;
}

.user-options {
  position: absolute;
  z-index: 1;
  top: 85px;
  left: 5px;
  display: block;
}

.user-options button {
  font-size: 14px;
  width: 30px;
  height: 30px;
}

.game-timer {
  position: absolute;
  left: 0;
  top: 75px;
}

.dropdown-menu-right {
  right: auto;
}

@media (min-width: 1200px) {
  .user-options .dropdown-menu-right {
    left: 35px;
  }
}

@media (max-width: 991px) {
  .player-cards.andar-bahar .player-cont {
    display: block;
    margin-right: -5px;
    margin-left: -5px;
  }

  .user-options>div {
    display: block !important;
  }

  .agent-logo {
    bottom: 2px;
    top: auto;
  }

  .player-cards {
    position: absolute;
    max-width: 200px;
  }

  .playera,
  .playerb {
    display: block;
  }

  .live-label-live {
    top: 5px;
    left: 5px;
  }
}

@media (max-width: 991px) {
  .player-cards {
    width: 100px;
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .player-cards {
    position: absolute;
    width: 100px;
  }

  .flipcard {
    height: 25px;
  }
}

.flipcard {
  width: 35px;
  height: 50px;
  margin: 5px 2px;
}