.flipcard {
  width: 45px;
  height: 60px;
  margin: 0 3px;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.historycard.flipcard {
  width: 28px;
  height: 45px;
}

.winning-tab {
  color: white;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid white;
}

.winning-tab.active {
  background-color: white;
  color: black;
}

// .game-status {
//   height: calc(100% - 106px);
// }

// @media (max-width: 991px) {
//   .game-status {
//     height: calc(100% - 101px);
//   }
// }

// @media (max-width: 767px) {
//   .game-status {
//     height: calc(100% - 70px);
//   }
// }

.player-a {
  transform: translate(-50%, -100%);
  transform: none;
}

.player-b {
  transform: translate(-50%, 70%);
  transform: none;
}

.mt-10 {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .retro-button .trade-button {
    max-width: 49%;
  }
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}

.winning-message-video {
  top: 3%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
// }

.player-cards {
  // background-image: url("/assets/images/green-cloth.jpg");
  // background-image: url("/assets/images/full-background.jpeg");
  // background-image: url("/assets/images/vtp-background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 428px;
}
// .virtual-card-background{
//   background-image: url("/assets/images/vtp-background.gif");
// }

.player-cards.andar-bahar h6 {
  font-size: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .winning-message-video {
    top: -8%;
  }
}

.playera,
.playerb {
  width: 50%;
  float: left;
  padding-right: 25px;

  h6 {


    span {
      color: var(--primary-font-color);
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid var(--primary-font-color);
      padding: 2px 10px;
      letter-spacing: 0;
      border-radius: 20px;
      font-weight: bold;
      width: auto;
      height: auto;

    }
  }
}

.playera {
  text-align: right;

  h6 {
    text-align: right;
    padding-right: 30px;

    span {
      float: right;
    }
  }
}

.playerb {
  text-align: left;

  h6 {
    text-align: left;
    padding-left: 30px;

    span {
      float: left;
    }
  }

}

.teen-patti {
  margin: auto;
  margin-top: 280px;
}


@media (max-width: 991px) {
  .player-cards {
    height: 480px;
  }

  .pl-crd {
    position: absolute !important;
  }

  .teen-patti {
    margin-top: 310px;
    width: 60%;
  }

  .playera,
  .playerb {
    // width: 100%;
    text-align: center;
    padding: 0;

    h6 {
      padding: 0;
      text-align: center;

      span {
        float: none;
        margin: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .flipcard {
    height: 60px;
  }

  .player-cards {
    height: 400px;
  }

  .teen-patti {
    width: 60%;
    margin-top: 260px;
  }
}

@media (max-width: 550px) {
  // .player-cards {
  //   background-image: url("/assets/images/mobile-background.jpg");
  //   background-position-x: 55%;
  // }

  .teen-patti {
    width: 90%;
  }
}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 270px;
  }
}

@media (max-width: 991px) {
  .modal-body {
    .player-cards {
      width: 100%;
    }
  }
}

.casinocard {
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.game-timer {
  left: 5px;
}

@media (max-width: 300px) {
  .flipcard {
    width: 35px;
    height: 45px;
  }

}
