.flipcard {
  width: 32px;
  height: 42px;
  margin: 0 3px;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.historycard.flipcard {
  width: 28px;
  height: 45px;
}

.winning-tab {
  color: white;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid white;
}

.winning-tab.active {
  background-color: white;
  color: black;
}

.player-a {
  transform: translate(-50%, -100%);
  transform: none;
}

.player-b {
  transform: translate(-50%, 70%);
  transform: none;
}

.mt-10 {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .retro-button .trade-button {
    max-width: 16.5rem;
    max-width: 49%;
    min-width: 48%;
  }
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}

.winning-message-video {
  top: 3%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
// }

.player-cards {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 428px;
  padding: 0;
  overflow: hidden;
  border-radius: unset;
}

.player-cards.andar-bahar h6 {
  font-size: 15px;
}

.m-b-20 {
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  .winning-message-video {
    top: -8%;
  }
}

.playera,
.playerb {
  width: 100%;
  float: left;
  // padding-right: 10px;
  // text-align: right;

  h6 {
    span {
      color: var(--primary-font-color);
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid var(--primary-font-color);
      padding: 2px 10px;
      letter-spacing: 0;
      border-radius: 20px;
      font-weight: bold;
      width: auto;
      height: auto;

    }
  }
}

.playera {

  h6 {
    text-align: center;

    span {
      float: none;
    }
  }
}

.playerb {

  h6 {
    text-align: center;

    span {
      float: none;
    }
  }
}

.teen-patti {
  width: 70%;
  margin: 0px auto auto auto;
}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 460px;
    padding-top: 8px;
  }
}

.casinocard {
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.virtual-background {
  background-image: url("/assets/images/card-race-bg.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center center;
  // height: 555px;
  // background-position-y: -90px;
  // width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0px;
  max-width: 897px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@media (max-width: 1220px) {
  .teen-patti {
    width: 88%;
  }
}

@media (max-width: 991px) {
  .virtual-background {
    background-position-y: 0px;
  }

  .modal-body {
    .player-cards {
      width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .player-cards {
    height: 480px;
  }

  .pl-crd {
    position: absolute !important;
  }

  .teen-patti {
    margin-top: 0;
    width: 70%;
  }

  .playera,
  .playerb {
    // width: 100%;
    text-align: center;
    padding: 0;

    h6 {
      padding: 0;
      text-align: center;
      display: none;

      span {
        float: none;
        margin: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .video-area-425 {
    height: 410px;
  }

  .playera,
  .playerb {
    width: 100%;
  }

  .m-b-20 {
    margin-bottom: 1px;
  }

  .virtual-background {
    background-position-y: 0px;
  }

  .flipcard {
    width: 22px;
    height: 35px;
    margin-top: 0px;
  }

  .player-cards {
    height: 410px;
  }

  .teen-patti {
    // width: 60%;
    margin-top: 0px;
  }
}

@media (max-width: 550px) {
  // .player-cards {
  //   background-image: url("/assets/images/mobile-background.jpg");
  //   background-position-x: 55%;
  // }

  .teen-patti {
    width: 90%;
  }
}

img.last-card {
  border: 1px solid rgb(255 215 0);
}

.text-gold {
  color: rgb(255, 215, 0);
}

.d-block {
  display: block;
}

// @media (max-width: 1400px) {
.player-cards {
  height: 480px;
}

.video-area-425 {
  height: 480px;
}

.spade-card {
  margin-top: 195px;
  padding-left: 200px;
}

.heart-card {
  margin-top: 25px;
  padding-left: 130px;
}

.club-card {
  margin-top: 25px;
  padding-left: 50px;
}

.diamond-card {
  margin-top: 30px;
  padding-left: 0px;
  margin-left: -15px;
}

// }
@media (max-width: 1200px) {
  .spade-card {
    margin-top: 115px;
    padding-left: 200px;
  }

  .heart-card {
    margin-top: 40px;
    padding-left: 130px;
  }

  .club-card {
    margin-top: 40px;
    padding-left: 50px;
  }

  .diamond-card {
    margin-top: 30px;
    padding-left: 0px;
    margin-left: -15px;
  }
}

@media (max-width: 991px) {
  .spade-card {
    margin-top: 135px;
    padding-left: 200px;
  }

  .heart-card {
    margin-top: 40px;
    padding-left: 130px;
  }

  .club-card {
    margin-top: 40px;
    padding-left: 50px;
  }

  .diamond-card {
    margin-top: 30px;
    padding-left: 0px;
    margin-left: -15px;
  }
}

@media (max-width: 767px) {
  .spade-card {
    margin-top: 165px;
    padding-left: 150px;
  }

  .heart-card {
    margin-top: 20px;
    padding-left: 75px;
  }

  .club-card {
    margin-top: 25px;
    padding-left: 0px;
  }

  .diamond-card {
    margin-top: 30px;
    padding-left: 0;
    margin-left: -25px;
  }
}

@media (max-width: 500px) {
  .player-cards {
    height: 295px;
  }

  .video-area-425 {
    height: 295px;
  }

  .spade-card {
    margin-top: 100px;
    padding-left: 150px;
  }

  .heart-card {
    margin-top: 5px;
    padding-left: 75px;
  }

  .club-card {
    margin-top: 10px;
    padding-left: 0px;
  }

  .diamond-card {
    margin-top: 15px;
    padding-left: 0;
    margin-left: -25px;
  }
}

.game-timer {
  left: 5px;
}

@media (max-width: 575px) {
  .player-cards.andar-bahar {
    width: 100% !important;
    padding-top: unset !important;
  }
}

@media (max-width: 280px) {
  .virtual-background {
    background-position-x: -110px;
  }

  .flipcard {
    width: 18px;
    height: 25px;
  }

  .spade-card {
    margin-top: 110px;
    padding-left: 105px;
  }

  .heart-card {
    margin-top: 10px;
    padding-left: 65px;
  }

  .club-card {
    margin-top: 20px;
    padding-left: 0px;
  }
}
