<span class="text-bold">Stake Limit : <span class="red">{{MinStake(GameDetails)}}</span>&nbsp; -&nbsp;
  <span class="text-bold red">{{MaxStake(GameDetails)}}</span>
  <br>
  Max Profit : <span class="red">{{MaxProfit(GameDetails)}}</span>
</span>
<!--  {{(GameDetails?.MaxStakePerBet==-1)? 'No limit':GameDetails?.MaxStakePerBet}} -->