.jkr-box {
  float: left;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  width: 6.94%;
  margin: 0% 0.1%;
}

.back-rate-header {
  font-weight: 900 !important;
  text-transform: uppercase;
  border-color: #14141c;
  background-color: var(--back-rate-gridcolor);

  a {
    color: black;
  }
}

.jkr-bet {
  background-color: rgba(25, 28, 41, .7);
  padding: 4px 0px 2px 0px;
  border-radius: 0 0px 5px 4px;
}

.clr-d-h {
  color: #eb1c24;
}

.clr-s-c {
  color: black;
}

.game-status {
  width: 100% !important;
}

@media (max-width: 991px) {
  .jkr-box {
    width: 14.0%;
    margin-bottom: 10px;
  }
}

.retro-button .trade-button {
  min-width: 24%;
}

@media (max-width: 550px) {
  .retro-button .trade-button {
    min-width: 48%;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   z-index: 1;
// }

.pl-crd {
  width: 100px;
}

@media (max-width: 991px) {
  .player-cards {
    width: 100px;
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .player-cards {
    width: 100px;
  }
}

.flipcard {
  width: 35px;
  height: 50px;
  margin: 5px 2px;
}
