.flipcard {
  width: 40px;
  height: 60px;
  margin: 0 3px;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.historycard.flipcard {
  width: 28px;
  height: 45px;
}

.player-cards {
  width: 125px;
}

.teen-patti {
  margin-top: 250px;
  width: 100%;
}

.retro-button {
  padding: 0px;
  border: none;
  background-color: none;
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}

.winning-message-video {
  top: 25%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   z-index: 1;
// }

.player-cards {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 428px;
}

.player-cards.andar-bahar h6 {
  font-size: 15px;
  text-align: left;
}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 270px;
  }
}

.card-t-m {
  margin-top: 315px;
}

.playera,
.playerb {
  width: 100%;
  text-align-last: center;

  h6 {
    span {
      color: var(--primary-font-color);
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid var(--primary-font-color);
      padding: 2px 10px;
      letter-spacing: 0;
      border-radius: 20px;
      font-weight: bold;
      width: auto;
      height: auto;
    }
  }
}

.playera {
  text-align: right;
  margin: auto;

  h6 {
    text-align: right;
    padding-right: 30px;

    span {
      float: right;
    }
  }
}

.jkr-box {
  float: left;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  width: 6.94%;
  margin: 0% 0.1%;
}

.back-rate-header {
  font-weight: 900 !important;
  text-transform: uppercase;
  border-color: #14141c;
  background-color: var(--back-rate-gridcolor);

  a {
    color: black;
  }
}

.jkr-bet {
  background-color: rgba(25, 28, 41, .7);
  padding: 4px 0px 2px 0px;
  border-radius: 0 0px 5px 4px;
}

.clr-d-h {
  color: #eb1c24;
}

.clr-s-c {
  color: black;
}

.game-status {
  width: 100% !important;
}

@media (max-width: 991px) {
  .jkr-box {
    width: 14.0%;
    margin-bottom: 10px;
  }

  .teen-patti {
    margin-top: 280px;
  }

  .playera,
  .playerb {
    text-align: center;
    padding: 0;

    h6 {
      padding: 0;
      text-align: center;

      span {
        float: none;
        margin: 0;
      }
    }
  }

  .pl-crd {
    width: 100%;
  }

  .modal-body {
    .player-cards {
      width: 100%;
    }
  }

  .player-cards {
    height: 480px;
  }

  .card-t-m {
    margin-top: 365px;
  }


}

@media (max-width: 767px) {
  .teen-patti {
    margin-top: 230px;
  }

  .flipcard {
    height: 60px;
  }

  .player-cards {
    height: 400px;
  }
}

.retro-button .trade-button {
  min-width: 24%;
}

@media (max-width: 550px) {
  .retro-button .trade-button {
    min-width: 48%;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.game-timer {
  left: 5px;
}
