.flipcard {
  width: 35px;
  height: 45px;
  margin: 0 3px;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.historycard.flipcard {
  width: 28px;
  height: 45px;
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}


.winning-message-video {
  top: 15%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
// }

.player-cards {
  // background-image: url("/assets/images/full-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 480px;
  overflow: hidden;
  padding: 0;
}

.player-cards.andar-bahar h6 {
  font-size: 15px;
}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 270px;
  }
}

.m-t-160 {
  margin-top: calc(100% - 77%);
  width: 100%;
}

.disNone {
  display: block;
}


.mb-15 {
  margin-bottom: 15px !important;
}

@media (max-width: 991px) {
  .m-t-160 {
    margin-top: 210px;
    width: 100%;
  }

  .m-0 {
    margin: 0px;
  }



  .modal-body {
    .player-cards {
      width: 100%;
    }
  }

  .player-cards {
    height: 480px;
  }

  .pl-crd {
    position: absolute !important;
  }
}

@media (max-width: 767px) {
  .m-t-160 {
    // margin-top: calc(100% - 68%);
    width: 100%;
  }

  .flipcard {
    height: 50px;
  }

  .trade-background {
    padding: 3px;
  }

  .trade-button {
    width: 100%;
  }

  .player-cards {
    height: 420px;
  }

  .video-area-425 {
    height: 424px !important;
  }
}

@media (max-width: 550px) {

  // .player-cards {
  //   background-image: url("/assets/images/mobile-background.jpg");
  //   background-position-x: 55%;
  // }
  .disNone {
    display: none;
  }

  .mob-card-view {
    width: 50%;
  }
}

.slick-active {
  min-width: 40px;
}

.slick-next {
  right: -5px !important;
  z-index: 10;
  top: 75% !important;
}

.slick-prev {
  left: -5px !important;
  z-index: 10;
  top: 75% !important;
}

.bet-overlay {
  top: 0px;
  line-height: 56px;
  background: rgba(0, 0, 0, 0.7);
}

.bet-overlay {
  position: absolute;
  top: -45px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.72);
  line-height: 45px;
  color: #eb1111;
  text-transform: uppercase;
  font-size: 16px;
  z-index: 1;
  font-family: 'cambria';
}




.trade-name span.value {
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 2px;
}

.trade-name .green,
.trade-name .red {
  display: block;
  font-size: 11px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 2px;
}

.trade-name {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  pointer-events: all;
  background-color: #070737;
  color: #FFC959;
  text-decoration: none;
  border-radius: 0.5rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .6);
  transition: all 0.4s ease-in-out;
}

.trade-background {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border: 1px solid #8E6F2D;
  padding: 3px 0;
  border-radius: 0.5rem;
}

.trade-button {
  width: 100%;
  height: 7.5rem;
  font-size: 1.85rem;
  display: table;
  position: relative;
  padding: 5px 0;
}

.table-market {
  border: 0.5px solid rgba(255, 255, 255, 0.08);
}

.sus-status {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  opacity: 1;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 1;
  text-transform: uppercase;
  height: 40px;
  width: calc(33% + 4px) !important;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-blue {
  background-color: #070737;
}

.dark-blue:hover {
  background: #0e0e66;
}

.dark-green {
  background-color: #092e13;
}

.dark-green:hover {
  background: #0f461e;
}

.dark-red {
  background-color: #510c14;
}

.dark-red:hover {
  background: #7d1824;
}

.dark-gray {
  background-color: #004747;
}

.dark-gray:hover {
  background: #1a5f5f;
}

.st0 {
  display: none;
  fill: #FFC959;
}

.st1 {
  fill: none;
  stroke: #FFC959;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
}

.virtual-background {
  // background-image: url("/assets/images/red-background-double.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 555px;
  background-position-y: -65px;
  background-position-x: 50%;
}

.casinocard {
  // box-shadow: 0 0 2px rgba(255,255,255,0.5);
  border: 1px solid rgb(255 255 255 / 0.1);
  border-radius: 2px;
}

.video-area-425 {
  height: 480px;
  position: relative;
}

@media screen and (width: 1024px) {
  .m-t-160 {
    margin-top: 32%;
  }
}

.game-timer {
  left: 5px;
}
