.winning-tab {
  color: white;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid white;
}

.winning-tab.active {
  background-color: white;
  color: black;
}

.player-a {
  transform: translate(-50%, -100%);
  transform: none;
}

.player-b {
  transform: translate(-50%, 70%);
  transform: none;
}

.mt-10 {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .retro-button .trade-button {
    max-width: 49%;
  }

  .game-status {
    height: calc(100% - 38px);
    width: calc(33.3% + 1px) !important;
  }
}

.flipcard {
  width: 45px;
  height: 75px;
  margin: 0 3px;
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.winning-message-video {
  top: -10%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
// }

.historycard.flipcard {
  width: 28px;
  height: 45px;
}

.player-cards {
  // background-image: url("/assets/images/green-cloth.jpg");
  // background-image: url("/assets/images/full-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 428px;
}

.player-cards.andar-bahar h6 {
  font-size: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}



.playera,
.playerb {
  width: 50%;
  float: left;
  padding-right: 25px;

  h6 {
    span {
      color: var(--primary-font-color);
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid var(--primary-font-color);
      padding: 2px 10px;
      letter-spacing: 0;
      border-radius: 20px;
      font-weight: bold;
      width: auto;
      height: auto;

    }
  }
}

.playera {
  text-align: right;

  h6 {
    text-align: right;
    padding-right: 30px;

    span {
      float: right;
    }
  }

  .flipcard .front img,
  .flipcard .back img {
    transform: rotateX(40deg);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  }
}

.playerb {
  text-align: left;

  h6 {
    text-align: left;
    padding-left: 30px;

    span {
      float: left;
    }
  }

  .flipcard .front img,
  .flipcard .back img {
    transform: rotateX(-40deg);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  }
}

.teen-patti {
  margin-top: 270px;
}

@media (max-width: 991px) {
  .modal-body {
    .player-cards {
      width: 100%;
    }
  }

  .player-cards {
    height: 480px;
  }

  .pl-crd {
    position: absolute !important;
  }

  .teen-patti {
    margin-top: 270px;
    width: 60%;
  }

  .flipcard {
    width: 45px;
    height: 75px;
  }


  .playera,
  .playerb {
    text-align: center;
    padding: 0;

    h6 {
      padding: 0;
      text-align: center;

      span {
        float: none;
        margin: 0;
      }
    }
  }

  .playera {

    .flipcard .front img,
    .flipcard .back img {
      transform: rotateX(40deg);
      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
    }
  }

  .playerb {

    .flipcard .front img,
    .flipcard .back img {
      transform: rotateX(-40deg);
      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
    }
  }
}

@media (max-width: 767px) {
  .player-cards {
    height: 400px;
  }

  .flipcard {
    width: 30px;
    height: 55px;
  }

  .teen-patti {
    width: 60%;
    margin-top: 220px;
  }
}

@media (max-width: 550px) {
  .player-cards {
    background-image: url("/assets/images/mobile-background.jpg");
    background-position-x: 55%;
  }

  .teen-patti {
    width: 90%;
  }
}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 270px;
  }
}

.game-timer {
  left: 5px;
}

@media (max-width: 300px) {
  .teen-patti {
    width: 60%;
    margin-top: 228px;
  }

  .playera,
  .playerb {
    width: 100%;
  }

  .m-b-20 {
    margin-bottom: 0;
  }

  .player-cards.andar-bahar h6 {
    font-size: 10px;
  }

  .player-cards h6 {
    margin-top: 0;
  }

  .flipcard {
    width: 25px;
    height: 45px;
  }

  .player-cards {
    height: 400px;
  }

  .m-flude {
    width: 259px;
    display: inline-flex;
  }
}

@media (width:1024px) {
  .teen-patti {
    margin-top: 237px;
  }

  .flipcard {
    width: 25px;
    height: 45px;
  }
}
