<!-- <app-news-header [News]="GameDetails.News" [GameCode]="GameCode" [hidden]="!IsVerified" [balance]="GameBalance"
  [liability]="GameLiability" [gameId]="GameID" [IsOneClick]="IsOneClick" (PlayerDes)="PlayerDes($event)" [userName]="UserName">
</app-news-header> -->
<div class="container-fluid">
  <div class="row gutters-5" [hidden]="!IsVerified">
    <div class="col-md-8 p-0">
      <div class="row">
        <div class="col-xs-12">
          <div class="virtual-card-box">
            <div class="winning-message-video" *ngIf="GameWinner">
              <div class="who-wins">
                WINNER {{GameWinner}}
                <br><span>{{GameWinningHand}}</span>
              </div>
            </div>
            <div class="second-left-part" (click)="constant.getGameRule(GameID)">
              <a href="#RulesPopup" data-toggle="modal"> <i class="fa fa-info-circle" title="Rule"></i></a>
            </div>
            <div class="game-timer virtual-game-timer">
              <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
            </div>
            <app-virtual-card-view [GameCard]="GameCard" [GameCode]="GameCode" [GameID]="GameID"></app-virtual-card-view>
            <div class="agent-logo">
              <img src="{{GameDetails.LogoPath}}" alt="">
            </div>
          </div>
        </div>
      </div>

      <!-- Data  -->
      <div class="match-odds">
        <div class="marketborder">
          <div class="col-md-6 col-sm-12 dis-show nopadding">
            <h3 class="markettitle text-center"><span>{{constant.GameName[GameCode]}} - {{DisplayID}}</span></h3>
          </div>
          <div class="posr">
            <app-game-detail [GameDetails]="GameDetails" [GameCode]="GameCode" [DisplayID]="DisplayID">
            </app-game-detail>
            <div class="position-relative">
              <ng-container *ngFor="let item of constant.GameRunner.V3TPUI.Tab1 | keyvalue: constant.asIsOrder;">
                <div class="row backLeyCard">
                  <div class="col-xs-8 p-0">
                    <div>
                      {{item.value}}
                    </div>
                    <div [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">
                      {{PL[item.key + 'PL'] | number:'1.2-2'}}
                    </div>
                  </div>
                  <div class="col-xs-4 p-0">
                    <div class="backLeyCard_backrate set-line-h-20">
                      <div (click)="AddBet(item.key,1)" [hidden]="GameRate[item.key][1] == '-'">
                        <div>
                          {{GameRate[item.key][1]}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mob-bet-slip" *ngIf="(this.GameBetDetails.Runner === item.key) && ShowBetSlip">
                  <div class="col-xs-12 p-0">
                    <div class="bet-slip-player">
                      <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                        [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                        [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                        (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                      </app-bet-slip>
                    </div>
                  </div>
                </div>
              </ng-container>

              <div class="backLeyCard_gameStatus" *ngIf="(GameCard.PlayerACard[0] && Tab === 'Tab2')">
                <div class="col-xs-8 p-0"></div>
                <div class="col-xs-4 p-0 backLeyCard_gameStatus_layer">
                  <div>
                    No Bets
                  </div>
                </div>
              </div>

              <app-game-close [ShowGameStatusOverlay]="ShowGameStatusOverlay" [GameWinner]="GameWinner"
                [GameStatus]="GameStatus"></app-game-close>
            </div>
          </div>
        </div>
        <div class="marketborder">
          <div class="col-md-12 col-sm-12 nopadding">
            <h3 class="markettitle text-center"><span>Winner Player Hand</span></h3>
          </div>
          <div class="col-md-12 col-sm-12 nopadding">
            <div class="retro-button">
              <div class="trade-button pointer"
                *ngFor="let item of constant.GameRunner.V3TPUI.Tab2 | keyvalue: constant.asIsOrder;let i=index;"
                [ngClass]="constant.bgColor[i]" (click)="WinnerBet(item.key,1)">
                <img class="trade-background" src="assets/images/coins-solid.svg" alt="">
                <div class="trade-name">{{item.value}}
                  <span class="trade-rate" [hidden]="GameRate[item.key][1] == '-'"
                    [ngClass]="(GameRate[item.key][1])>0?'green':'red'">{{GameRate[item.key][1]}}</span>
                  <span class="trade-pl" [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">{{(PL[item.key + 'PL'] |
                    number:'1.2-2')}}</span>
                </div>
              </div>
              <div *ngIf="GameCard.PlayerACard[0] || ShowGameStatusOverlay" class="game-status-no-bets">
                <span>No Bets</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 nopadding bet-slip-player mob-bet-slip"
            *ngIf="!GameCard.PlayerACard[0] && !ShowGameStatusOverlay && ShowBetSlip && constant.GameRunner.V3TPUI.Tab2.hasOwnProperty(GameBetDetails.Runner)">
            <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
              [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus"
              [GameID]="GameID" [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)"
              (onValidateBet)="ValidateBet()">
            </app-bet-slip>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn" data-toggle="modal"
        data-target="#matchbetsPopup">
        Bet List ({{GameBetList.length}})
      </button>
      <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn green pull-right" data-toggle="modal"
        data-target="#matchresultPopup">
        Game Result
      </button>
    </div>
    <div class="col-md-4">
      <div class="col-xs-12 betslip-web p-0">
        <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
          [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus" [GameID]="GameID"
          [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
        </app-bet-slip>
      </div>

      <!-- One Click Bet Start -->
      <div class="marketborder one-click-bet">
        <app-one-click [isHeader]="false" [IsOneClick]="IsOneClick" (oneClick)="oneClick($event)"></app-one-click>
        <div class="one-click-value" *ngIf="IsOneClick && !IsEdit">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip1}"
              (click)="DefaultChip=GameDetails.Chip1;EditOneClickChips(1);">
              <input type="radio" name="options" id="option1" autocomplete="off"> {{GameDetails.Chip1}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip2}"
              (click)="DefaultChip=GameDetails.Chip2;EditOneClickChips(1);">
              <input type="radio" name="options" id="option2" autocomplete="off"> {{GameDetails.Chip2}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip3}"
              (click)="DefaultChip=GameDetails.Chip3;EditOneClickChips(1);">
              <input type="radio" name="options" id="option3" autocomplete="off"> {{GameDetails.Chip3}}
            </label>
          </div>
          <button type="button" class="btn btn-success one-click-edit-btn" (click)="EditOneClickChips(0)">Edit</button>
        </div>
        <div class="one-click-edit" *ngIf="IsOneClick && IsEdit">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" min="1" placeholder="{{GameDetails.Chip1}}"
                [(ngModel)]="OneClickChips.Chip1" name="Chip1" (keypress)="constant.checkNumeric($event)"
                onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" min="1" placeholder="{{GameDetails.Chip2}}"
                [(ngModel)]="OneClickChips.Chip2" name="Chip2" (keypress)="constant.checkNumeric($event)"
                onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" min="1" placeholder="{{GameDetails.Chip3}}"
                [(ngModel)]="OneClickChips.Chip3" name="Chip3" (keypress)="constant.checkNumeric($event)"
                onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <button type="submit" class="btn btn-success one-click-save"
              (click)="AddUpdateOneClickChips()">Save</button>
            <button type="reset" class="btn btn-danger one-click-cancel" (click)="IsEdit=false">Cancel</button>
          </form>
        </div>
      </div>
      <!-- One Click Bet End -->
      <!-- Bet List Start-->
      <div class="betslip-container matchedbet">
        <app-bet-list [isModal]="false" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
          [betList]="GameBetList"></app-bet-list>
      </div>
      <!-- Bet List End-->

      <!-- History Result Start -->
      <div class="marketborder hidden-xs matchedbet" style="margin-top: 10px;">
        <div class="col-md-12 col-sm-12 nopadding">
          <h3 class="markettitle text-center"><span>Game Result</span></h3>
        </div>
        <div class="marketdivcontent">
          <div class="nopadding text-center" posr>
            <div class="title-list" [ngClass]="item.Winner=='Player A'?'green':item.Winner=='Player B'?'red':'gray'"
              *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner=='Player A'?'A':item.Winner=='Player B'?'B':item.Winner=='Player
                    C'?'C':'D'}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- History Result End -->
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="overlay"></div>

<!-- <app-rules *ngIf="GameCode" [code]="GameCode"></app-rules> -->

<app-chips-setting [minStack]="GameDetails.MinStakePerBet" [maxStack]="GameDetails.MaxStakePerBet"></app-chips-setting>

<app-error *ngIf="!IsVerified" [errorMessage]="DisplayMessage"></app-error>

<app-bet-list [isModal]="true" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
  [betList]="GameBetList"></app-bet-list>

<!-- Round History Pop Up Start -->
<div id="RhistoryPopup" class="modal fade modal-scroll" style="z-index: 1054;" tabindex="-1" data-replace="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">{{constant.GameName[GameCode]}} (ID - {{GameHistoryDetails.DisplayID}})</h4>
      </div>
      <div class="modal-body">
        <div class="player-cards teenpatti">
          <div class="playera" style="text-align: center;">
            <h6>Player A</h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerACard[2]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player A'">Winner
              {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}}</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner!='Player A'">Loser</div>
          </div>
          <div class="playerb" style="text-align: center;">
            <h6>Player B</h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerBCard[2]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player B'">Winner
              {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}}</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner!='Player B'">Loser</div>
          </div>
          <div class="playera playerc" style="text-align: center;">
            <h6>Player C</h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerCCard[0]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerCCard[1]]}}"> </div>
            </div>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.PlayerCCard[2]]}}"> </div>
            </div>
            <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Player C'">Winner
              {{GameHistoryDetails.WinningHand ? ' (' + GameHistoryDetails.WinningHand + ')' : ''}}</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner!='Player C'">Loser</div>
          </div>
          <div class="game-result draw" *ngIf="GameHistoryDetails.Winner=='Draw'"><br>Draw</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Round History Pop Up End -->

<!-- Game Result Popup Start-->
<div id="matchresultPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">Game Result</h4>
      </div>
      <div class="modal-body result-background">
        <div class="marketdivcontent">
          <div class="nopadding text-align" posr>
            <div class="title-list" [ngClass]="item.Winner=='Player A'?'green':item.Winner=='Player B'?'red':'gray'"
              *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{item.Winner=='Player A'?'A':item.Winner=='Player B'?'B':item.Winner=='Player
                    C'?'C':'D'}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Game Result Popup End-->
<div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <app-rules [rules]="constant.gameRule"></app-rules>
</div>
