<div class="backLeyCard_gameStatus" *ngIf="ShowGameStatusOverlay">
  <div class="col-xs-8 p-0"></div>
  <div class="col-xs-4 p-0 backLeyCard_gameStatus_layer">
    <div *ngIf="GameWinner=='Draw'">
      Draw
    </div>
    <div *ngIf="GameWinner!='Draw'">
      {{constant.GameStatus[GameStatus]}}
    </div>
  </div>
</div>

<!-- <div class="backLeyCard_gameStatus"
  *ngIf="ShowGameStatusOverlay && (GameCard.SpadeCard[0] || GameCard.ClubCard[0] || GameCard.DiamondCard[0] || GameCard.HeartCard[0])">
  <div class="col-xs-8 p-0"></div>
  <div class="col-xs-4 p-0 backLeyCard_gameStatus_layer">
    <div>
      No Bets
    </div>
  </div>
</div> -->