<div *ngIf="isModal; then modelBetList else gridBetList"></div>
<ng-template #modelBetList>

  <div id="matchbetsPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            x
          </button>
          <h4 class="modal-title">Bet List</h4>
        </div>
        <div class="modal-body">
          <table class="table table-placebet noMarginBottom">
            <thead>
              <tr class="clsBackTr">
                <th class="col-md-6 col-sm-6 col-xs-6 text-left">{{constant.GameName[gameCode]}}</th>
                <th class="col-md-2 col-sm-2 col-xs-2 text-center">Odds </th>
                <th class="col-md-2 col-sm-2 col-xs-2 text-center">Stake </th>
                <th class="col-md-2 col-sm-2 col-xs-2 text-center" *ngIf="gameCode != 'WM' && gameCode != 'VWM'">P/L
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-md-12 col-sm-12 col-xs-12 text-center marketheader white" colspan="4">
                  {{displayId}}
                </td>
              </tr>
              <tr *ngFor="let item of betList" class="color-black"
                [ngClass]="item.IsBack?'back-rate-gridcolor':'lay-rate-gridcolor'">
                <td class="col-md-6 col-sm-6 col-xs-6">
                  <span>{{runner(constant.GameRunner[gameCode][item.Runner.trim()])}}
                    {{getNumber(gameCode,item)}}
                    </span>
                </td>
                <td class="col-md-2 col-sm-2 col-xs-2 text-center">
                  <span>{{item.Rate | number:'1.2-2'}}</span>
                </td>
                <td class="col-md-2 col-sm-2 col-xs-2 text-center">
                  <span>{{item.Stake | number:'1.2-2'}}</span>
                </td>
                <td class="col-md-2 col-sm-2 col-xs-2 text-center" *ngIf="gameCode != 'WM' && gameCode != 'VWM'">
                  <span>{{((gameCode == 'WM' || gameCode == 'VWM') ? item.WMPL : item.PL) | number:'1.2-2'}}</span>
                </td>
              </tr>
              <tr *ngIf="betList.length === 0">
                <td colspan="3" class="col-md-12 col-sm-12 col-xs-12 text-center white"
                  *ngIf="gameCode == 'WM' || gameCode == 'VWM'">No Data
                  Found</td>
                <td colspan="4" class="col-md-12 col-sm-12 col-xs-12 text-center white"
                  *ngIf="gameCode != 'WM' && gameCode != 'VWM'">No Data
                  Found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #gridBetList>
  <h3 class="markettitle text-center">
    <span>Bet List ({{betList.length}})</span>
  </h3>
  <div id="divMarketBetPanel">
    <div id="MarketBackBetPanel" class="posr">
      <table class="table table-placebet noMarginBottom">
        <thead>
          <tr class="clsBackTr">
            <th
              class="{{ gameCode == 'WM' || gameCode == 'VWM' ? 'col-md-8 col-sm-8 col-xs-8' : 'col-md-6 col-sm-6 col-xs-6'}} text-left">
              {{constant.GameName[gameCode]}}
            </th>
            <th class="col-md-2 col-sm-2 col-xs-2 text-center">
              Odds
            </th>
            <th class="col-md-2 col-sm-2 col-xs-2 text-center">
              Stake
            </th>
            <th class="col-md-2 col-sm-2 col-xs-2 text-center" *ngIf="gameCode != 'WM' && gameCode != 'VWM'">P/L </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-12 col-sm-12 col-xs-12 text-center marketheader white" colspan="4">
              (ID:{{displayId}})
            </td>
          </tr>
          <tr *ngFor="let item of betList" class="color-black"
            [ngClass]="item.IsBack?'back-rate-gridcolor':'lay-rate-gridcolor'">
            <td
              class="{{ gameCode == 'WM' || gameCode == 'VWM' ? 'col-md-8 col-sm-8 col-xs-8' : 'col-md-6 col-sm-6 col-xs-6'}}">
              <span>{{runner(constant.GameRunner[gameCode][item.Runner.trim()])}}
                {{getNumber(gameCode,item)}}
                </span>
            </td>
            <td class="col-md-2 col-sm-2 col-xs-2 text-center">
              <span>{{item.Rate | number:'1.2-2'}}</span>
            </td>
            <td class="col-md-2 col-sm-2 col-xs-2 text-center">
              <span>{{item.Stake | number:'1.2-2'}}</span>
            </td>
            <td class="col-md-2 col-sm-2 col-xs-2 text-center" *ngIf="gameCode != 'WM' && gameCode != 'VWM'">
              <span>{{(gameCode == 'WM' || gameCode == 'VWM' ? item.WMPL : item.PL) | number:'1.2-2'}}</span>
            </td>
          </tr>
          <tr *ngIf="betList.length === 0">
            <td colspan="3" class="col-md-12 col-sm-12 col-xs-12 text-center white"
              *ngIf="gameCode == 'WM' || gameCode == 'VWM'">No Data
              Found</td>
            <td colspan="4" class="col-md-12 col-sm-12 col-xs-12 text-center white"
              *ngIf="gameCode != 'WM' && gameCode != 'VWM'">No Data
              Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
