.player-cards {
  max-width: 300px;
  width: 240px;
}

.w-100 {
  width: 100%;
}

@media (max-width: 991px) {
  .player-cards {
    width: 100%;
    max-width: 100%;
  }

  .player-cards.andar-bahar .player-cont {
    display: block;
  }

  .player-cont.w-50 {
    width: 33.3%;
  }
}

@media (max-width: 991px) {
  .player-cards {
    width: 175px;
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .player-cards {
    width: 175px;
  }
}

@media(max-width:280px) {
  .flipcard {
    width: 15px;
    ;
    height: 20px;
  }

  .player-cards.andar-bahar h6 {
    font-size: 10px;
  }

  .player-cards {
    width: 135px;
  }
}
