.pl-crd {
  width: 184px;
}
.player-cards{
  z-index: 111;
}
.player-cards.andar-bahar h6 {
  display: none;
}

.winning-tab {
  color: white;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid white;
}

.winning-tab.active {
  background-color: white;
  color: black;
}

.player-a {
  transform: translate(-50%, -100%);
  transform: none;
}

.player-b {
  transform: translate(-50%, 70%);
  transform: none;
}

.mt-10 {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .retro-button .trade-button {
    // max-width: 16.5rem;
    max-width: 49%;
    min-width: 48%;
  }
}

.winning-message-video {
  top: 3%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
// }

@media (max-width: 767px) {

  .playera,
  .playerb {
    margin: 5px;
    width: 100%;
  }
}

.flipcard:last-child {
  img.casinocard {
    border: 1px solid rgb(255 215 0);
  }
}

.text-gold {
  color: rgb(255, 215, 0);
}

.d-block {
  display: block;
}

@media (max-width: 991px) {
  .player-cards {
    width: 175px;
  }
}
.flipcard{
  height: 30px;
}
@media (max-width: 767px) {
  .player-cards {
    width: 175px;
  }
  .flipcard{
    height: 25px;
  }
}
