<svg version="1.1" width="100%" height="100%" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 365 160"
  style="enable-background:new 0 0 365 160;" xml:space="preserve" preserveAspectRatio="none">
  <rect x="-35.35" y="-25.82" class="st0" width="435.29" height="226.82" />
  <g>
    <g>
      <g>
        <g>
          <line class="st1" x1="3.98" y1="122.65" x2="3.98" y2="94.44" />
          <line class="st1" x1="10.23" y1="122.65" x2="10.23" y2="94.44" />
          <line class="st2" x1="38.35" y1="122.65" x2="38.35" y2="94.44" />
        </g>
        <g>
          <line class="st1" x1="3.98" y1="94.44" x2="3.98" y2="66.23" />
          <line class="st1" x1="10.23" y1="94.44" x2="10.23" y2="66.23" />
          <line class="st2" x1="38.35" y1="94.44" x2="38.35" y2="66.23" />
        </g>
        <g>
          <line class="st1" x1="3.98" y1="66.23" x2="3.98" y2="38.02" />
          <line class="st1" x1="10.23" y1="66.23" x2="10.23" y2="38.02" />
          <line class="st2" x1="38.35" y1="66.23" x2="38.35" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="38.35" y1="3.65" x2="62.41" y2="3.65" />
          <line class="st1" x1="38.35" y1="9.9" x2="62.41" y2="9.9" />
          <line class="st2" x1="38.35" y1="38.02" x2="62.41" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="62.41" y1="3.65" x2="86.46" y2="3.65" />
          <line class="st1" x1="62.41" y1="9.9" x2="86.46" y2="9.9" />
          <line class="st2" x1="62.41" y1="38.02" x2="86.46" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="86.46" y1="3.65" x2="110.51" y2="3.65" />
          <line class="st1" x1="86.46" y1="9.9" x2="110.51" y2="9.9" />
          <line class="st2" x1="86.46" y1="38.02" x2="110.51" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="110.51" y1="3.65" x2="134.56" y2="3.65" />
          <line class="st1" x1="110.51" y1="9.9" x2="134.56" y2="9.9" />
          <line class="st2" x1="110.51" y1="38.02" x2="134.56" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="134.56" y1="3.65" x2="158.61" y2="3.65" />
          <line class="st1" x1="134.56" y1="9.9" x2="158.61" y2="9.9" />
          <line class="st2" x1="134.56" y1="38.02" x2="158.61" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="158.61" y1="3.65" x2="182.67" y2="3.65" />
          <line class="st1" x1="158.61" y1="9.9" x2="182.67" y2="9.9" />
          <line class="st2" x1="158.61" y1="38.02" x2="182.67" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="182.67" y1="3.65" x2="206.72" y2="3.65" />
          <line class="st1" x1="182.67" y1="9.9" x2="206.72" y2="9.9" />
          <line class="st2" x1="182.67" y1="38.02" x2="206.72" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="206.72" y1="3.65" x2="230.77" y2="3.65" />
          <line class="st1" x1="206.72" y1="9.9" x2="230.77" y2="9.9" />
          <line class="st2" x1="206.72" y1="38.02" x2="230.77" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="230.77" y1="3.65" x2="254.82" y2="3.65" />
          <line class="st1" x1="230.77" y1="9.9" x2="254.82" y2="9.9" />
          <line class="st2" x1="230.77" y1="38.02" x2="254.82" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="254.82" y1="3.65" x2="278.88" y2="3.65" />
          <line class="st1" x1="254.82" y1="9.9" x2="278.88" y2="9.9" />
          <line class="st2" x1="254.82" y1="38.02" x2="278.88" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="278.88" y1="3.65" x2="302.93" y2="3.65" />
          <line class="st1" x1="278.88" y1="9.9" x2="302.93" y2="9.9" />
          <line class="st2" x1="278.88" y1="38.02" x2="302.93" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="302.93" y1="3.65" x2="326.98" y2="3.65" />
          <line class="st1" x1="302.93" y1="9.9" x2="326.98" y2="9.9" />
          <line class="st2" x1="302.93" y1="38.02" x2="326.98" y2="38.02" />
        </g>
        <g>
          <line class="st1" x1="361.35" y1="38.02" x2="361.35" y2="66.23" />
          <line class="st1" x1="355.1" y1="38.02" x2="355.1" y2="66.23" />
          <line class="st2" x1="326.98" y1="38.02" x2="326.98" y2="66.23" />
        </g>
        <g>
          <line class="st1" x1="361.35" y1="66.23" x2="361.35" y2="94.44" />
          <line class="st1" x1="355.1" y1="66.23" x2="355.1" y2="94.44" />
          <line class="st2" x1="326.98" y1="66.23" x2="326.98" y2="94.44" />
        </g>
        <g>
          <line class="st1" x1="361.35" y1="94.44" x2="361.35" y2="122.65" />
          <line class="st1" x1="355.1" y1="94.44" x2="355.1" y2="122.65" />
          <line class="st2" x1="326.98" y1="94.44" x2="326.98" y2="122.65" />
        </g>
        <g>
          <line class="st1" x1="326.98" y1="157.02" x2="302.93" y2="157.02" />
          <line class="st1" x1="326.98" y1="150.77" x2="302.93" y2="150.77" />
          <line class="st2" x1="326.98" y1="122.65" x2="302.93" y2="122.65" />
        </g>
        <g>
          <line class="st1" x1="302.93" y1="157.02" x2="278.88" y2="157.02" />
          <line class="st1" x1="302.93" y1="150.77" x2="278.88" y2="150.77" />
          <line class="st2" x1="302.93" y1="122.65" x2="278.88" y2="122.65" />
        </g>
        <g>
          <line class="st1" x1="278.88" y1="157.02" x2="254.82" y2="157.02" />
          <line class="st1" x1="278.88" y1="150.77" x2="254.82" y2="150.77" />
          <line class="st2" x1="278.88" y1="122.65" x2="254.82" y2="122.65" />
        </g>
        <g>
          <line class="st1" x1="254.82" y1="157.02" x2="230.77" y2="157.02" />
          <line class="st1" x1="254.82" y1="150.77" x2="230.77" y2="150.77" />
          <line class="st2" x1="254.82" y1="122.65" x2="230.77" y2="122.65" />
        </g>
        <g>
          <line class="st1" x1="230.77" y1="157.02" x2="206.72" y2="157.02" />
          <line class="st1" x1="230.77" y1="150.77" x2="206.72" y2="150.77" />
          <line class="st2" x1="230.77" y1="122.65" x2="206.72" y2="122.65" />
        </g>
        <g>
          <line class="st1" x1="206.72" y1="157.02" x2="182.67" y2="157.02" />
          <line class="st1" x1="206.72" y1="150.77" x2="182.67" y2="150.77" />
          <line class="st2" x1="206.72" y1="122.65" x2="182.67" y2="122.65" />
        </g>
        <g>
          <line class="st1" x1="182.67" y1="157.02" x2="158.61" y2="157.02" />
          <line class="st1" x1="182.67" y1="150.77" x2="158.61" y2="150.77" />
          <line class="st2" x1="182.67" y1="122.65" x2="158.61" y2="122.65" />
        </g>
        <g>
          <line class="st1" x1="158.61" y1="157.02" x2="134.56" y2="157.02" />
          <line class="st1" x1="158.61" y1="150.77" x2="134.56" y2="150.77" />
          <line class="st2" x1="158.61" y1="122.65" x2="134.56" y2="122.65" />
        </g>
        <g>
          <line class="st1" x1="134.56" y1="157.02" x2="110.51" y2="157.02" />
          <line class="st1" x1="134.56" y1="150.77" x2="110.51" y2="150.77" />
          <line class="st2" x1="134.56" y1="122.65" x2="110.51" y2="122.65" />
        </g>
        <g>
          <line class="st1" x1="110.51" y1="157.02" x2="86.46" y2="157.02" />
          <line class="st1" x1="110.51" y1="150.77" x2="86.46" y2="150.77" />
          <line class="st2" x1="110.51" y1="122.65" x2="86.46" y2="122.65" />
        </g>
        <g>
          <line class="st1" x1="86.46" y1="157.02" x2="62.41" y2="157.02" />
          <line class="st1" x1="86.46" y1="150.77" x2="62.41" y2="150.77" />
          <line class="st2" x1="86.46" y1="122.65" x2="62.41" y2="122.65" />
        </g>
        <g>
          <line class="st1" x1="62.41" y1="157.02" x2="38.35" y2="157.02" />
          <line class="st1" x1="62.41" y1="150.77" x2="38.35" y2="150.77" />
          <line class="st2" x1="62.41" y1="122.65" x2="38.35" y2="122.65" />
        </g>
        <g>
          <polyline class="st1" points="10.23,28.65 10.23,9.9 28.98,9.9" />
          <rect x="10.23" y="9.9" class="st1" width="6.25" height="6.25" />
          <rect x="22.73" y="9.9" class="st1" width="6.25" height="6.25" />
          <rect x="10.23" y="22.4" class="st1" width="6.25" height="6.25" />
          <polyline class="st1" points="10.23,22.4 3.98,22.4 3.98,3.65 22.73,3.65 22.73,9.9" />
          <polyline class="st1" points="10.23,28.65 3.98,28.65 3.98,38.02" />
          <rect x="3.98" y="28.65" class="st1" width="6.25" height="6.25" />
          <polyline class="st1" points="28.98,9.9 28.98,3.65 38.35,3.65" />
          <rect x="28.98" y="3.65" class="st1" width="6.25" height="6.25" />
          <line class="st1" x1="10.23" y1="34.9" x2="10.23" y2="38.02" />
          <line class="st1" x1="35.23" y1="9.9" x2="38.35" y2="9.9" />
        </g>
        <g>
          <polyline class="st1" points="336.35,9.9 355.1,9.9 355.1,28.65" />
          <rect x="348.85" y="9.9" class="st1" width="6.25" height="6.25" />
          <rect x="348.85" y="22.4" class="st1" width="6.25" height="6.25" />
          <rect x="336.35" y="9.9" class="st1" width="6.25" height="6.25" />
          <polyline class="st1" points="342.6,9.9 342.6,3.65 361.35,3.65 361.35,22.4 355.1,22.4" />
          <polyline class="st1" points="336.35,9.9 336.35,3.65 326.98,3.65" />
          <rect x="330.1" y="3.65" class="st1" width="6.25" height="6.25" />
          <polyline class="st1" points="355.1,28.65 361.35,28.65 361.35,38.02" />
          <rect x="355.1" y="28.65" class="st1" width="6.25" height="6.25" />
          <line class="st1" x1="330.1" y1="9.9" x2="326.98" y2="9.9" />
          <line class="st1" x1="355.1" y1="34.9" x2="355.1" y2="38.02" />
        </g>
        <g>
          <polyline class="st1" points="355.1,132.02 355.1,150.77 336.35,150.77" />
          <rect x="348.85" y="144.52" class="st1" width="6.25" height="6.25" />
          <rect x="336.35" y="144.52" class="st1" width="6.25" height="6.25" />
          <rect x="348.85" y="132.02" class="st1" width="6.25" height="6.25" />
          <polyline class="st1" points="355.1,138.27 361.35,138.27 361.35,157.02 342.6,157.02 342.6,150.77" />
          <polyline class="st1" points="355.1,132.02 361.35,132.02 361.35,122.65" />
          <rect x="355.1" y="125.77" class="st1" width="6.25" height="6.25" />
          <polyline class="st1" points="336.35,150.77 336.35,157.02 326.98,157.02" />
          <rect x="330.1" y="150.77" class="st1" width="6.25" height="6.25" />
          <line class="st1" x1="355.1" y1="125.77" x2="355.1" y2="122.65" />
          <line class="st1" x1="330.1" y1="150.77" x2="326.98" y2="150.77" />
        </g>
        <g>
          <polyline class="st1" points="28.98,150.77 10.23,150.77 10.23,132.02" />
          <rect x="10.23" y="144.52" class="st1" width="6.25" height="6.25" />
          <rect x="10.23" y="132.02" class="st1" width="6.25" height="6.25" />
          <rect x="22.73" y="144.52" class="st1" width="6.25" height="6.25" />
          <polyline class="st1" points="22.73,150.77 22.73,157.02 3.98,157.02 3.98,138.27 10.23,138.27" />
          <polyline class="st1" points="28.98,150.77 28.98,157.02 38.35,157.02" />
          <rect x="28.98" y="150.77" class="st1" width="6.25" height="6.25" />
          <polyline class="st1" points="10.23,132.02 3.98,132.02 3.98,122.65" />
          <rect x="3.98" y="125.77" class="st1" width="6.25" height="6.25" />
          <line class="st1" x1="35.23" y1="150.77" x2="38.35" y2="150.77" />
          <line class="st1" x1="10.23" y1="125.77" x2="10.23" y2="122.65" />
        </g>
      </g>
    </g>
  </g>
</svg>
