.winning-tab {
  color: white;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid white;
}

.winning-tab.active {
  background-color: white;
  color: black;
}

.player-a {
  transform: translate(-50%, -100%);
  transform: none;
}

.player-b {
  transform: translate(-50%, 70%);
  transform: none;
}

.mt-10 {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .retro-button .trade-button {
    max-width: 16.5rem;
  }
}

@media (max-width: 991px) {
  .player-cards {
    width: 100px;
  }
}
@media (max-width: 767px) {
  .player-cards {
    width: 100px;
  }
}
.pl-crd{
  width: 100px;
}
.playera,.playerb {
  display: inline-block;
  width: 75px;
}