.player-cards.andar-bahar .player-cont .badge {
  background-color: #f21a2c;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  font-weight: bolder;
  margin-right: 0;
  padding: 0;
}

.player-cards.andar-bahar h6 {
  text-align: left;
}

.retro-button .trade-button {
  min-width: 31%;
}

.pl-crd {
  width: 175px;
}

.winning-message-video {
  top: -10%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   z-index: 1;
// }

.playera {
  display: inline-block;
  margin: 1px 5px;
  width: 75px;
  margin-top: 8px;
}

.flipcard {
  height: 30px;
}

@media (max-width: 991px) {

  .player-cards {
    width: 175px;
  }

  .player-cards h6 {
    margin-top: 0px;
  }

  .player-cards h6 span {
    margin-right: 0px;
    margin-top: -2px;
    width: 15px;
    height: 15px;
  }

  .playera {
    margin-top: 18px;
  }
}

@media (max-width: 767px) {
  .player-cards {
    width: 175px;
    z-index: 1000;
  }
}

.live-casino-player,
.video-area {
  min-height: 240px;
}

.modal-body {
  .player-cards {
    width: 220px;

    .playera {
      width: 95px;
    }
  }
}

