  .winning-tab {
    color: white;
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid white;
  }

  .winning-tab.active {
    background-color: white;
    color: black;
  }

  // .game-status {
  //   height: calc(100% - 106px);
  // }

  .player-a {
    transform: translate(-50%, -100%);
    transform: none;
  }

  .player-b {
    transform: translate(-50%, 70%);
    transform: none;
  }

  .mt-10 {
    margin-top: 10px;
  }

  .winning-message-video {
    top: 3%;
  }

  // .who-wins {
  //   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
  //   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
  //   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
  // }

  .pl-crd {
    width: 100px;
  }

  @media (max-width: 991px) {
    .player-cards {
      width: 100px;
      padding: 5px;
    }

    //   .game-status {
    //     height: calc(100% - 101px);
    //   }
  }

  @media (max-width: 767px) {
    .flipcard {
      height: 20px;
    }

    .player-cards {
      width: 100px;
    }

    .player-cards h6 {
      margin-top: 0px;
    }

    .playera,
    .playerb {
      margin: 5px;
    }

    .retro-button .trade-button {
      max-width: 16.5rem;
    }

    .game-result {
      margin-top: 5px;
    }

    //   .game-status {
    //     height: calc(100% - 70px);
    //   }
  }
  .pl-crd{
    z-index: 111;
  }