.market-history {
  margin: 100px 0px 10px 0px;
  padding: 0px 5px;

  .mt-10 {
    margin-top: 10px;
  }

  .container {
    background: white;
    padding: 30px !important;
    border-radius: 10px;
  }

  .pagination {
    float: left;
    width: 100%;
    margin: 0 0 30px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 10px 0px;
    text-align: center;

    .page-number {
      margin-bottom: 0;
      padding-inline-start: 0px;
    }

    .page-number>li {
      display: inline-block;
    }

    .page-number>li>a {
      background: #f1f1f1;
      border-radius: 3px;
      color: #363f4d;
      display: inline-block;
      padding: 0;
      font-size: 1em;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      line-height: 32px;
      height: 32px;
      width: 32px;
    }

    .page-number>li.disabled,
    .page-number>li.disabled:hover {
      color: #6c757d;
      pointer-events: none;
      cursor: not-allowed;
      background-color: #fff;
      border-color: #dee2e6;
    }

    .page-number>li.active>a,
    .page-number>li>a:hover {
      background: #337ab7;
      color: #fff;
      cursor: pointer;
    }
  }
}

.poker-card-block {
  width: 285px;
  display: inline-block;
}

@media (max-width: 767px) {
  .market-history {
    margin: 0;
    margin-top: 50px;
    padding: 0px;
    margin-bottom: 20px;

    .container {
      padding: 10px !important;
    }
  }
}

.no-position {
  position: unset !important;
}

.modal-header .close {
  margin-top: 1%;
}

.player-advanced {
  border-radius: 5px;
  background-color: rgba(40, 0, 41, 0.85);
  padding: 10px 5px;
  color: #fff;
  width: 100% !important;
  margin: 5px auto 0px auto;
  overflow: hidden;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  text-align: center;
}

.table-betview>tbody>tr>td {
  font-weight: 900;
}

.btn-search {
  // background-image: linear-gradient(-90deg, #fdd437 0%, #f6a422 100%);
  background: linear-gradient(180deg,#9e4efc 0,#570dc8);
  color: #fff;
  box-shadow: 0 6px 0 0 #3a0090;
  font-weight: 600;
  text-shadow: 3px 3px 0 #581306;
  border: none;
  padding: 6px 30px;
}

.ghistoryResult .player-cards {
  background-color: rgba(0, 0, 0, 1);
}

.form-control {
  font-weight: bold;

  option {
    font-weight: bold;
  }
}

.winner-hand {
  color: #f7ac25;
  font-weight: bold;
}

.w-33 {
  width: 33.3%;
  padding: 0 10px !important;
}

.card-race {
  width: 50%;
}

@media (max-width: 450px) {
  .player-cards h6 {
    display: none;
  }

  .card-race {
    width: 100%;
  }

  .ghistoryResult .player-cards .playera,
  .ghistoryResult .player-cards .playerb,
  .modal .player-cards .playera,
  .modal .player-cards .playerb {
    padding: 5px;
  }
}
