.flipcard {
  width: 30px;
  height: 40px;
  margin: 0 3px;
}

.flipcard .front img,
.flipcard .back img {
  width: 100%;
  height: 100%;
}

.historycard.flipcard {
  width: 28px;
  height: 45px;
}

.pl-crd {
  width: 100%;
  top: 0;
  right: 0;
}

.winning-message-video {
  top: 15%;
}

// .who-wins {
//   background: -moz-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: -webkit-linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
//   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #eadd99 35%, #b2872978 50%, #eadd99 65%, rgba(178, 135, 41, 0) 100%);
// }

.player-cards {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 428px;
  padding: 0;
  overflow: hidden;
}

.player-cards.andar-bahar h6 {
  font-size: 15px;
}

.playera,
.playerb {
  width: 50%;
  float: left;
  padding-right: 10px;

  h6 {
    span {
      color: var(--primary-font-color);
      background: rgba(0, 0, 0, 0.6);
      border: 2px solid var(--primary-font-color);
      padding: 2px 20px;
      letter-spacing: 0;
      border-radius: 20px;
      font-weight: bold;
      width: auto;
      height: auto;
    }
  }
}

.playera {
  text-align: right;

  h6 {
    span {
      float: right;
    }
  }
}

.playerb {
  text-align: left;

  h6 {
    span {
      float: left;
    }
  }
}

.modal-body {
  .player-cards {
    background-image: none;
    height: auto;
    max-width: 100%;
    width: 270px;
  }
}

.m-t-165 {
  margin-top: 220px;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
}

.w-25 {
  width: 10% !important;
  padding-right: 0px !important;
  text-align: center;
}

.p-r-0 {
  padding-right: 0px !important;
}

.m-l-80 {
  margin: 0px 30px;
}

.pr-40 {
  padding-right: 40px !important;
}

.bottomPlayera {
  padding-right: 30px;
}

.bottomPlayerb {
  padding-left: 30px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.player1 {
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
  margin-left: 47%;
}

.player2 {
  margin-bottom: 0;
  text-align: center;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: -45%;
}

.player3 {
  margin-bottom: 0;
  text-align: center;
  width: 40%;
  float: left;
  margin-left: 10%;
  margin-top: 10px;
}

.player4 {
  margin-bottom: 0;
  text-align: center;
  width: 40%;
  float: left;
  margin-top: 10px;
}

.player5 {
  margin-bottom: 0;
  text-align: center;
  margin-left: -80%;
  margin-top: 10%;
}

.player6 {
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
  margin-left: -51%;
}

@media (max-width: 1180px) {
  .m-t-165 {
    width: 95%;
    margin-left: 3%;
  }
}

@media (max-width: 1180px) {
  .m-t-165 {
    width: 100%;
    margin-left: 0%;
  }
}

@media (max-width: 991px) {
  .player-cards.andar-bahar .player-cont {
    display: block;
  }

  .player1 {
    margin-left: 0%;
  }

  .player2 {
    margin-right: -30%;
    margin-left: 0;
  }

  .player5 {
    margin-left: -30%;
  }

  .m-t-165 {
    width: 60%;
    margin: auto;
    margin-top: 200px;
  }

  .m-l-80 {
    margin: 0px 0px;
  }

  .pr-40 {
    padding-right: 0px !important;
  }

  .w-25 {
    width: 25% !important;
    padding-right: 0px !important;
  }

  .modal-body {
    .player-cards {
      width: 100%;
    }
  }

  .winning-message-video {
    top: 8%;
  }

  .player-cards {
    height: 480px;
  }

  .pl-crd {
    position: absolute !important;
  }

  .playera,
  .playerb {
    text-align: center !important;
    padding: 0;

    h6 {
      span {
        float: none;
        margin: 0;
      }
    }
  }

  .player6 {
    margin-left: 21%;
  }
}

.player-cont.w-50 {
  width: 33%;
}

@media (max-width: 875px) {
  .m-t-165 {
    width: 65%;
  }
}

@media (max-width: 800px) {
  .m-t-165 {
    width: 80%;
    margin-top: 190px;
  }
}

@media (max-width: 767px) {
  .m-t-165 {
    width: 80%;
  }

  .flipcard {
    height: 38px;
  }

  .player-cards {
    height: 420px;
  }

  .video-area-425 {
    height: 420px;
  }

  .retro-button .trade-button {
    max-width: 16.5rem;
  }
}

@media (max-width: 660px) {
  .m-t-165 {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .m-t-165 {
    width: 100%;
    margin-top: 180px;
  }
}

.virtual-background {
  // background-image: url("/assets/images/red-background-double.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 555px;
  background-position-y: -65px;
  background-position-x: 45%;
  float: left;
  width: 100%;
  max-width: 897px;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
}

.casinocard {
  // box-shadow: 0 0 2px rgba(255,255,255,0.5);
  border: 1px solid rgb(255 255 255 / 0.1);
  border-radius: 2px;
}

@media (max-width: 600px) {
  .flipcard {
    height: 47px;
    width: 35px;
  }

  .player-cards.andar-bahar h6 {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .flipcard {
    height: 40px;
    width: 30px;
  }

  .player3,
  .player4 {
    margin-top: 20px;
  }

  .player2,
  .player5 {
    margin-top: 15%;
  }
}

@media (max-width: 425px) {
  .flipcard {
    height: 40px;
    width: 28px;
    margin: 2px;
  }

  .player3,
  .player4 {
    margin-top: 0;
  }

  .player2,
  .player5 {
    margin-top: 25%;
  }

  .m-t-165 {
    margin-top: 189px;
  }
}

@media (max-width: 375px) {
  .m-t-165 {
    margin-top: 204px;
  }

  .flipcard {
    height: 35px;
    width: 25px;
    margin: 1PX;
  }
}

.game-timer {
  left: 5px;
}

@media(width:1024px) {
  .m-t-165 {
    margin-top: 223px;
  }
}

@media(max-width:320px) {
  .flipcard {
    margin: 0.5PX;
  }

  .m-t-165 {
    margin-top: 200px;
  }
}
