<div class="container-fluid">
  <div class="row gutters-5" [hidden]="!IsVerified">
    <div class="col-md-8">
      <div class="virtual-card-box">
        <div class="winning-message-video" *ngIf="GameWinner.Silver && GameWinner.Gold">
          <div class="who-wins">
            WINNER
            <br><span>Silver : {{GameWinner.Silver}}</span>
            <br><span>Gold : {{GameWinner.Gold}}</span>
          </div>
        </div>
        <div class="second-left-part" (click)="constant.getGameRule(GameID)">
          <a href="#RulesPopup" data-toggle="modal"> <i class="fa fa-info-circle" title="Rule"></i></a>
        </div>
        <div class="game-timer virtual-game-timer">
          <app-timer [seconds]="countDown" [time]="totalTime"></app-timer>
        </div>
        <app-virtual-card-view [GameCard]="GameCard" [GameCode]="GameCode" [GameID]="GameID"></app-virtual-card-view>
        <div class="agent-logo">
          <img src="{{GameDetails.LogoPath}}" alt="">
        </div>
      </div>

      <div class="match-odds">
        <div class="marketdivcontent">
          <div class="nopadding" posr>
            <div class="marketborder">
              <div class="col-md-6 col-sm-12 dis-show nopadding">
                <h3 class="markettitle text-center"><span>{{constant.GameName[GameCode]}} - {{DisplayID}}</span></h3>
              </div>
              <div class="posr">
                <div class="row backLeyCard">
                  <div class="col-xs-12 col-sm-3 p-0">
                    <div class="backLeyCard_title1">
                      Stake Limit :
                      <span class="red">{{MinStake(GameDetails)}}</span>&nbsp;-&nbsp;
                      <span class="text-bold red">
                        {{MaxStake(GameDetails)}}
                      </span>
                    </div>
                    <div class="backLeyCard_title1">
                      Max Profit :
                      <span class="red">{{MaxProfit(GameDetails)}}</span>
                    </div>
                  </div>
                  <div class="col-sm-8 p-0 dis-none">
                    <div class="backLeyCard_title2">
                      {{constant.GameName[GameCode]}} - {{DisplayID}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="posr">
              <div class="row m-0">
                <div class="col-xs-12 col-sm-6 p-0" style="margin-bottom: 10px;">
                  <table class="table table-market noMarginBottom custom-market">
                    <thead>
                      <tr class="row">
                        <th class="col-xs-12 p-0" colspan="3">
                          <h3 class="markettitle text-center" style="text-align: center;"><span
                              style="color: silver;font-weight: bolder;">Silver</span></h3>
                        </th>
                      </tr>
                      <tr class="row">
                        <th class="col-xs-4 text-center black back-silver sg-border"
                          *ngFor="let item of constant.GameRunner.VRPSR.Silver | keyvalue: constant.asIsOrder;">
                          {{item.value}}
                          <i *ngIf="item.value == 'Rock'" class="fa fa-hand-rock-o text-bolder"></i>
                          <i *ngIf="item.value == 'Paper'" class="fa fa-hand-paper-o text-bolder"></i>
                          <i *ngIf="item.value == 'Scissors'" class="fa fa-hand-scissors-o text-bolder"
                            style="transform: rotate(90deg);"></i>
                          <!-- <span style="display: block;" [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'"> {{PL[item.key + 'PL'] | number:'1.2-2'}}</span> -->
                        </th>
                      </tr>
                      <tr class="row">
                        <td class="col-xs-4 text-center pointer sg-border"
                          *ngFor="let item of constant.GameRunner.VRPSR.Silver | keyvalue: constant.asIsOrder;"
                          [ngClass]="item.key=='SilverRock'?'dragon-color':item.key=='SilverPaper'?'tiger-color':'tie-color'">
                          <a (click)="AddBet(item.key,1)" [hidden]="GameRate[item.key][1] == '-'" class="open-bet">
                            <div class="price white">{{GameRate[item.key][1]}}</div>
                          </a>
                        </td>
                      </tr>
                      <tr class="row mob-bet-slip"
                        *ngIf="(this.GameBetDetails.Runner == 'SilverRock' || this.GameBetDetails.Runner == 'SilverPaper' || this.GameBetDetails.Runner == 'SilverScissors') && ShowBetSlip">
                        <td class="col-xs-12" colspan="3">
                          <div class="bet-slip-player">
                            <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                              [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                              [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                              (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                            </app-bet-slip>
                          </div>
                        </td>
                      </tr>
                    </thead>
                  </table>
                  <div class="backLeyCard_gameStatus" *ngIf="!ShowGameStatusOverlay && SilverBet">
                    <div class="col-xs-12 p-0 backLeyCard_gameStatus_layer">
                      <div>
                        Suspended
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 p-0" style="margin-bottom: 10px;">
                  <table class="table table-market noMarginBottom custom-market">
                    <thead>
                      <tr class="row">
                        <th class="col-xs-12 p-0" colspan="3">
                          <h3 class="markettitle text-center" style="text-align: center;"><span
                              style="color: darkgoldenrod;font-weight: bolder;">Gold</span></h3>
                        </th>
                      </tr>
                      <tr class="row">
                        <th class="col-xs-4 text-center black back-gold sg-border"
                          *ngFor="let item of constant.GameRunner.VRPSR.Gold | keyvalue: constant.asIsOrder;">
                          {{item.value}}
                          <i *ngIf="item.value == 'Rock'" class="fa fa-hand-rock-o text-bolder"></i>
                          <i *ngIf="item.value == 'Paper'" class="fa fa-hand-paper-o text-bolder"></i>
                          <i *ngIf="item.value == 'Scissors'" class="fa fa-hand-scissors-o text-bolder"
                            style="transform: rotate(90deg);"></i>
                          <!-- <span style="display: block;" [ngClass]="(PL[item.key + 'PL'])>0?'green':'red'">{{PL[item.key + 'PL'] | number:'1.2-2'}}</span> -->
                        </th>
                      </tr>
                      <tr class="row">
                        <td class="col-xs-4 text-center pointer sg-border"
                          *ngFor="let item of constant.GameRunner.VRPSR.Gold | keyvalue: constant.asIsOrder;"
                          [ngClass]="item.key=='GoldRock'?'dragon-color':item.key=='GoldPaper'?'tiger-color':'tie-color'">
                          <a (click)="AddBet(item.key,1)" [hidden]="GameRate[item.key][1] == '-'" class="open-bet">
                            <div class="price white">{{GameRate[item.key][1]}}</div>
                          </a>
                        </td>
                      </tr>
                      <tr class="row mob-bet-slip"
                        *ngIf="(this.GameBetDetails.Runner == 'GoldRock' || this.GameBetDetails.Runner == 'GoldPaper' || this.GameBetDetails.Runner == 'GoldScissors') && ShowBetSlip">
                        <td class="col-xs-12" colspan="3">
                          <div class="bet-slip-player">
                            <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails"
                              [GameCode]="GameCode" [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay"
                              [GameStatus]="GameStatus" [GameID]="GameID" [RoundSummaryID]="RoundSummaryID"
                              (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
                            </app-bet-slip>
                          </div>
                        </td>
                      </tr>
                    </thead>
                  </table>
                  <div class="backLeyCard_gameStatus" *ngIf="!ShowGameStatusOverlay && GoldBet">
                    <div class="col-xs-12 p-0 backLeyCard_gameStatus_layer">
                      <div>
                        Suspended
                      </div>
                    </div>
                  </div>
                </div>
                <div class="backLeyCard_gameStatus" *ngIf="ShowGameStatusOverlay">
                  <div class="col-xs-12 p-0 backLeyCard_gameStatus_layer">
                    <div *ngIf="GameWinner=='Draw'">
                      Draw
                    </div>
                    <div *ngIf="GameWinner!='Draw'">
                      {{constant.GameStatus[GameStatus]}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn" data-toggle="modal"
          data-target="#matchbetsPopup">
          Bet List ({{GameBetList.length}})
        </button>
        <button type="button" class="btn btn-primary btn-lg text-uppercase mbtn green pull-right" data-toggle="modal"
          data-target="#matchresultPopup">
          Game Result
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-xs-12 betslip-web p-0">
        <app-bet-slip [(ShowBetSlip)]="ShowBetSlip" [(GameBetDetails)]="GameBetDetails" [GameCode]="GameCode"
          [PlayerPL]="PlayerPL" [ShowBetDelayOverlay]="ShowBetDelayOverlay" [GameStatus]="GameStatus" [GameID]="GameID"
          [RoundSummaryID]="RoundSummaryID" (onCalculatePL)="onCalculatePL($event)" (onValidateBet)="ValidateBet()">
        </app-bet-slip>
      </div>

      <!-- Oneclick Bet  Start-->
      <div class="marketborder one-click-bet">
        <app-one-click [isHeader]="false" [IsOneClick]="IsOneClick" (oneClick)="oneClick($event)"></app-one-click>
        <div *ngIf="IsOneClick && !IsEdit" class="one-click-value">
          <div class="btn-group mr-5" data-toggle="buttons">
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip1}"
              (click)="DefaultChip=GameDetails.Chip1;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip1}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip2}"
              (click)="DefaultChip=GameDetails.Chip2;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip2}}
            </label>
            <label class="btn btn-default" [ngClass]="{'active':DefaultChip==GameDetails.Chip3}"
              (click)="DefaultChip=GameDetails.Chip3;EditOneClickChips(1);">
              <input type="radio" name="options"> {{GameDetails.Chip3}}
            </label>
          </div>
          <button type="button" class="btn btn-success one-click-edit-btn" (click)="EditOneClickChips(0)">Edit
          </button>
        </div>
        <div *ngIf="IsOneClick && IsEdit" class="one-click-edit">
          <div class="form-inline">
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip1"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip2"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" min="1" [(ngModel)]="OneClickChips.Chip3"
                (keypress)="constant.checkNumeric($event)" onpaste="return false;"
                onkeypress="if(this.value.length==6) return false;if(event.key==='.'){event.preventDefault();}">
            </div>
            <button type="submit" class="btn btn-success one-click-save"
              (click)="AddUpdateOneClickChips()">Save</button>
            <button type="reset" class="btn btn-danger one-click-cancel" (click)="IsEdit=false">Cancel</button>
          </div>
        </div>
      </div>
      <!-- Oneclick Bet End -->

      <!-- Bet List Start-->
      <div class="betslip-container matchedbet">
        <app-bet-list [isModal]="false" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
          [betList]="GameBetList"></app-bet-list>
      </div>
      <!-- Bet List End-->
      <!-- History Result Start -->
      <div class="marketborder hidden-xs matchedbet" style="margin-top: 10px;">
        <div class="col-md-12 col-sm-12 nopadding">
          <h3 class="markettitle text-center"><span>Game Result</span></h3>
        </div>
        <div class="marketdivcontent">
          <div class="nopadding text-center" posr>
            <div class="title-list" *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{RPSWinnerResult(item.Winner)}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- History Result End -->

    </div>
  </div>
</div>

<div class="overlay"></div>

<!-- <app-rules *ngIf="GameCode" [code]="GameCode"></app-rules> -->

<app-chips-setting [minStack]="GameDetails.MinStakePerBet" [maxStack]="GameDetails.MaxStakePerBet"></app-chips-setting>

<app-error *ngIf="!IsVerified" [errorMessage]="DisplayMessage"></app-error>

<app-bet-list [isModal]="true" [gameCode]="GameCode" [displayId]="DisplayID" [show]="ShowBetList"
  [betList]="GameBetList"></app-bet-list>

<!-- Round History Pop Up Start -->
<div id="RhistoryPopup" class="modal fade modal-scroll" style="z-index: 1054;" tabindex="-1" data-replace="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title markettitle">{{constant.GameName[GameCode]}} (ID - {{GameHistoryDetails.DisplayID}})</h4>
      </div>
      <div class="modal-body">
        <div class="player-cards dragon-tiger">
          <div class="playera text-center" style="text-align: center;">
            <h6>Silver </h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.SilverCard[0]]}}"> </div>
            </div>
            <!-- <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Silver'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Gold'">Loser</div> -->
          </div>
          <div class="playerb text-center" style="text-align: center;">
            <h6>Gold </h6>
            <div class="historycard flipcard h ">
              <div class="front"><img src="{{constant.CardImages['Back']}}"></div>
              <div class="back"><img class="casinocard"
                  src="{{constant.CardImages[GameHistoryDetails.GoldCard[0]]}}"> </div>
            </div>
            <!-- <div class="game-result win" *ngIf="GameHistoryDetails.Winner=='Gold'">Winner</div>
            <div class="game-result loss" *ngIf="GameHistoryDetails.Winner=='Silver'">Loser</div> -->
          </div>
          <div class="game-result draw">
            <br> Silver : {{GameHistoryDetails.Winner.Silver}}
            <br> Gold : {{GameHistoryDetails.Winner.Gold}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Round History Pop Up End -->
<!-- Game Result Popup Start-->
<div id="matchresultPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          x
        </button>
        <h4 class="modal-title">Game Result</h4>
      </div>
      <div class="modal-body result-background">
        <div class="marketdivcontent">
          <div class="nopadding text-align" posr>
            <div class="title-list" *ngFor="let item of GameHistoryList">
              <a href="#RhistoryPopup" data-toggle="modal" (click)="SetHistoryCards(item)">
                <div class="list">
                  <span>{{RPSWinnerResult(item.Winner)}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Game Result Popup End-->
<!-- Game Rule -->
<div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
  <app-rules [rules]="constant.gameRule"></app-rules>
</div>
