.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
}

.modal-footer {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.75);
}

.mob-clearfix {
  display: none;
}

.des-clearfix {
  display: block;
}

@media (max-width: 991px) {
  .mob-clearfix {
    display: block;
  }

  .des-clearfix {
    display: none;
  }
}

.game-lobby {
  margin-top: 0;
}


/* Tab Navigation */
.nav-tabs {
  margin: 0;
  padding: 0;
  border: 0;

}



.nav-tabs>li>a {
  background: #DADADA;
  border-radius: 0;
  box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4), -2px -2px 5px -2px rgba(0, 0, 0, .4);
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover {
  background: #F5F5F5;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .4), -2px -3px 5px -2px rgba(0, 0, 0, .4);
}





.headerTabSet {
  &_scroll-menu {
    display: block;
    width: 100%;
    overflow: auto;
    height: 50px;
  }

  /* Tab Content */
  &_tab-pane {
    //   background: transparent;
    //   box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    //   border-radius: 0;
    text-align: center;
    min-height: 700px;
    //   padding: 10px;
  }

  &_tabs-center {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  li a {
    padding: 0 5px;
    min-width: auto;
    max-width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--primary-font-color);
    border-radius: 15px;
    margin-right: 10px;
    font-size: 10px;
    letter-spacing: .5px;
    color: #fff;
    background-color: transparent;
    text-align: center;
    width: 110px;
  }

  li a:hover {
    background: #d5c66c;
    border: 1px solid var(--primary-font-color);
  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:hover {
    background: var(--primary-font-color);
    box-shadow: inset 0 0 0 0 rgb(0 0 0 / 40%), -2px -3px 5px -2px rgb(0 0 0 / 40%);
    color: black;
  }

  span {
    font-size: 16px
  }
}

@media (max-width:768px) {
  ul {
    width: 150%;
  }

  .paddle {
    position: absolute;
    margin-top: -23px;
    background: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 1px;
    outline: none;
    border: none;
  }

  .left-paddle {
    left: 0;
  }

  .d-none {
    display: block !important;
  }


  .right-paddle {
    right: 0;
  }

  .d-none-left-arrow {
    display: none;
  }

}

.d-none {
  display: none;
}

#scroll-menu {
  box-sizing: border-box;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
