<div class="site-wrapper">
  <header class="site-header site-header--landing" *ngIf="IsVerified && ShowGameList">
    <nav class="main-nav">
      <div class="btn-group show-on-hover">
        <!-- <button type="button" class="btn btn-default">
          <i class="fa fa-credit-card" aria-hidden="true"></i> <span class="hidden-xs">Balance :</span> ₹
          {{GameBalance}}
        </button> -->
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-credit-card" aria-hidden="true"></i> <span class="hidden-xs">Balance :</span> ₹
          {{GameBalance}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a><i class="fa fa-credit-card"></i> Liablity : ₹ {{GameLiability | number:'1.2-2'}} </a></li>
        </ul>
      </div>
    </nav>
    <div class="header-logo header-logo--img">
      <a>
        <img src="assets/images/logo/supernowa-logo.png" alt="Supernowa" title="Supernowa" class="logo-web">
        <img src="assets/images/logo/supernowa-circle.png" alt="Supernowa" title="Supernowa" class="logo-mobile">

        <!-- <img src="assets/images/victor-logo.png" alt="Supernowa" title="Supernowa" class="logo-web">
        <img src="assets/images/victor-logo-star.png" alt="Supernowa" title="Supernowa" class="logo-mobile"> -->
      </a>
    </div>
    <nav class="main-nav">
      <div class="btn-group show-on-hover">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false" style="min-width:120px;">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i> <span class="hidden-xs">Welcome,</span> {{UserName}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a (click)="OpenMarketHistory()"><i class="fa fa-file-excel-o hidden-xs"></i> Transaction Report </a></li>
          <li><a (click)="OpenRoundHistory()"><i class="fa fa-file-excel-o hidden-xs"></i> Round History </a></li>
          <li><a (click)="Logout()"><i class="fa fa-power-off hidden-xs"></i> Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="row m-0 headerTabSet" style="margin-top: 10px;" *ngIf="IsVerified && ShowGameList">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    <div class="headerTabSet_scroll-menu" [ngClass]="{'pl-0':getLeftScroll}" id="scroll-menu">
      <ul class="nav nav-tabs headerTabSet_tabs-center headerTabSet_ul" role="tablist">
        <li [ngClass]="selectedfiterType==fiterType.All ? 'active':''">
          <a href="javascript:void(0);" (click)="gameFilterList(fiterType.All)">
            <span>All</span>
          </a>
        </li>
        <li [ngClass]="selectedfiterType==fiterType.Live ? 'active':''">
          <a href="javascript:void(0);" (click)="gameFilterList(fiterType.Live)">
            <span>Live</span>
          </a>
        </li>
        <li [ngClass]="selectedfiterType==fiterType.Virtual ? 'active':''">
          <a href="javascript:void(0);" (click)="gameFilterList(fiterType.Virtual)">
            <span>Virtual</span>
          </a>
        </li>
        <li [ngClass]="selectedfiterType==fiterType.PowerGames ? 'active':''">
          <a href="javascript:void(0);" (click)="gameFilterList(fiterType.PowerGames)">
            <span>Power Games</span>
          </a>
        </li>
      </ul>
      <div class="d-none">
        <button class="left-paddle paddle" (click)="left()" [ngClass]="{'d-none-left-arrow':getLeftScroll}">
          <i class="fa fa-arrow-circle-left"></i>
        </button>
        <button class="right-paddle paddle" (click)="right()">
          <i class="fa fa-arrow-circle-right"></i>
        </button>
      </div>
    </div>


  </div>
  <div class="container headerTabSet" *ngIf="IsVerified && ShowGameList">
    <div class="tab-content">
      <div class="headerTabSet_tab-pane fade active in">
        <main class="site-content text-center" *ngIf="IsVerified && ShowGameList">
          <div class="site-content__center">
            <div class="">
              <div class="game-lobby">
                <div class="row gutters-5">
                  <ng-container *ngFor="let item of tmpGameList;let i = index;">
                    <div class="col-xs-6 col-sm-6 col-md-3" title="{{item.Name}}" data-toggle="tooltip">
                      <a class="cursor-pointer">
                        <div class="lobby-list" (click)="NavigatoToGame(item)">
                          <div class="lobby-holder">
                            <img src="{{item.ImagePath}}" onerror="this.src='assets/images/teen-patti.jpg';"
                              class="img-responsive" alt="{{item.Name}}">
                            <!--  {{this.staticImage[i].image}} -->
                            <!-- onerror="this.onerror=null;this.src='{{getImage(i)}}'" -->
                            <!-- {{item.ImagePath}} -->
                            <!-- {{getImage(i)}} -->
                            <div class="game-name">
                              <div class="c--anim-btn">
                                <span class="c-anim-btn">
                                  {{item.Name}}
                                </span>
                                <span>
                                  Play Now !
                                </span>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-xs-12 mob-clearfix" *ngIf="(i+1)%2==0"></div>
                    <div class="col-xs-12 des-clearfix" *ngIf="(i+1)%4==0"></div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  <!-- <main class="site-content text-center" *ngIf="IsVerified && ShowGameList">
    <div class="site-content__center">
      <div class="container">
        <div class="game-lobby">
          <div class="row gutters-5">
            <ng-container *ngFor="let item of GameList;let i = index;">
              <div class="col-xs-6 col-sm-6 col-md-3" title="{{item.Name}}" data-toggle="tooltip">
                <a class="cursor-pointer">
                  <div class="lobby-list" (click)="OpenGameRule(item)">
                    <div class="lobby-holder">
                      <img src="{{item.ImagePath}}" onerror="this.src='assets/images/teen-patti.jpg';"
                        class="img-responsive" alt="{{item.Name}}">
                        <div class="game-name">
                          <div class="c--anim-btn">
                          <span class="c-anim-btn">
                            {{item.Name}}
                          </span>
                          <span>
                            Play Now !
                          </span>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-xs-12 mob-clearfix" *ngIf="(i+1)%2==0"></div>
              <div class="col-xs-12 des-clearfix" *ngIf="(i+1)%4==0"></div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </main> -->
  <!--  {{this.staticImage[i].image}} -->
  <!-- onerror="this.onerror=null;this.src='{{getImage(i)}}'" -->
  <!-- {{item.ImagePath}} -->
  <!-- {{getImage(i)}} -->
  <app-error *ngIf="!IsVerified" [errorMessage]="DisplayMessage"></app-error>


  <!-- Rules Pop Up Start -->
  <!-- <div id="RulesPopup" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            x
          </button>
          <h4 class="modal-title">Rules</h4>
        </div>
        <div class="modal-body text-left">
          <div [innerHtml]="SelectedGame?.Rules"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-md alert-success" data-dismiss="modal" aria-hidden="true"
            (click)="NavigatoToGame()">I Agree
          </button>
          <button type="button" class="btn btn-md alert-danger" data-dismiss="modal" aria-hidden="true"> Disagree
          </button>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Rules Pop Up End -->
  <app-footer></app-footer>
  <div class="landing-detail landing-detail--left"><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></div>
  <div class="landing-detail-cover landing-detail-cover--left"><span>&nbsp;</span> <span>&nbsp;</span>
    <span>&nbsp;</span></div>
  <div class="landing-detail landing-detail--right"><span>&nbsp;</span> <span>&nbsp;</span> <span>&nbsp;</span></div>
  <div class="landing-detail-cover landing-detail-cover--right"><span>&nbsp;</span> <span>&nbsp;</span>
    <span>&nbsp;</span></div>
</div>
